.dot_constrast {
    #dot1 {
        right: 81.9%;
        top: 50.9%;
    }

    #dot2 {
        right: 68.9%;
        top: 39.5%;
    }

    #dot3 {
        right: 48.1%;
        top: 32.4%;
    }

    #dot4 {
        right: 16.3%;
        top: 38.8%;
    }

    #dot5 {
        right: 5.2%;
        top: 50.8%;
    }

    #dot6 {
        right: 57.6%;
        top: 47.4%;
    }

    #dot7 {
        right: 38.6%;
        top: 43%;
    }

    #dot8 {
        right: 24.3%;
        top: 47.6%;
    }

    #dot9 {
        right: 67.2%;
        top: 56.3%;
    }

    #dot10 {
        right: 46.7%;
        top: 54.8%;
    }

    #dot11 {
        right: 32%;
        top: 58.3%;
    }

    #dot12 {
        right: 66.1%;
        top: 70.5%;
    }

    #dot13 {
        right: 41.2%;
        top: 66.5%;
    }

    #dot14 {
        right: 19.4%;
        top: 66.5%;
    }

    #line1 {
        width: 15.2%;
        left:10.5%;
        top: 47.6%;
        transform: rotate(-30.21deg);
    }

    #line2 {
        width: 21.2%;
        left: 24.5%;
        top: 38.4%;
        transform: rotate(-12.94deg);
    }

    #line3 {
        width: 32%;
        left: 45.3%;
        top: 38%;
        transform: rotate(7.48deg);
    }

    #line4 {
        width: 13.7%;
        left: 75.9%;
        top: 47%;
        transform: rotate(35.5deg);
    }

    #line5 {
        width: 24.4%;
        left: 11.5%;
        top: 51.5%;
        transform: rotate(-5.48deg);
    }

    #line6 {
        width: 19.2%;
        left: 35.8%;
        top: 47.5%;
        transform: rotate(-8.73deg);
    }

    #line7 {
        width: 14.6%;
        left: 54.8%;
        top: 47.7%;
        transform: rotate(12.21deg);
    }

    #line8 {
        width: 19.3%;
        left: 69.1%;
        top: 51.5%;
        transform: rotate(5.96deg);
    }

    #line9 {
        left: 11.4%;
        top: 55.8%;
        width: 15.2%;
        transform: rotate(13.3deg);
    }

    #line10 {
        left: 26.3%;
        top: 57.7%;
        width: 20.5%;
        transform: rotate(-2.8deg);
    }

    #line11 {
        left: 46.7%;
        top: 58.8%;
        width: 14.9%;
        transform: rotate(9.04deg);
    }

    #line12 {
        left: 61.3%;
        top: 56.8%;
        width: 27.3%;
        transform: rotate(-10.6deg);
    }

    #line13 {
        left: 9.2%;
        top: 62.9%;
        width: 20.5%;
        transform: rotate(39.57deg);
    }
    #line14 {
        left: 27.3%;
        top: 70.8%;
        width: 25.1%;
        transform: rotate(-6.11deg);
    }
    #line15 {
        left: 52.3%;
        top: 68.7%;
        width: 21.8%;
        transform: rotate(-0.23deg);
    }
    #line16 {
        left: 72.3%;
        top: 60.8%;
        width: 17.8%;
        transform: rotate(-36.6deg);
    }

   
}