.dot_dewdrop {
    #dot1 {
        right: 70.8%;
        top: 52.9%;
    }

    #dot2 {
        right: 82.1%;
        top: 34.4%;
    }

    #dot3 {
        right: 54.6%;
        top: 44.1%;
    }

    #dot4 {
        right: 39.1%;
        top: 36.5%;
    }

    #dot5 {
        right: 32.2%;
        top: 52.1%;
    }

    #dot6 {
        right: 82.1%;
        top: 69.3%;
    }

    #dot7 {
        right: 58.5%;
        top: 65.9%;
    }

    #dot8 {
        right: 41.6%;
        top: 71.3%;
    }

    #dot9 {
        right: 20.3%;
        top: 42.3%;
    }

    #dot10 {
        right: 4.8%;
        top: 34.5%;
    }

    #dot11 {
        right: 17.9%;
        top: 65.3%;
    }

    #dot12 {
        right: 5%;
        top: 73.3%;
    }


    #line1 {
        left: 8.7%;
        top: 45.6%;
        width: 16.7%;
        transform: rotate(47.23deg);
    }

    #line2 {
        left: 11%;
        top: 41.3%;
        width: 28.3%;
        transform: rotate(13.3deg);
    }

    #line3 {
        left: 38.5%;
        top: 42.3%;
        width: 16.3%;
        transform: rotate(-18.16deg);
    }

    #line4 {
        left: 51.6%;
        top: 46.3%;
        width: 12.5%;
        transform: rotate(56.42deg);
    }

    #line5 {
        left: 9.5%;
        top: 63%;
        width: 15.8%;
        transform: rotate(-44.14deg);
    }

    #line6 {
        left: 11.4%;
        top: 69.6%;
        width: 23.7%;
        transform: rotate(-5.45deg);
    }

    #line7 {
        left: 34.8%;
        top: 70.6%;
        width: 17.3%;
        transform: rotate(11.96deg);
    }

    #line8 {
        left: 48.7%;
        top: 63.7%;
        width: 15.9%;
        transform: rotate(-53.55deg);
    }

    #line9 {
        left: 60.5%;
        top: 49.1%;
        width: 13.5%;
        transform: rotate(-28.78deg);
    }

    #line10 {
        left: 72.8%;
        top: 40.3%;
        width: 16.5%;
        transform: rotate(-18.25deg);
    }

    #line11 {
        left: 60.1%;
        top: 60.6%;
        width: 16.8%;
        transform: rotate(31.79deg);
    }

    #line12 {
        left: 75.1%;
        top: 71.3%;
        width: 14%;
        transform: rotate(22.44deg);
    }

    
}