.dot_flash #dot1 {
  right: 82.4%;
  top: 49.4%;
}
.dot_flash #dot2 {
  right: 72.6%;
  top: 32.4%;
}
.dot_flash #dot3 {
  right: 51%;
  top: 32.4%;
}
.dot_flash #dot4 {
  right: 29.4%;
  top: 32.4%;
}
.dot_flash #dot5 {
  right: 5%;
  top: 52.3%;
}
.dot_flash #dot6 {
  right: 60.8%;
  top: 40.8%;
}
.dot_flash #dot7 {
  right: 40.1%;
  top: 42.4%;
}
.dot_flash #dot8 {
  right: 19%;
  top: 48%;
}
.dot_flash #dot9 {
  right: 67.8%;
  top: 59%;
}
.dot_flash #dot10 {
  right: 51.6%;
  top: 52.5%;
}
.dot_flash #dot11 {
  right: 30.3%;
  top: 58.5%;
}
.dot_flash #dot12 {
  right: 73.7%;
  top: 72.3%;
}
.dot_flash #dot13 {
  right: 43.7%;
  top: 68.1%;
}
.dot_flash #dot14 {
  right: 17.1%;
  top: 70%;
}
.dot_flash #line1 {
  left: 8.5%;
  top: 43.1%;
  width: 15%;
  transform: rotate(-49.05deg);
}
.dot_flash #line2 {
  left: 20.9%;
  top: 34.6%;
  width: 21.6%;
  transform: rotate(0deg);
}
.dot_flash #line3 {
  left: 42.5%;
  top: 34.6%;
  width: 21.6%;
  transform: rotate(0deg);
}
.dot_flash #line4 {
  left: 62.4%;
  top: 44.6%;
  width: 27.8%;
  transform: rotate(28.49deg);
}
.dot_flash #line5 {
  left: 10.7%;
  top: 47.3%;
  width: 22.4%;
  transform: rotate(-14.86deg);
}
.dot_flash #line6 {
  left: 32.7%;
  top: 43.8%;
  width: 20.7%;
  transform: rotate(3deg);
}
.dot_flash #line7 {
  left: 53.3%;
  top: 47.4%;
  width: 21.4%;
  transform: rotate(10.09deg);
}
.dot_flash #line8 {
  left: 74.4%;
  top: 52.4%;
  width: 14.3%;
  transform: rotate(11.44deg);
}
.dot_flash #line9 {
  left: 10.4%;
  top: 56.4%;
  width: 16%;
  transform: rotate(23.63deg);
}
.dot_flash #line10 {
  left: 25.5%;
  top: 58%;
  width: 16.7%;
  transform: rotate(-15deg);
}
.dot_flash #line11 {
  left: 41.7%;
  top: 57.8%;
  width: 21.6%;
  transform: rotate(10.66deg);
}
.dot_flash #line12 {
  left: 63%;
  top: 57.6%;
  width: 25.7%;
  transform: rotate(-9.34deg);
}
.dot_flash #line13 {
  left: 6.7%;
  top: 63.1%;
  width: 17.6%;
  transform: rotate(60.7deg);
}
.dot_flash #line14 {
  left: 19.8%;
  top: 72.4%;
  width: 30.1%;
  transform: rotate(-5.24deg);
}
.dot_flash #line15 {
  left: 49.8%;
  top: 71.3%;
  width: 26.6%;
  transform: rotate(2.69deg);
}
.dot_flash #line16 {
  left: 74%;
  top: 63.4%;
  width: 16.9%;
  transform: rotate(-44.4deg);
}
