.dot_fruit {
    #dot1 {
        right: 86.6%;
        top: 60.3%;
    }

    #dot2 {
        right: 79.8%;
        top: 32.4%;
    }

    #dot3 {
        right: 59.3%;
        top: 30.5%;
    }

    #dot4 {
        right: 35.8%;
        top: 34.6%;
    }

    #dot5 {
        right: 12.7%;
        top: 28%;
    }

    #dot6 {
        right: 71.4%;
        top: 44.3%;
    }

    #dot7 {
        right: 48.8%;
        top: 47.6%;
    }

    #dot8 {
        right: 28.6%;
        top: 44.5%;
    }

    #dot9 {
        right: 6.8%;
        top: 47.6%;
    }

    #dot10 {
        right: 69.7%;
        top: 57.1%;
    }

    #dot11 {
        right: 57.3%;
        top: 63.6%;
    }

    #dot12 {
        right: 32.5%;
        top: 59.4%;
    }

    #dot13 {
        right: 13.8%;
        top: 62.4%;
    }

    #dot14 {
        right: 72.5%;
        top: 74.3%;
    }

    #dot15 {
        right: 42.8%;
        top: 72.1%;
    }
    #dot16 {
        right: 19.8%;
        top: 78.4%;
    }
    #dot17 {
        right: 1.4%;
        top: 73.5%;
    }

    #line1 {
        left: 0.4%;
        top: 48.3%;
        width: 19.8%;
        transform: rotate(-69.81deg);
    }

    #line2 {
        left: 13.7%;
        top: 33.4%;
        width: 20.5%;
        transform: rotate(-3.27deg);
    }

    #line3 {
        left: 34.1%;
        top: 34.5%;
        width: 23.7%;
        transform: rotate(6.47deg);
    }

    #line4 {
        left: 57.5%;
        top: 33.3%;
        width: 23.6%;
        transform: rotate(-10.79deg);
    }

    #line5 {
        left: 5.2%;
        top: 54.2%;
        width: 18.6%;
        transform: rotate(-35.33deg);
    }

    #line6 {
        left: 22%;
        top: 47.9%;
        width: 22.7%;
        transform: rotate(5.48deg);
    }

    #line7 {
        left: 44.6%;
        top: 48%;
        width: 20.3%;
        transform: rotate(-5.64deg);
    }

    #line8 {
        left: 64.9%;
        top: 48%;
        width: 21.4%;
        transform: rotate(5.36deg);
    }

    #line9 {
        left: 6.9%;
        top: 60.7%;
        width: 17%;
        transform: rotate(-7.02deg);
    }

    #line10 {
        left: 23.5%;
        top: 62.3%;
        width: 13.1%;
        transform: rotate(19.36deg);
    }

    #line11 {
        left: 36.1%;
        top: 63.4%;
        width: 25%;
        transform: rotate(-6.32deg);
    }

    #line12 {
        left: 60.9%;
        top: 62.9%;
        width: 18.9%;
        transform: rotate(6.09deg);
    }

    #line13 {
        left: 5.5%;
        top: 69.2%;
        width: 16.8%;
        transform: rotate(33.3deg);
    }

    #line14 {
        left: 21%;
        top: 75.2%;
        width: 29.7%;
        transform: rotate(-2.73deg);
    }

    #line15 {
        left: 50.5%;
        top: 77.3%;
        width: 23.5%;
        transform: rotate(10.23deg);
    }

    #line16 {
        left: 73.6%;
        top: 77.9%;
        width: 18.6%;
        transform: rotate(-9.8deg);
    }
    
}