.dot_hira {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 86.7%;
        top: 44.9%;
    }

    #dot2 {
        right: 70.3%;
        top: 35.1%;
    }

    #dot3 {
        right: 53.1%;
        top: 35.5%;
    }

    #dot4 {
        right: 37.2%;
        top: 35.3%;
    }

    #dot5 {
        right: 27.4%;
        top: 49.9%;
    }

    #dot6 {
        right: 75.9%;
        top: 51.8%;
    }

    #dot7 {
        right: 63.1%;
        top: 46.5%;
    }

    #dot8 {
        right: 41.5%;
        top: 47.6%;
    }

    #dot9 {
        right: 68.8%;
        top: 66.3%;
    }

    #dot10 {
        right: 56.6%;
        top: 61.4%;
    }

    #dot11 {
        right: 42.7%;
        top: 64.9%;
    }

    #dot12 {
        right: 15.2%;
        top: 40.3%;
    }

    #dot13 {
        right: 1.1%;
        top: 36.5%;
    }

    #dot14 {
        right: 15.5%;
        top: 61.9%;
    }

    #dot15 {
        right: 3%;
        top: 66%;
    }

    #line1 {
        left: 6.2%;
        top: 41.6%;
        width: 17.6%;
        transform: rotate(-21.7deg);
    }

    #line2 {
        left: 23.2%;
        top: 36.9%;
        width: 17.3%;
        transform: rotate(0.83deg);
    }

    #line3 {
        left: 40.4%;
        top: 37%;
        width: 15.9%;
        transform: rotate(-0.6deg);
    }

    #line4 {
        left: 54.3%;
        top: 44.2%;
        width: 13.8%;
        transform: rotate(45deg);
    }

    #line5 {
        left: 6.4%;
        top: 49.9%;
        width: 11.7%;
        transform: rotate(23.09deg);
    }

    #line6 {
        left: 17.3%;
        top: 50.8%;
        width: 13.3%;
        transform: rotate(-15.26deg);
    }

    #line7 {
        left: 30.4%;
        top: 48.7%;
        width: 21.6%;
        transform: rotate(2deg);
    }

    #line8 {
        left: 52%;
        top: 50.4%;
        width: 14.2%;
        transform: rotate(6.08deg);
    }

    #line9 {
        left: 4.3%;
        top: 57.2%;
        width: 22.9%;
        transform: rotate(38.5deg);
    }

    #line10 {
        left: 24.5%;
        top: 65.4%;
        width: 12.6%;
        transform: rotate(-14.96deg);
    }

    #line11 {
        left: 36.8%;
        top: 64.8%;
        width: 14.1%;
        transform: rotate(9.52deg);
    }

    #line12 {
        left: 49.3%;
        top: 59%;
        width: 18.2%;
        transform: rotate(-33.25deg);
    }

    #line13 {
        left: 65.3%;
        top: 46.7%;
        width: 13.8%;
        transform: rotate(-27.65deg);
    }

    #line14 {
        left: 78.2%;
        top: 40%;
        width: 14.3%;
        transform: rotate(-10.07deg);
    }

    #line15 {
        left: 64.9%;
        top: 57.5%;
        width: 14.4%;
        transform: rotate(33.87deg);
    }

    #line16 {
        left: 77.9%;
        top: 65.6%;
        width: 12.8%;
        transform: rotate(12.41deg);
    }
    
}