.dot_lightning {

    #dot1 {
        right: 84.3%;
        top: 51%;
    }

    #dot2 {
        right: 74.3%;
        top: 38.3%;
    }

    #dot3 {
        right: 54.8%;
        top: 40%;
    }

    #dot4 {
        right: 39%;
        top: 39.3%;
    }

    #dot5 {
        right: 28.1%;
        top: 54.4%;
    }

    #dot6 {
        right: 70.7%;
        top: 57.1%;
    }

    #dot7 {
        right: 58.3%;
        top: 54%;
    }

    #dot8 {
        right: 43.3%;
        top: 57.8%;
    }

    #dot9 {
        right: 75.3%;
        top: 72.1%;
    }

    #dot10 {
        right: 58.7%;
        top: 68.6%;
    }

    #dot11 {
        right: 34.8%;
        top: 68.6%;
    }

    #dot12 {
        right: 18%;
        top: 42.4%;
    }

    #dot13 {
        right: 2.8%;
        top: 38.9%;
    }

    #dot14 {
        right: 14.4%;
        top: 67.5%;
    }

    #dot15 {
        right: 4.3%;
        top: 54.9%;
    }

    #line1 {
        left: 7.6%;
        top: 46.3%;
        width: 13.2%;
        transform: rotate(-40.13deg);
    }

    #line2 {
        left: 19.2%;
        top: 40.8%;
        width: 19.5%;
        transform: rotate(3.44deg);
    }

    #line3 {
        left: 38.7%;
        top: 41.3%;
        width: 15.8%;
        transform: rotate(-1.81deg);
    }

    #line4 {
        left: 52.5%;
        top: 48.4%;
        width: 14.9%;
        transform: rotate(42.73deg);
    }

    #line5 {
        left: 8.9%;
        top: 55.7%;
        width: 14.3%;
        transform: rotate(16.64deg);
    }

    #line6 {
        left: 22.7%;
        top: 57.2%;
        width: 12.6%;
        transform: rotate(-9.52deg);
    }

    #line7 {
        left: 35.1%;
        top: 57.5%;
        width: 15.2%;
        transform: rotate(9.46deg);
    }

    #line8 {
        left: 50.2%;
        top: 57.6%;
        width: 15.3%;
        transform: rotate(-8.13deg);
    }

    #line9 {
        left: 5.3%;
        top: 63.2%;
        width: 16.7%;
        transform: rotate(57.42deg);
    }

    #line10 {
        left: 18.1%;
        top: 72%;
        width: 16.8%;
        transform: rotate(-7.97deg);
    }

    #line11 {
        left: 34.8%;
        top: 70.3%;
        width: 23.8%;
        transform: rotate(0deg);
    }

    #line12 {
        left: 56.3%;
        top: 63.3%;
        width: 11.5%;
        transform: rotate(-53.88deg);
    }

    #line13 {
        left: 64%;
        top: 50%;
        width: 12.9%;
        transform: rotate(-38.43deg);
    }

    #line14 {
        left: 75.4%;
        top: 42.3%;
        width: 15.3%;
        transform: rotate(-8.75deg);
    }

    #line15 {
        left: 64.1%;
        top: 62.6%;
        width: 16.2%;
        transform: rotate(32.63deg);
    }

    #line16 {
        left: 77.5%;
        top: 62.9%;
        width: 13.3%;
        transform: rotate(-39.9deg);
    }
    
}