.dot_mine {

    #dot1 {
        right: 86.4%;
        top: 52.4%;
    }

    #dot2 {
        right: 79.6%;
        top: 27.5%;
    }

    #dot3 {
        right: 58.5%;
        top: 31.1%;
    }

    #dot4 {
        right: 35.7%;
        top: 29.9%;
    }

    #dot5 {
        right: 11.3%;
        top: 30.6%;
    }

    #dot6 {
        right: 69.5%;
        top: 42.6%;
    }

    #dot7 {
        right: 48.7%;
        top: 47.8%;
    }

    #dot8 {
        right: 25.1%;
        top: 42.5%;
    }

    #dot9 {
        right: 4.8%;
        top: 46%;
    }

    #dot10 {
        right: 71.3%;
        top: 57.8%;
    }

    #dot11 {
        right: 57.2%;
        top: 62.8%;
    }

    #dot12 {
        right: 34.4%;
        top: 60.4%;
    }

    #dot13 {
        right: 13.8%;
        top: 61.6%;
    }

    #dot14 {
        right: 69.8%;
        top: 75%;
    }

    #dot15 {
        right: 42.7%;
        top: 72%;
    }
    #dot16 {
        right: 20.8%;
        top: 78.1%;
    }
    #dot17 {
        right: 2.4%;
        top: 72.9%;
    }

    #line1 {
        left: 1.5%;
        top: 41.8%;
        width: 17.9%;
        transform: rotate(-67.61deg);
    }

    #line2 {
        left: 13.8%;
        top: 31.3%;
        width: 21.2%;
        transform: rotate(6.76deg);
    }

    #line3 {
        left: 35%;
        top: 32.5%;
        width: 22.9%;
        transform: rotate(-2.08deg);
    }

    #line4 {
        left: 57.8%;
        top: 32.2%;
        width: 24.4%;
        transform: rotate(0.98deg);
    }

    #line5 {
        left: 6.5%;
        top: 49.4%;
        width: 18.1%;
        transform: rotate(-20.77deg);
    }

    #line6 {
        left: 23.9%;
        top: 47.2%;
        width: 21.1%;
        transform: rotate(9.31deg);
    }

    #line7 {
        left: 44.7%;
        top: 47%;
        width: 23.8%;
        transform: rotate(-8.44deg);
    }

    #line8 {
        left: 68.4%;
        top: 46.3%;
        width: 20.5%;
        transform: rotate(6.52deg);
    }

    #line9 {
        left: 6.9%;
        top: 57%;
        width: 15.5%;
        transform: rotate(13.66deg);
    }

    #line10 {
        left: 22%;
        top: 62.3%;
        width: 14.6%;
        transform: rotate(13.24deg);
    }

    #line11 {
        left: 36.3%;
        top: 63.6%;
        width: 22.8%;
        transform: rotate(-3.98deg);
    }

    #line12 {
        left: 59.1%;
        top: 63%;
        width: 20.8%;
        transform: rotate(2.31deg);
    }

    #line13 {
        left: 4.1%;
        top: 65.6%;
        width: 22.5%;
        transform: rotate(42.3deg);
    }

    #line14 {
        left: 23.7%;
        top: 75.5%;
        width: 27.2%;
        transform: rotate(-4.22deg);
    }

    #line15 {
        left: 50.6%;
        top: 77.1%;
        width: 22.3%;
        transform: rotate(10.55deg);
    }

    #line16 {
        left: 72.6%;
        top: 77.5%;
        width: 18.7%;
        transform: rotate(-10.81deg);
    }
    
}