.dot_mist {
    #dot1 {
        right: 82.4%;
        top: 49.8%;
    }

    #dot2 {
        right: 62.3%;
        top: 28.6%;
    }

    #dot3 {
        right: 45.8%;
        top: 29.4%;
    }

    #dot4 {
        right: 28.7%;
        top: 29.6%;
    }

    #dot5 {
        right: 11.5%;
        top: 28.8%;
    }

    #dot6 {
        right: 63.9%;
        top: 50.1%;
    }

    #dot7 {
        right: 48.3%;
        top: 47.8%;
    }

    #dot8 {
        right: 30.3%;
        top: 50.5%;
    }

    #dot9 {
        right: 11.7%;
        top: 46.8%;
    }

    #dot10 {
        right: 60.7%;
        top: 68.4%;
    }

    #dot11 {
        right: 46.3%;
        top: 65.9%;
    }

    #dot12 {
        right: 29.2%;
        top: 70.5%;
    }

    #dot13 {
        right: 11.8%;
        top: 65.1%;
    }

    #line1 {
        left: 8.9%;
        top: 41.4%;
        width: 24.5%;
        transform: rotate(-35.04deg);
    }

    #line2 {
        left: 31.2%;
        top: 31.3%;
        width: 16.5%;
        transform: rotate(1.74deg);
    }

    #line3 {
        left: 47.7%;
        top: 31.8%;
        width: 17.2%;
        transform: rotate(0.56deg);
    }

    #line4 {
        left: 64.8%;
        top: 31.4%;
        width: 17.2%;
        transform: rotate(-1.95deg);
    }

    #line5 {
        left: 11.1%;
        top: 52.2%;
        width: 18.5%;
        transform: rotate(0.77deg);
    }

    #line6 {
        left: 29.5%;
        top: 51.2%;
        width: 15.7%;
        transform: rotate(-5.77deg);
    }

    #line7 {
        left: 45.2%;
        top: 51.4%;
        width: 18.1%;
        transform: rotate(5.82deg);
    }

    #line8 {
        left: 63.2%;
        top: 50.9%;
        width: 18.8%;
        transform: rotate(-7.66deg);
    }

    #line9 {
        left: 9.4%;
        top: 61.3%;
        width: 25%;
        transform: rotate(29.72deg);
    }

    #line10 {
        left: 32.8%;
        top: 69.4%;
        width: 14.4%;
        transform: rotate(-6.63deg);
    }

    #line11 {
        left: 47%;
        top: 70.4%;
        width: 17.4%;
        transform: rotate(10.18deg);
    }

    #line12 {
        left: 64.2%;
        top: 70%;
        width: 17.8%;
        transform: rotate(-11.36deg);
    }


}