.dot_rainbow {
    #dot1 {
        right: 82.8%;
        top: 53.1%;
    }

    #dot2 {
        right: 62.7%;
        top: 34.5%;
    }

    #dot3 {
        right: 43.5%;
        top: 39.6%;
    }

    #dot4 {
        right: 24.3%;
        top: 34.5%;
    }

    #dot5 {
        right: 4.2%;
        top: 53.1%;
    }

    #dot6 {
        right: 62.7%;
        top: 53.1%;
    }

    #dot7 {
        right: 43.5%;
        top: 53.1%;
    }
    #dot8 {
        right: 24.3%;
        top: 53.1%;
    }

    #dot9 {
        right: 62.7%;
        top: 71.8%;
    }

    #dot10 {
        right: 43.5%;
        top: 66.6%;
    }

    #dot11 {
        right: 24.3%;
        top: 71.8%;
    }


    #line1 {
        left: 8.9%;
        top: 45.4%;
        width: 23.7%;
        transform: rotate(-31.62deg);
    }

    #line2 {
        left: 30.7%;
        top: 38.7%;
        width: 19.5%;
        transform: rotate(10.11deg);
    }

    #line3 {
        left:49.9%;
        top: 38.6%;
        width: 19.5%;
        transform: rotate(-10.11deg);
    }

    #line4 {
        left: 67.4%;
        top: 45.4%;
        width: 23.7%;
        transform: rotate(31.62deg);
    }

    #line5 {
        left: 10.7%;
        top: 54.8%;
        width: 20.2%;
        transform: rotate(0deg);
    }

    #line6 {
        left: 30.8%;
        top: 54.8%;
        width: 19.2%;
        transform: rotate(0deg);
    }

    #line7 {
        left: 50%;
        top: 54.8%;
        width: 19.2%;
        transform: rotate(0deg);
    }

    #line8 {
        left: 69.2%;
        top: 54.6%;
        width: 20.2%;
        transform: rotate(0deg);
    }

    #line9 {
        left: 8.9%;
        top: 64.1%;
        width: 23.7%;
        transform: rotate(31.62deg);
    }

    #line10 {
        left: 30.7%;
        top: 70.8%;
        width: 19.5%;
        transform: rotate(-10.11deg);
    }

    #line11 {
        left: 49.8%;
        top: 70.8%;
        width: 19.5%;
        transform: rotate(10.11deg);
    }

    #line12 {
        left: 67.4%;
        top: 64.1%;
        width: 23.7%;
        transform: rotate(-31.62deg);
    }

    
}