.dot_aurora {
    
    #dot1 {
        right: 84.6%;
        top: 67.4%;
    }

    #dot2 {
        right: 77.6%;
        top: 30.4%;
    }

    #dot3 {
        right: 55.8%;
        top: 31%;
    }

    #dot4 {
        right: 35.5%;
        top: 32.5%;
    }

    #dot5 {
        right: 12.7%;
        top: 28.1%;
    }

    #dot6 {
        right: 67.8%;
        top: 44.9%;
    }

    #dot7 {
        right: 44.7%;
        top: 49.4%;
    }

    #dot8 {
        right: 26.6%;
        top: 50.1%;
    }

    #dot9 {
        right: 6%;
        top: 48.3%;
    }

    #dot10 {
        right: 69.9%;
        top: 59.5%;
    }

    #dot11 {
        right: 56.7%;
        top: 64.3%;
    }

    #dot12 {
        right: 33.7%;
        top: 63.8%;
    }

    #dot13 {
        right: 15.9%;
        top: 61.5%;
    }

    #dot14 {
        right: 66.3%;
        top: 80.4%;
    }

    #dot15 {
        right: 44.7%;
        top: 74.6%;
    }
    #dot16 {
        right: 23.7%;
        top: 80.4%;
    }
    #dot17 {
        right: 3.1%;
        top: 74.6%;
    }

    #line1 {
        left: -0.4%;
        top: 50.9%;
        width: 25.6%;
        transform: rotate(-74.16deg);
    }

    #line2 {
        left: 15.9%;
        top: 32.7%;
        width: 21.8%;
        transform: rotate(1.09deg);
    }

    #line3 {
        left: 37.7%;
        top: 33.8%;
        width: 20.3%;
        transform: rotate(2.83deg);
    }

    #line4 {
        left: 57.9%;
        top: 32.3%;
        width: 23.1%;
        transform: rotate(-7.46deg);
    }

    #line5 {
        left: 6%;
        top: 58.1%;
        width: 22.5%;
        transform: rotate(-41.85deg);
    }

    #line6 {
        left: 25.6%;
        top: 49.1%;
        width: 23.4%;
        transform: rotate(7.38deg);
    }

    #line7 {
        left: 48.8%;
        top: 51.8%;
        width: 18.1%;
        transform: rotate(1.58deg);
    }

    #line8 {
        left: 66.9%;
        top: 51.2%;
        width: 20.6%;
        transform: rotate(-3.48deg);
    }

    #line9 {
        left: 8.5%;
        top: 65.4%;
        width: 15.6%;
        transform: rotate(-19.7deg);
    }

    #line10 {
        left: 23.4%;
        top: 63.9%;
        width: 13.6%;
        transform: rotate(13.44deg);
    }

    #line11 {
        left: 36.6%;
        top: 66%;
        width: 24%;
        transform: rotate(-0.8deg);
    }

    #line12 {
        left: 60.6%;
        top: 64.6%;
        width: 17.1%;
        transform: rotate(-5.04deg);
    }

    #line13 {
        left: 7.9%;
        top: 75.9%;
        width: 20.2%;
        transform: rotate(25.4deg);
    }

    #line14 {
        left: 27%;
        top: 79.5%;
        width: 22%;
        transform: rotate(-10.03deg);
    }

    #line15 {
        left: 48.7%;
        top: 79.5%;
        width: 21.3%;
        transform: rotate(10.34deg);
    }

    #line16 {
        left: 69.7%;
        top: 79.5%;
        width: 20.9%;
        transform: rotate(-10.55deg);
    }
}