.dot_blacksmith #dot1 {
  right: 79.3%;
  top: 29.1%;
}
.dot_blacksmith #dot2 {
  right: 60.2%;
  top: 29.9%;
}
.dot_blacksmith #dot3 {
  right: 43.3%;
  top: 32.1%;
}
.dot_blacksmith #dot4 {
  right: 77.8%;
  top: 44.6%;
}
.dot_blacksmith #dot5 {
  right: 57.2%;
  top: 45.4%;
}
.dot_blacksmith #dot6 {
  right: 41.8%;
  top: 51.8%;
}
.dot_blacksmith #dot7 {
  right: 77.8%;
  top: 58.8%;
}
.dot_blacksmith #dot8 {
  right: 57.2%;
  top: 58.1%;
}
.dot_blacksmith #dot9 {
  right: 79.9%;
  top: 76.4%;
}
.dot_blacksmith #dot10 {
  right: 58.3%;
  top: 77.6%;
}
.dot_blacksmith #dot11 {
  right: 9%;
  top: 32.9%;
}
.dot_blacksmith #dot12 {
  right: 26.3%;
  top: 29.9%;
}
.dot_blacksmith #dot13 {
  right: 9.8%;
  top: 53.6%;
}
.dot_blacksmith #dot14 {
  right: 26.8%;
  top: 47.3%;
}
.dot_blacksmith #dot15 {
  right: 44.8%;
  top: 67.4%;
}
.dot_blacksmith #dot16 {
  right: 10.1%;
  top: 72%;
}
.dot_blacksmith #dot17 {
  right: 28%;
  top: 75.6%;
}
.dot_blacksmith #line1 {
  left: 14.2%;
  top: 31.5%;
  width: 19.2%;
  transform: rotate(1.49deg);
}
.dot_blacksmith #line2 {
  left: 33.3%;
  top: 33%;
  width: 17%;
  transform: rotate(5.07deg);
}
.dot_blacksmith #line3 {
  left: 30.8%;
  top: 42.8%;
  width: 23.4%;
  transform: rotate(38.5deg);
}
.dot_blacksmith #line4 {
  left: 15.7%;
  top: 47%;
  width: 20.6%;
  transform: rotate(1.39deg);
}
.dot_blacksmith #line5 {
  left: 35.1%;
  top: 40.8%;
  width: 16.5%;
  transform: rotate(-32.4deg);
}
.dot_blacksmith #line6 {
  left: 36%;
  top: 50.6%;
  width: 15.9%;
  transform: rotate(15.49deg);
}
.dot_blacksmith #line7 {
  left: 15.7%;
  top: 60.4%;
  width: 20.6%;
  transform: rotate(-1.16deg);
}
.dot_blacksmith #line8 {
  left: 32.2%;
  top: 47.1%;
  width: 22.2%;
  transform: rotate(-51.24deg);
}
.dot_blacksmith #line9 {
  left: 36%;
  top: 56.9%;
  width: 15.9%;
  transform: rotate(-15.49deg);
}
.dot_blacksmith #line10 {
  left: 13.6%;
  top: 79%;
  width: 21.6%;
  transform: rotate(2.21deg);
}
.dot_blacksmith #line11 {
  left: 25.8%;
  top: 56.9%;
  width: 33.9%;
  transform: rotate(-63.56deg);
}
.dot_blacksmith #line12 {
  left: 31.5%;
  top: 66.7%;
  width: 23.9%;
  transform: rotate(-46.27deg);
}
.dot_blacksmith #line13 {
  left: 67.2%;
  top: 33.4%;
  width: 17.4%;
  transform: rotate(6.61deg);
}
.dot_blacksmith #line14 {
  left: 50.2%;
  top: 33%;
  width: 17.1%;
  transform: rotate(-5.04deg);
}
.dot_blacksmith #line15 {
  left: 48.8%;
  top: 42.8%;
  width: 21.3%;
  transform: rotate(-43.1deg);
}
.dot_blacksmith #line16 {
  left: 66.5%;
  top: 52.4%;
  width: 17.5%;
  transform: rotate(13.77deg);
}
.dot_blacksmith #line17 {
  left: 46.5%;
  top: 59.3%;
  width: 22.5%;
  transform: rotate(-36.7deg);
}
.dot_blacksmith #line18 {
  left: 65.4%;
  top: 75.8%;
  width: 18.1%;
  transform: rotate(-7.68deg);
}
.dot_blacksmith #line19 {
  left: 48.3%;
  top: 73.5%;
  width: 17.6%;
  transform: rotate(18.18deg);
}
