.dot_blacksmith {
    
    #dot1 {
        right: 79.3%;
        top: 29.1%;
    }

    #dot2 {
        right: 60.2%;
        top: 29.9%;
    }

    #dot3 {
        right: 43.3%;
        top: 32.1%;
    }

    #dot4 {
        right: 77.8%;
        top: 44.6%;
    }

    #dot5 {
        right: 57.2%;
        top: 45.4%;
    }

    #dot6 {
        right: 41.8%;
        top: 51.8%;
    }

    #dot7 {
        right: 77.8%;
        top: 58.8%;
    }

    #dot8 {
        right: 57.2%;
        top: 58.1%;
    }

    #dot9 {
        right: 79.9%;
        top: 76.4%;
    }

    #dot10 {
        right: 58.3%;
        top: 77.6%;
    }

    #dot11 {
        right: 9%;
        top: 32.9%;
    }

    #dot12 {
        right: 26.3%;
        top: 29.9%;
    }

    #dot13 {
        right: 9.8%;
        top: 53.6%;
    }

    #dot14 {
        right: 26.8%;
        top: 47.3%;
    }

    #dot15 {
        right: 44.8%;
        top: 67.4%;
    }
    #dot16 {
        right: 10.1%;
        top: 72%;
    }
    #dot17 {
        right: 28%;
        top: 75.6%;
    }

    #line1 {
        left: 14.2%;
        top: 31.5%;
        width: 19.2%;
        transform: rotate(1.49deg);
    }

    #line2 {
        left: 33.3%;
        top: 33%;
        width: 17%;
        transform: rotate(5.07deg);
    }

    #line3 {
        left: 30.8%;
        top: 42.8%;
        width: 23.4%;
        transform: rotate(38.5deg);
    }

    #line4 {
        left: 15.7%;
        top: 47%;
        width: 20.6%;
        transform: rotate(1.39deg);
    }

    #line5 {
        left: 35.1%;
        top: 40.8%;
        width: 16.5%;
        transform: rotate(-32.4deg);
    }

    #line6 {
        left: 36%;
        top: 50.6%;
        width: 15.9%;
        transform: rotate(15.49deg);
    }

    #line7 {
        left: 15.7%;
        top: 60.4%;
        width: 20.6%;
        transform: rotate(-1.16deg);
    }

    #line8 {
        left: 32.2%;
        top: 47.1%;
        width: 22.2%;
        transform: rotate(-51.24deg);
    }

    #line9 {
        left: 36%;
        top: 56.9%;
        width: 15.9%;
        transform: rotate(-15.49deg);
    }

    #line10 {
        left: 13.6%;
        top: 79%;
        width: 21.6%;
        transform: rotate(2.21deg);
    }

    #line11 {
        left: 25.8%;
        top: 56.9%;
        width: 33.9%;
        transform: rotate(-63.56deg);
    }

    #line12 {
        left: 31.5%;
        top: 66.7%;
        width: 23.9%;
        transform: rotate(-46.27deg);
    }

    #line13 {
        left: 67.2%;
        top: 33.4%;
        width: 17.4%;
        transform: rotate(6.61deg);
    }

    #line14 {
        left: 50.2%;
        top: 33%;
        width: 17.1%;
        transform: rotate(-5.04deg);
    }

    #line15 {
        left: 48.8%;
        top: 42.8%;
        width: 21.3%;
        transform: rotate(-43.1deg);
    }

    #line16 {
        left: 66.5%;
        top: 52.4%;
        width: 17.5%;
        transform: rotate(13.77deg);
    }
    #line17 {
        left: 46.5%;
        top: 59.3%;
        width: 22.5%;
        transform: rotate(-36.7deg);
    }
    #line18 {
        left: 65.4%;
        top: 75.8%;
        width: 18.1%;
        transform: rotate(-7.68deg);
    }
    #line19 {
        left: 48.3%;
        top: 73.5%;
        width: 17.6%;
        transform: rotate(18.18deg);
    }
    
}