.dot_carpenter {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 82.1%;
        top: 52%;
    }

    #dot2 {
        right: 88.1%;
        top: 41%;
    }

    #dot3 {
        right: 64.3%;
        top: 37.1%;
    }

    #dot4 {
        right: 43.4%;
        top: 37.5%;
    }

    #dot5 {
        right: 34.9%;
        top: 62.9%;
    }

    #dot6 {
        right: 67.8%;
        top: 49%;
    }

    #dot7 {
        right: 57%;
        top: 55.3%;
    }

    #dot8 {
        right: 47%;
        top: 48.8%;
    }

    #dot9 {
        right: 87.8%;
        top: 68.8%;
    }

    #dot10 {
        right: 68.4%;
        top: 63%;
    }

    #dot11 {
        right: 48.4%;
        top: 71.4%;
    }

    #dot12 {
        right: 31.1%;
        top: 44.5%;
    }

    #dot13 {
        right: 14.3%;
        top: 37.8%;
    }

    #dot14 {
        right: 20%;
        top: 51.6%;
    }

    #dot15 {
        right: -1%;
        top: 46.1%;
    }

    #dot16 {
        right: 18.9%;
        top: 69.6%;
    }

    #dot17 {
        right: 2.6%;
        top: 64.6%;
    }

    #line1 {
        left: 3.7%;
        top: 48.1%;
        width: 9.5%;
        transform: rotate(50.71deg);
    }

    #line2 {
        left: 5.3%;
        top: 40.7%;
        width: 24%;
        transform: rotate(-6.19deg);
    }

    #line3 {
        left: 29.2%;
        top: 38.9%;
        width: 20.8%;
        transform: rotate(0.66deg);
    }

    #line4 {
        left: 44.9%;
        top: 51.8%;
        width: 18.9%;
        transform: rotate(63.32deg);
    }

    #line5 {
        left: 11.3%;
        top: 52.1%;
        width: 14.5%;
        transform: rotate(-7.94deg);
    }

    #line6 {
        left: 25.4%;
        top: 53.8%;
        width: 11.5%;
        transform: rotate(21.19deg);
    }

    #line7 {
        left: 36.1%;
        top: 53.6%;
        width: 10.9%;
        transform: rotate(-23.43deg);
    }

    #line8 {
        left: 44.9%;
        top: 57.4%;
        width: 15.3%;
        transform: rotate(37.93deg);
    }

    #line9 {
        left: 2.3%;
        top: 62%;
        width: 12.5%;
        transform: rotate(-63.09deg);
    }

    #line10 {
        left: 5.6%;
        top: 67.5%;
        width: 19.7%;
        transform: rotate(-11.21deg);
    }

    #line11 {
        left: 24.7%;
        top: 68.8%;
        width: 20.8%;
        transform: rotate(15.6deg);
    }

    #line12 {
        left: 44.5%;
        top: 68.8%;
        width: 14.6%;
        transform: rotate(-22.77deg);
    }

    #line13 {
        left: 54.1%;
        top: 55.3%;
        width: 12.8%;
        transform: rotate(-72.62deg);
    }

    #line14 {
        left: 62.1%;
        top: 42.8%;
        width: 17.3%;
        transform: rotate(-15.04deg);
    }

    #line15 {
        left: 57.7%;
        top: 58.9%;
        width: 16.7%;
        transform: rotate(-26.69deg);
    }

    #line16 {
        left: 73.3%;
        top: 50.5%;
        width: 21.3%;
        transform: rotate(-9.9deg);
    }

    #line17 {
        left: 58.3%;
        top: 67.9%;
        width: 16.6%;
        transform: rotate(15.71deg);
    }

    #line18 {
        left: 74.4%;
        top: 68.8%;
        width: 16.7%;
        transform: rotate(-11.53deg);
    }

}