.dot_decay {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 87.8%;
        top: 49.6%;
    }

    #dot2 {
        right: 78%;
        top: 37.8%;
    }

    #dot3 {
        right: 65.6%;
        top: 40.8%;
    }

    #dot4 {
        right: 48.9%;
        top: 39.9%;
    }

    #dot5 {
        right: 29.8%;
        top: 54.1%;
    }

    #dot6 {
        right: 73.1%;
        top: 56.4%;
    }

    #dot7 {
        right: 57.6%;
        top: 55.6%;
    }

    #dot8 {
        right: 41.9%;
        top: 52.6%;
    }

    #dot9 {
        right: 69.9%;
        top: 71%;
    }

    #dot10 {
        right: 51.8%;
        top: 70.6%;
    }

    #dot11 {
        right: 36.9%;
        top: 65.9%;
    }

    #dot12 {
        right: 18.8%;
        top: 39.4%;
    }

    #dot13 {
        right: 4.2%;
        top: 35.8%;
    }

    #dot14 {
        right: 15.7%;
        top: 53.1%;
    }

    #dot15 {
        right: -0.6%;
        top: 56%;
    }

    #dot16 {
        right: 22.2%;
        top: 71.1%;
    }

    #dot17 {
        right: 7.5%;
        top: 65.5%;
    }

    #line1 {
        left: 4.3%;
        top: 45.3%;
        width: 12.6%;
        transform: rotate(-39.08deg);
    }

    #line2 {
        left: 15.4%;
        top: 40.9%;
        width: 12.6%;
        transform: rotate(9.15deg);
    }

    #line3 {
        left: 27.9%;
        top: 41.9%;
        width: 16.7%;
        transform: rotate(-2deg);
    }

    #line4 {
        left: 43.5%;
        top: 48.6%;
        width: 21.3%;
        transform: rotate(26.26deg);
    }

    #line5 {
        left: 5.4%;
        top: 54.6%;
        width: 15.3%;
        transform: rotate(17.06deg);
    }

    #line6 {
        left: 20.4%;
        top: 57.6%;
        width: 15.5%;
        transform: rotate(-2.16deg);
    }

    #line7 {
        left: 35.9%;
        top: 55.8%;
        width: 15.8%;
        transform: rotate(-7.28deg);
    }

    #line8 {
        left: 51.6%;
        top: 55%;
        width: 12.1%;
        transform: rotate(4.73deg);
    }

    #line9 {
        left: 3.3%;
        top: 61.9%;
        width: 22.8%;
        transform: rotate(38.63deg);
    }

    #line10 {
        left: 23.6%;
        top: 72.4%;
        width: 18.1%;
        transform: rotate(-0.79deg);
    }

    #line11 {
        left: 41.5%;
        top: 69.9%;
        width: 15.2%;
        transform: rotate(-11.99deg);
    }

    #line12 {
        left: 54.8%;
        top: 61.6%;
        width: 10.6%;
        transform: rotate(-47.88deg);
    }

    #line13 {
        left: 61.8%;
        top: 48.4%;
        width: 14.8%;
        transform: rotate(-41.58deg);
    }

    #line14 {
        left: 74.7%;
        top: 39.2%;
        width: 14.8%;
        transform: rotate(-9.41deg);
    }

    #line15 {
        left: 63.7%;
        top: 55.3%;
        width: 14.2%;
        transform: rotate(-2.69deg);
    }

    #line16 {
        left: 77.8%;
        top: 56.2%;
        width: 16.4%;
        transform: rotate(6.73deg);
    }

    #line17 {
        left: 60.7%;
        top: 64.3%;
        width: 13.7%;
        transform: rotate(55.92deg);
    }

    #line18 {
        left: 71.1%;
        top: 69.9%;
        width: 15.1%;
        transform: rotate(-14.42deg);
    }
}