.dot_plague {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 88.3%;
        top: 66.8%;
    }

    #dot2 {
        right: 81.8%;
        top: 37.5%;
    }

    #dot3 {
        right: 67.6%;
        top: 41.9%;
    }

    #dot4 {
        right: 52.3%;
        top: 40.3%;
    }

    #dot5 {
        right: 31.6%;
        top: 45.8%;
    }

    #dot6 {
        right: 77.1%;
        top: 56.9%;
    }

    #dot7 {
        right: 60.3%;
        top: 55.5%;
    }

    #dot8 {
        right: 45.5%;
        top: 51.9%;
    }

    #dot9 {
        right: 73.7%;
        top: 72.5%;
    }

    #dot10 {
        right: 54.6%;
        top: 71.1%;
    }

    #dot11 {
        right: 41.7%;
        top: 68.1%;
    }

    #dot12 {
        right: 15.5%;
        top: 37.4%;
    }

    #dot13 {
        right: -1%;
        top: 42%;
    }

    #dot14 {
        right: 14.2%;
        top: 50.9%;
    }

    #dot15 {
        right: 2.8%;
        top: 64.3%;
    }

    #dot16 {
        right: 21.9%;
        top: 60%;
    }

    #dot17 {
        right: 18%;
        top: 73.4%;
    }

    #line1 {
        left: -1.8%;
        top: 53.8%;
        width: 20.6%;
        transform: rotate(-71.57deg);
    }

    #line2 {
        left: 11.6%;
        top: 41.3%;
        width: 14.5%;
        transform: rotate(11.63deg);
    }

    #line3 {
        left: 25.9%;
        top: 42.7%;
        width: 15.4%;
        transform: rotate(-4.04deg);
    }

    #line4 {
        left: 41.1%;
        top: 44.6%;
        width: 21%;
        transform: rotate(10.06deg);
    }

    #line5 {
        left: 4.4%;
        top: 63.4%;
        width: 13%;
        transform: rotate(-30.52deg);
    }

    #line6 {
        left: 16.4%;
        top: 57.8%;
        width: 16.8%;
        transform: rotate(-3.13deg);
    }

    #line7 {
        left: 33.1%;
        top: 55.3%;
        width: 15%;
        transform: rotate(-9.25deg);
    }

    #line8 {
        left: 47.7%;
        top: 50.4%;
        width: 14.5%;
        transform: rotate(-16.35deg);
    }

    #line9 {
        left: 5%;
        top: 71.3%;
        width: 15.1%;
        transform: rotate(14.73deg);
    }

    #line10 {
        left: 19.8%;
        top: 73.4%;
        width: 19.1%;
        transform: rotate(-2.75deg);
    }

    #line11 {
        left: 38.8%;
        top: 71.3%;
        width: 13.1%;
        transform: rotate(-8.8deg);
    }

    #line12 {
        left: 47.9%;
        top: 58.6%;
        width: 18%;
        transform: rotate(-55.94deg);
    }

    #line13 {
        left: 61.4%;
        top: 43.2%;
        width: 17%;
        transform: rotate(-19.14deg);
    }

    #line14 {
        left: 77.9%;
        top: 41.3%;
        width: 16.8%;
        transform: rotate(10.58deg);
    }

    #line15 {
        left: 61.8%;
        top: 49.9%;
        width: 17.7%;
        transform: rotate(11.1deg);
    }

    #line16 {
        left: 77.8%;
        top: 59.2%;
        width: 14.5%;
        transform: rotate(37.99deg);
    }

    #line17 {
        left: 60%;
        top: 54.5%;
        width: 13.6%;
        transform: rotate(44.5deg);
    }

    #line18 {
        left: 68.7%;
        top: 68.3%;
        width: 9.7%;
        transform: rotate(66.29deg);
    }

}