.dot_shadow {

    .dot {

        .text_container {

            .text {
                padding: 0 13px;
                font-size: 12px;
            }
        }
    }

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 43.5%;
        top: 51.3%;
    }

    #dot2 {
        right: 54.1%;
        top: 41.3%;
    }

    #dot3 {
        right: 65.8%;
        top: 29.8%;
    }

    #dot4 {
        right: 76.4%;
        top: 26.3%;
    }

    #dot5 {
        right: 87.8%;
        top: 28.3%;
    }

    #dot6 {
        right: 52.1%;
        top: 57.1%;
    }

    #dot7 {
        right: 65.1%;
        top: 49.5%;
    }

    #dot8 {
        right: 77.1%;
        top: 51.1%;
    }

    #dot9 {
        right: 88.3%;
        top: 47.3%;
    }

    #dot10 {
        right: 41.5%;
        top: 68.5%;
    }

    #dot11 {
        right: 60.8%;
        top: 64.8%;
    }

    #dot12 {
        right: 73.2%;
        top: 65.3%;
    }

    #dot13 {
        right: 85.8%;
        top: 68.6%;
    }

    #dot14 {
        right: 44.3%;
        top: 32.8%;
    }

    #dot15 {
        right: 29.1%;
        top: 29.4%;
    }

    #dot16 {
        right: 14.2%;
        top: 31.5%;
    }

    #dot17 {
        right: -0.4%;
        top: 28%;
    }

    #dot18 {
        right: 35.4%;
        top: 41.5%;
    }

    #dot19 {
        right: 23.6%;
        top: 45.9%;
    }

    #dot20 {
        right: 11.1%;
        top: 46.5%;
    }

    #dot21 {
        right: -0.4%;
        top: 48.8%;
    }

    #dot22 {
        right: 33.5%;
        top: 59.1%;
    }

    #dot23 {
        right: 21.8%;
        top: 61.6%;
    }

    #dot24 {
        right: 10.2%;
        top: 62.5%;
    }

    #dot25 {
        right: -1.7%;
        top: 61.6%;
    }

    #line1 {
        left: 38.5%;
        top: 47.9%;
        width: 12.5%;
        transform: rotate(32.21deg);
    }

    #line2 {
        left: 26.6%;
        top: 37.1%;
        width: 14%;
        transform: rotate(33.31deg);
    }

    #line3 {
        left: 17%;
        top: 29.6%;
        width: 10.9%;
        transform: rotate(12.34deg);
    }

    #line4 {
        left: 5.6%;
        top: 28.9%;
        width: 11.5%;
        transform: rotate(-6.66deg);
    }

    #line5 {
        left: 41%;
        top: 55.8%;
        width: 9.4%;
        transform: rotate(-24.53deg);
    }

    #line6 {
        left: 27.9%;
        top: 54.9%;
        width: 14%;
        transform: rotate(21.36deg);
    }

    #line7 {
        left: 16.4%;
        top: 51.9%;
        width: 12%;
        transform: rotate(-5.16deg);
    }

    #line8 {
        left: 5.1%;
        top: 50.8%;
        width: 11.5%;
        transform: rotate(13.03deg);
    }

    #line9 {
        left: 45.2%;
        top: 61.5%;
        width: 11.7%;
        transform: rotate(80.13deg);
    }

    #line10 {
        left: 32.6%;
        top: 68.3%;
        width: 19.5%;
        transform: rotate(7.37deg);
    }

    #line11 {
        left: 20.3%;
        top: 66.6%;
        width: 12.3%;
        transform: rotate(-1.55deg);
    }

    #line12 {
        left: 7.7%;
        top: 68.6%;
        width: 12.8%;
        transform: rotate(-10.14deg);
    }

    #line13 {
        left: 43.4%;
        top: 43.6%;
        width: 12.4%;
        transform: rotate(86.13deg);
    }

    #line14 {
        left: 49.1%;
        top: 32.7%;
        width: 15.4%;
        transform: rotate(-8.39deg);
    }

    #line15 {
        left: 64.4%;
        top: 32.1%;
        width: 15%;
        transform: rotate(5.43deg);
    }

    #line16 {
        left: 79.2%;
        top: 31.5%;
        width: 14.8%;
        transform: rotate(-9.09deg);
    }

    #line17 {
        left: 48.9%;
        top: 48%;
        width: 10.4%;
        transform: rotate(-38.8deg);
    }

    #line18 {
        left: 57.9%;
        top: 45.3%;
        width: 12.2%;
        transform: rotate(13.85deg);
    }

    #line19 {
        left: 69.9%;
        top: 47.8%;
        width: 12.5%;
        transform: rotate(1.91deg);
    }

    #line20 {
        left: 82.4%;
        top: 49.3%;
        width: 11.6%;
        transform: rotate(7.43deg);
    }

    #line21 {
        left: 49.4%;
        top: 56.8%;
        width: 11.3%;
        transform: rotate(27.32deg);
    }

    #line22 {
        left: 59.9%;
        top: 61.9%;
        width: 11.9%;
        transform: rotate(8.07deg);
    }

    #line23 {
        left: 71.7%;
        top: 63.6%;
        width: 11.6%;
        transform: rotate(3.29deg);
    }

    #line24 {
        left: 83.3%;
        top: 63.7%;
        width: 11.8%;
        transform: rotate(-2.82deg);
    }

}