.dot_convection {
    #dot1 {
        right: 71.3%;
        top: 31.8%;
    }

    #dot2 {
        right: 55.3%;
        top: 33.6%;
    }

    #dot3 {
        right: 39.8%;
        top: 47.6%;
    }

    #dot4 {
        right: 80.7%;
        top: 43.5%;
    }

    #dot5 {
        right: 62.7%;
        top: 42.6%;
    }

    #dot6 {
        right: 85.9%;
        top: 61%;
    }
   

    #dot7 {
        right: 67.2%;
        top: 53.5%;
    }

    #dot8 {
        right: 11.1%;
        top: 33.1%;
    }

    #dot9 {
        right: 24.3%;
        top: 37%;
    }

    #dot10 {
        right: 78.4%;
        top: 74.5%;
    }

    #dot11 {
        right: 64.1%;
        top: 76.1%;
    }

    #dot12 {
        right: 49.1%;
        top: 68%;
    }

    #dot13 {
        right: 1.2%;
        top: 46.5%;
    }

    #dot14 {
        right: 18.8%;
        top: 52.1%;
    }

    #dot15 {
        right: 7.4%;
        top: 61.8%;
    }
    #dot16 {
        right: 26.1%;
        top: 65.5%;
    }
    #dot17 {
        right: 13.6%;
        top: 78.8%;
    }
    #dot18 {
        right: 31.3%;
        top: 77.4%;
    }

    #line1 {
        left: 22.1%;
        top: 34.7%;
        width: 16%;
        transform: rotate(4.47deg);
    }

    #line2 {
        left: 36.9%;
        top: 42.6%;
        width: 18.1%;
        transform: rotate(30.83deg);
    }

    #line3 {
        left: 12.8%;
        top: 45.1%;
        width: 18%;
        transform: rotate(-1.86deg);
    }

    #line4 {
        left: 30.7%;
        top: 47.1%;
        width: 23.1%;
        transform: rotate(8.1deg);
    }

    #line5 {
        left: 7.3%;
        top: 59.3%;
        width: 19.4%;
        transform: rotate(-14.93deg);
    }

    #line6 {
        left: 26.2%;
        top: 52.5%;
        width: 27.6%;
        transform: rotate(-8.33deg);
    }

    #line7 {
        left: 69%;
        top: 37.1%;
        width: 13.6%;
        transform: rotate(-10.97deg);
    }

    #line8 {
        left: 52.9%;
        top: 44.3%;
        width: 17%;
        transform: rotate(-24.56deg);
    }

    #line9 {
        left: 15.1%;
        top: 77.3%;
        width: 14.4%;
        transform: rotate(3.99deg);
    }

    #line10 {
        left: 28.9%;
        top: 74.1%;
        width: 15.9%;
        transform: rotate(-19.86deg);
    }

    #line11 {
        left: 74.6%;
        top: 51.3%;
        width: 18%;
        transform: rotate(-12.04deg);
    }

    #line12 {
        left: 43.5%;
        top: 62%;
        width: 32.2%;
        transform: rotate(-19.37deg);
    }

    #line13 {
        left: 67.3%;
        top: 65.6%;
        width: 18.8%;
        transform: rotate(-7.63deg);
    }

    #line14 {
        left: 44.4%;
        top: 68.8%;
        width: 23.1%;
        transform: rotate(-4.14deg);
    }

    #line15 {
        left: 62.2%;
        top: 80.1%;
        width: 17.7%;
        transform: rotate(2.96deg);
    }

    #line16 {
        left: 43.9%;
        top: 74.7%;
        width: 18.9%;
        transform: rotate(19.31deg);
    }
}