.dot_cycle {
    #dot1 {
        right: 83.3%;
        top: 53.8%;
    }

    #dot2 {
        right: 72.8%;
        top: 35.1%;
    }

    #dot3 {
        right: 57.8%;
        top: 42.9%;
    }

    #dot4 {
        right: 42.8%;
        top: 35.1%;
    }

    #dot5 {
        right: 32.3%;
        top: 50.9%;
    }

    #dot6 {
        right: 75%;
        top: 70.1%;
    }

    #dot7 {
        right: 56.8%;
        top: 64.5%;
    }

    #dot8 {
        right: 39.7%;
        top: 74.5%;
    }

    #dot9 {
        right: 23.9%;
        top: 38.3%;
    }

    #dot10 {
        right: 6.8%;
        top: 30.8%;
    }

    #dot11 {
        right: 22.4%;
        top: 69.3%;
    }

    #dot12 {
        right: 5%;
        top: 77.3%;
    }


    #line1 {
        left: 7.2%;
        top: 46.7%;
        width: 16.5%;
        transform: rotate(-50deg);
    }

    #line2 {
        left: 20.2%;
        top: 41%;
        width: 15.9%;
        transform: rotate(19.01deg);
    }

    #line3 {
        left: 35.3%;
        top: 40.9%;
        width: 15.9%;
        transform: rotate(-18.62deg);
    }

    #line4 {
        left: 48.6%;
        top: 45%;
        width: 14.8%;
        transform: rotate(45deg);
    }

    #line5 {
        left: 7.1%;
        top: 64.1%;
        width: 14.1%;
        transform: rotate(51.71deg);
    }

    #line6 {
        left: 18.3%;
        top: 69.3%;
        width: 18.5%;
        transform: rotate(-11.41deg);
    }

    #line7 {
        left: 36%;
        top: 71.5%;
        width: 18.4%;
        transform: rotate(21.22deg);
    }

    #line8 {
        left: 48.8%;
        top: 64.7%;
        width: 17.4%;
        transform: rotate(-64.78deg);
    }

    #line9 {
        left: 59.5%;
        top: 46.6%;
        width: 11.8%;
        transform: rotate(-45.29deg);
    }

    #line10 {
        left: 69.2%;
        top: 36.5%;
        width: 17.9%;
        transform: rotate(-16.24deg);
    }

    #line11 {
        left: 58.3%;
        top: 62.1%;
        width: 15.7%;
        transform: rotate(51.25deg);
    }

    #line12 {
        left: 70.7%;
        top: 75.3%;
        width: 18.2%;
        transform: rotate(17.03deg);
    }

}