.dot_flow {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 89.6%;
        top: 31.8%;
    }

    #dot2 {
        right: 84.1%;
        top: 47.9%;
    }

    #dot3 {
        right: 74%;
        top: 37.3%;
    }

    #dot4 {
        right: 58.8%;
        top: 33.5%;
    }

    #dot5 {
        right: 44.5%;
        top: 32.8%;
    }

    #dot6 {
        right: 86.7%;
        top: 73%;
    }

    #dot7 {
        right: 75.2%;
        top: 65.6%;
    }

    #dot8 {
        right: 67.3%;
        top: 52.1%;
    }

    #dot9 {
        right: 53.4%;
        top: 46.6%;
    }

    #dot10 {
        right: 32.8%;
        top: 40.3%;
    }

    #dot11 {
        right: 41.2%;
        top: 53.4%;
    }

    #dot12 {
        right: 5.1%;
        top: 32.1%;
    }

    #dot13 {
        right: 18.4%;
        top: 35%;
    }

    #dot14 {
        right: 22.3%;
        top: 52.8%;
    }

    #dot15 {
        right: 30.1%;
        top: 63.8%;
    }
    #dot16 {
        right: 44%;
        top: 65.5%;
    }
    #dot17 {
        right: -2.3%;
        top: 65.3%;
    }
    #dot18 {
        right: 5.1%;
        top: 51.4%;
    }
    #dot19 {
        right: 12.9%;
        top: 65.3%;
    }
    #dot20 {
        right: 26.1%;
        top: 73.6%;
    }
    #dot21 {
        right: 58.8%;
        top: 61.3%;
    }



    #line1 {
        left: 0.6%;
        top: 41.4%;
        width: 12.1%;
        transform: rotate(62.9deg);
    }

    #line2 {
        left: 8.3%;
        top: 44.1%;
        width: 12.3%;
        transform: rotate(-34.77deg);
    }

    #line3 {
        left: 19.4%;
        top: 37%;
        width: 15.4%;
        transform: rotate(-9.36deg);
    }

    #line4 {
        left: 34.7%;
        top: 34.8%;
        width: 14.3%;
        transform: rotate(-2deg);
    }

    #line5 {
        left: 6.3%;
        top: 70.9%;
        width: 12.5%;
        transform: rotate(-23.15deg);
    }

    #line6 {
        left: 16.3%;
        top: 60.5%;
        width: 11.9%;
        transform: rotate(-48.96deg);
    }

    #line7 {
        left: 25.9%;
        top: 51%;
        width: 14.4%;
        transform: rotate(-14.76deg);
    }

    #line8 {
        left: 38.1%;
        top: 41.3%;
        width: 12.8%;
        transform: rotate(-46.05deg);
    }

    #line9 {
        left: 75%;
        top: 35.2%;
        width: 13.5%;
        transform: rotate(-8.18deg);
    }

    #line10 {
        left: 66.9%;
        top: 45.5%;
        width: 12.5%;
        transform: rotate(-71.69deg);
    }

    #line11 {
        left: 62%;
        top: 59.9%;
        width: 10.7%;
        transform: rotate(-43.42deg);
    }

    #line12 {
        left: 49.5%;
        top: 66.3%;
        width: 14%;
        transform: rotate(-4.79deg);
    }

    #line13 {
        left: 86.2%;
        top: 59.9%;
        width: 11.9%;
        transform: rotate(51.28deg);
    }

    #line14 {
        left: 78.4%;
        top: 59.9%;
        width: 12.1%;
        transform: rotate(-49.74deg);
    }

    #line15 {
        left: 66.8%;
        top: 71.1%;
        width: 14.3%;
        transform: rotate(-22.98deg);
    }

    #line16 {
        left: 49.1%;
        top: 71.2%;
        width: 18.7%;
        transform: rotate(16.82deg);
    }
    #line17 {
        left: 48.5%;
        top: 38.1%;
        width: 12.7%;
        transform: rotate(23.2deg);
    }
    #line18 {
        left: 50.5%;
        top: 48.4%;
        width: 12.1%;
        transform: rotate(-46.4deg);
    }
    #line19 {
        left: 34.5%;
        top: 65%;
        width: 15.1%;
        transform: rotate(10.81deg);
    }
    #line20 {
        left: 34.3%;
        top: 58.9%;
        width: 18.4%;
        transform: rotate(-16.55deg);
    }
}