.dot_nemera {
    #dot1 {
        right: 81.5%;
        top: 54.8%;
    }

    #dot2 {
        right: 65.7%;
        top: 32.1%;
    }

    #dot3 {
        right: 47%;
        top: 34.9%;
    }

    #dot4 {
        right: 28.4%;
        top: 30.3%;
    }

    #dot5 {
        right: 12.3%;
        top: 38.1%;
    }

    #dot6 {
        right: 60.2%;
        top: 53.5%;
    }

    #dot7 {
        right: 44.5%;
        top: 48.9%;
    }

    #dot8 {
        right: 24.8%;
        top: 53%;
    }

    #dot9 {
        right: 6.8%;
        top: 49.8%;
    }

    #dot10 {
        right: 65.7%;
        top: 72.6%;
    }

    #dot11 {
        right: 49.5%;
        top: 66.1%;
    }

    #dot12 {
        right: 30.5%;
        top: 74%;
    }

    #dot13 {
        right: 13.6%;
        top: 69.8%;
    }

    #line1 {
        left: 9%;
        top: 45.4%;
        width: 21.9%;
        transform: rotate(-43.61deg);
    }

    #line2 {
        left: 27.8%;
        top: 35.4%;
        width: 18.7%;
        transform: rotate(5.36deg);
    }

    #line3 {
        left: 46.4%;
        top: 34.5%;
        width: 18.8%;
        transform: rotate(-9.17deg);
    }

    #line4 {
        left: 64.7%;
        top: 36.1%;
        width: 17%;
        transform: rotate(17.72deg);
    }

    #line5 {
        left: 12%;
        top: 56.1%;
        width: 21.4%;
        transform: rotate(-2.24deg);
    }

    #line6 {
        left: 33.2%;
        top: 53.2%;
        width: 16.6%;
        transform: rotate(-10.69deg);
    }

    #line7 {
        left: 49.6%;
        top: 52.9%;
        width: 19.2%;
        transform: rotate(8.24deg);
    }

    #line8 {
        left: 68.6%;
        top: 53.4%;
        width: 18.1%;
        transform: rotate(-6.86deg);
    }

    #line9 {
        left: 10%;
        top: 65.6%;
        width: 19.8%;
        transform: rotate(36.77deg);
    }

    #line10 {
        left: 27.5%;
        top: 71.4%;
        width: 16.7%;
        transform: rotate(-15deg);
    }

    #line11 {
        left: 43.7%;
        top: 72%;
        width: 19.7%;
        transform: rotate(15.21deg);
    }

    #line12 {
        left: 62.9%;
        top: 73.9%;
        width: 17.2%;
        transform: rotate(-9.51deg);
    }

}