.dot_tri {
    
    .dotImg {
        height: 30px;
    }
    
    #dot1 {
        right: 85.3%;
        top: 31.3%;
    }

    #dot2 {
        right: 72.7%;
        top: 36.4%;
    }

    #dot3 {
        right: 58%;
        top: 32.4%;
    }

    #dot4 {
        right: 43%;
        top: 37%;
    }

    #dot5 {
        right: 27.9%;
        top: 34.9%;
    }

    #dot6 {
        right: 86.7%;
        top: 49%;
    }

    #dot7 {
        right: 68.3%;
        top: 51.8%;
    }

    #dot8 {
        right: 52.8%;
        top: 48.4%;
    }

    #dot9 {
        right: 36.8%;
        top: 50.3%;
    }

    #dot10 {
        right: 14%;
        top: 42.5%;
    }

    #dot11 {
        right: 0.6%;
        top: 36.8%;
    }

    #dot12 {
        right: 81.6%;
        top: 62.8%;
    }

    #dot13 {
        right: 64%;
        top: 65%;
    }

    #dot14 {
        right: 47.2%;
        top: 62.8%;
    }

    #dot15 {
        right: 29%;
        top: 60.3%;
    }

    #dot16 {
        right: 16.9%;
        top: 72.4%;
    }

    #dot17 {
        right: 82.5%;
        top: 79.9%;
    }

    #dot18 {
        right: 68.9%;
        top: 75.9%;
    }

    #dot19 {
        right: 53.1%;
        top: 77.6%;
    }

    #dot20 {
        right: 35.6%;
        top: 77.1%;
    }

    #line1 {
        left: 8%;
        top: 35.4%;
        width: 13%;
        transform: rotate(15.19deg);
    }

    #line2 {
        left: 20.7%;
        top: 36%;
        width: 14.9%;
        transform: rotate(-10.3deg);
    }

    #line3 {
        left: 35.3%;
        top: 36.3%;
        width: 15.3%;
        transform: rotate(11.62deg);
    }

    #line4 {
        left: 50.5%;
        top: 37.6%;
        width: 15.2%;
        transform: rotate(-5.37deg);
    }

    #line5 {
        left: 6.8%;
        top: 52%;
        width: 18.4%;
        transform: rotate(5.71deg);
    }

    #line6 {
        left: 25.1%;
        top: 51.7%;
        width: 15.7%;
        transform: rotate(-8.22deg);
    }

    #line7 {
        left: 40.7%;
        top: 50.9%;
        width: 16%;
        transform: rotate(4.47deg);
    }

    #line8 {
        left: 54.4%;
        top: 44.2%;
        width: 13.5%;
        transform: rotate(-49.25deg);
    }

    #line9 {
        left: 65.1%;
        top: 40.3%;
        width: 14.8%;
        transform: rotate(20.07deg);
    }

    #line10 {
        left: 79.2%;
        top: 41.3%;
        width: 14%;
        transform: rotate(-15.95deg);
    }

    #line11 {
        left: 11.9%;
        top: 65.5%;
        width: 17.6%;
        transform: rotate(4.88deg);
    }

    #line12 {
        left: 29.5%;
        top: 65.5%;
        width: 16.9%;
        transform: rotate(-5.09deg);
    }

    #line13 {
        left: 46.3%;
        top: 63.1%;
        width: 18.2%;
        transform: rotate(-5.24deg);
    }

    #line14 {
        left: 63.3%;
        top: 67.9%;
        width: 14.5%;
        transform: rotate(33.78deg);
    }

    #line15 {
        left: 10.9%;
        top: 79.5%;
        width: 13.8%;
        transform: rotate(-11.11deg);
    }

    #line16 {
        left: 24.6%;
        top: 78.4%;
        width: 15.9%;
        transform: rotate(4.21deg);
    }

    #line17 {
        left: 40.4%;
        top: 79%;
        width: 17.5%;
        transform: rotate(-1.09deg);
    }

    #line18 {
        left: 57.8%;
        top: 76.4%;
        width: 18.9%;
        transform: rotate(-9.63deg);
    }

}