.dot_forest-fire .dot .text_container .text {
  padding: 0 13px;
  font-size: 12px;
}
.dot_forest-fire .dotImg {
  height: 30px;
}
.dot_forest-fire #dot1 {
  right: 43.5%;
  top: 53.9%;
}
.dot_forest-fire #dot2 {
  right: 51.8%;
  top: 39.4%;
}
.dot_forest-fire #dot3 {
  right: 62.5%;
  top: 34.1%;
}
.dot_forest-fire #dot4 {
  right: 74.6%;
  top: 36%;
}
.dot_forest-fire #dot5 {
  right: 86.7%;
  top: 33.5%;
}
.dot_forest-fire #dot6 {
  right: 51.8%;
  top: 50.8%;
}
.dot_forest-fire #dot7 {
  right: 62.8%;
  top: 48.6%;
}
.dot_forest-fire #dot8 {
  right: 75.9%;
  top: 52.6%;
}
.dot_forest-fire #dot9 {
  right: 89.1%;
  top: 48.4%;
}
.dot_forest-fire #dot10 {
  right: 48.2%;
  top: 66%;
}
.dot_forest-fire #dot11 {
  right: 60%;
  top: 66%;
}
.dot_forest-fire #dot12 {
  right: 71.7%;
  top: 65.5%;
}
.dot_forest-fire #dot13 {
  right: 85.3%;
  top: 68.6%;
}
.dot_forest-fire #dot14 {
  right: 40.6%;
  top: 39.4%;
}
.dot_forest-fire #dot15 {
  right: 28%;
  top: 35.1%;
}
.dot_forest-fire #dot16 {
  right: 14.3%;
  top: 36%;
}
.dot_forest-fire #dot17 {
  right: 1.3%;
  top: 37.3%;
}
.dot_forest-fire #dot18 {
  right: 34.9%;
  top: 47.4%;
}
.dot_forest-fire #dot19 {
  right: 23.3%;
  top: 49%;
}
.dot_forest-fire #dot20 {
  right: 11.3%;
  top: 52.8%;
}
.dot_forest-fire #dot21 {
  right: -1.7%;
  top: 51.5%;
}
.dot_forest-fire #dot22 {
  right: 35.1%;
  top: 63.3%;
}
.dot_forest-fire #dot23 {
  right: 25.3%;
  top: 65.4%;
}
.dot_forest-fire #dot24 {
  right: 12.3%;
  top: 68.3%;
}
.dot_forest-fire #dot25 {
  right: 1.3%;
  top: 65.4%;
}
.dot_forest-fire #line1 {
  left: 39.5%;
  top: 48.3%;
  width: 12.7%;
  transform: rotate(49.52deg);
}
.dot_forest-fire #line2 {
  left: 30.7%;
  top: 38.4%;
  width: 11.3%;
  transform: rotate(18.03deg);
}
.dot_forest-fire #line3 {
  left: 18.9%;
  top: 36.7%;
  width: 12.1%;
  transform: rotate(-5.91deg);
}
.dot_forest-fire #line4 {
  left: 6.8%;
  top: 36.4%;
  width: 12.2%;
  transform: rotate(7.85deg);
}
.dot_forest-fire #line5 {
  left: 41.6%;
  top: 53.9%;
  width: 8.5%;
  transform: rotate(14.17deg);
}
.dot_forest-fire #line6 {
  left: 30.6%;
  top: 51.3%;
  width: 11.2%;
  transform: rotate(7.28deg);
}
.dot_forest-fire #line7 {
  left: 17.5%;
  top: 52.3%;
  width: 13.4%;
  transform: rotate(-11.52deg);
}
.dot_forest-fire #line8 {
  left: 4.3%;
  top: 52.1%;
  width: 13.5%;
  transform: rotate(12.14deg);
}
.dot_forest-fire #line9 {
  left: 43%;
  top: 61.6%;
  width: 9.3%;
  transform: rotate(-60deg);
}
.dot_forest-fire #line10 {
  left: 33.5%;
  top: 67.6%;
  width: 11.8%;
  transform: rotate(0deg);
}
.dot_forest-fire #line11 {
  left: 21.8%;
  top: 67.4%;
  width: 11.7%;
  transform: rotate(1.64deg);
}
.dot_forest-fire #line12 {
  left: 8.2%;
  top: 68.7%;
  width: 13.7%;
  transform: rotate(-8.72deg);
}
.dot_forest-fire #line13 {
  left: 46.4%;
  top: 48.3%;
  width: 10.1%;
  transform: rotate(-73.21deg);
}
.dot_forest-fire #line14 {
  left: 52.8%;
  top: 38.9%;
  width: 12.9%;
  transform: rotate(-12.69deg);
}
.dot_forest-fire #line15 {
  left: 65.5%;
  top: 37.2%;
  width: 13.7%;
  transform: rotate(2.44deg);
}
.dot_forest-fire #line16 {
  left: 79.2%;
  top: 38.3%;
  width: 13%;
  transform: rotate(3.67deg);
}
.dot_forest-fire #line17 {
  left: 49.5%;
  top: 52.3%;
  width: 9.6%;
  transform: rotate(-26.79deg);
}
.dot_forest-fire #line18 {
  left: 58.6%;
  top: 49.8%;
  width: 11.6%;
  transform: rotate(5.34deg);
}
.dot_forest-fire #line19 {
  left: 70%;
  top: 52.5%;
  width: 12.3%;
  transform: rotate(11.77deg);
}
.dot_forest-fire #line20 {
  left: 82.2%;
  top: 53.8%;
  width: 13%;
  transform: rotate(-3.67deg);
}
.dot_forest-fire #line21 {
  left: 49%;
  top: 60.2%;
  width: 10.5%;
  transform: rotate(36.6deg);
}
.dot_forest-fire #line22 {
  left: 58.4%;
  top: 65.9%;
  width: 9.9%;
  transform: rotate(8.27deg);
}
.dot_forest-fire #line23 {
  left: 68.1%;
  top: 68.4%;
  width: 13.1%;
  transform: rotate(8.39deg);
}
.dot_forest-fire #line24 {
  left: 81.1%;
  top: 68.4%;
  width: 11.2%;
  transform: rotate(-9.88deg);
}
