.dot_pleasure {
    
    #dot1 {
        right: 82.5%;
        top: 53.3%;
    }

    #dot2 {
        right: 73.8%;
        top: 27.5%;
    }

    #dot3 {
        right: 55.8%;
        top: 30.8%;
    }

    #dot4 {
        right: 38%;
        top: 29%;
    }

    #dot5 {
        right: 15.4%;
        top: 26.8%;
    }

    #dot6 {
        right: 65%;
        top: 42.3%;
    }

    #dot7 {
        right: 41.3%;
        top: 44.3%;
    }

    #dot8 {
        right: 21.8%;
        top: 42.9%;
    }

    #dot9 {
        right: 2.8%;
        top: 42%;
    }

    #dot10 {
        right: 66.5%;
        top: 59%;
    }

    #dot11 {
        right: 50.6%;
        top: 60.3%;
    }

    #dot12 {
        right: 30%;
        top: 58%;
    }

    #dot13 {
        right: 10.4%;
        top: 59.4%;
    }

    #dot14 {
        right: 74.7%;
        top: 76.8%;
    }

    #dot15 {
        right: 58.3%;
        top: 74.8%;
    }

    #dot16 {
        right: 35.8%;
        top: 76.4%;
    }

    #dot17 {
        right: 19.6%;
        top: 73.5%;
    }

    #line1 {
        left: 5.7%;
        top: 42.4%;
        width: 19.2%;
        transform: rotate(-63.21deg);
    }

    #line2 {
        left: 19.6%;
        top: 31.1%;
        width: 18.1%;
        transform: rotate(6.6deg);
    }

    #line3 {
        left: 37.7%;
        top: 31.9%;
        width: 17.9%;
        transform: rotate(-3.74deg);
    }

    #line4 {
        left: 55.5%;
        top: 29.9%;
        width: 22.7%;
        transform: rotate(-3.77deg);
    }

    #line5 {
        left: 10.3%;
        top: 49.8%;
        width: 19%;
        transform: rotate(-22.74deg);
    }

    #line6 {
        left: 28.5%;
        top: 45.2%;
        width: 23.7%;
        transform: rotate(3.02deg);
    }

    #line7 {
        left: 52.2%;
        top: 45.5%;
        width: 19.5%;
        transform: rotate(-2.45deg);
    }

    #line8 {
        left: 71.7%;
        top: 44.4%;
        width: 19%;
        transform: rotate(-1.76deg);
    }

    #line9 {
        left: 10.8%;
        top: 58.1%;
        width: 16.5%;
        transform: rotate(13.47deg);
    }

    #line10 {
        left: 27%;
        top: 61.6%;
        width: 15.9%;
        transform: rotate(3deg);
    }

    #line11 {
        left: 42.9%;
        top: 61.1%;
        width: 20.6%;
        transform: rotate(-4.17deg);
    }

    #line12 {
        left: 63.5%;
        top: 60.7%;
        width: 19.6%;
        transform: rotate(2.68deg);
    }

    #line13 {
        left: 6.2%;
        top: 67%;
        width: 17.5%;
        transform: rotate(63.43deg);
    }

    #line14 {
        left: 18.8%;
        top: 77.8%;
        width: 16.4%;
        transform: rotate(-4.67deg);
    }

    #line15 {
        left: 35.2%;
        top: 77.6%;
        width: 22.5%;
        transform: rotate(2.76deg);
    }

    #line16 {
        left: 57.6%;
        top: 76.9%;
        width: 16.4%;
        transform: rotate(-6.73deg);
    }
}