.dot_spike {
    
    #dot1 {
        right: 73%;
        top: 43.1%;
    }

    #dot2 {
        right: 62.5%;
        top: 33%;
    }

    #dot3 {
        right: 49.3%;
        top: 35.1%;
    }

    #dot4 {
        right: 36.3%;
        top: 33%;
    }

    #dot5 {
        right: 25.6%;
        top: 36.3%;
    }

    #dot6 {
        right: 73%;
        top: 69.6%;
    }

    #dot7 {
        right: 62.5%;
        top: 56.3%;
    }

    #dot8 {
        right: 49.9%;
        top: 60.4%;
    }

    #dot9 {
        right: 39.4%;
        top: 51.4%;
    }

    #dot10 {
        right: 13.4%;
        top: 60.4%;
    }

    #dot11 {
        right: 23.9%;
        top: 70.3%;
    }

    #dot12 {
        right: 37.4%;
        top: 70.3%;
    }

    #dot13 {
        right: 28%;
        top: 53.5%;
    }


    #line1 {
        left: 19.5%;
        top: 40.1%;
        width: 12.5%;
        transform: rotate(-32.74deg);
    }

    #line2 {
        left: 31%;
        top: 36.1%;
        width: 13.3%;
        transform: rotate(6.1deg);
    }

    #line3 {
        left: 44.2%;
        top: 36.1%;
        width: 13.1%;
        transform: rotate(-6.22deg);
    }

    #line4 {
        left: 57.1%;
        top: 36.1%;
        width: 10.9%;
        transform: rotate(11.44deg);
    }

    #line5 {
        left: 18.9%;
        top: 64.9%;
        width: 13.8%;
        transform: rotate(-40.34deg);
    }

    #line6 {
        left: 30.9%;
        top: 60.3%;
        width: 12.9%;
        transform: rotate(12.33deg);
    }

    #line7 {
        left: 42.8%;
        top: 57.9%;
        width: 12.1%;
        transform: rotate(-29.74deg);
    }

    #line8 {
        left: 52.4%;
        top: 45.8%;
        width: 17.1%;
        transform: rotate(-36.09deg);
    }

    #line9 {
        left: 68.7%;
        top: 67.3%;
        width: 12.4%;
        transform: rotate(-31.76deg);
    }

    #line10 {
        left: 56.1%;
        top: 72.3%;
        width: 13.5%;
        transform: rotate(0deg);
    }

    #line11 {
        left: 53.5%;
        top: 63.9%;
        width: 14.6%;
        transform: rotate(-49.86deg);
    }

    #line12 {
        left: 60.8%;
        top: 46.9%;
        width: 11.8%;
        transform: rotate(-78.13deg);
    }

}