.dot_typhoon {
    
    #dot1 {
        right: 83.3%;
        top: 55.1%;
    }

    #dot2 {
        right: 81.3%;
        top: 28.3%;
    }

    #dot3 {
        right: 59.5%;
        top: 28.3%;
    }

    #dot4 {
        right: 38.3%;
        top: 33.3%;
    }

    #dot5 {
        right: 15.3%;
        top: 26.5%;
    }

    #dot6 {
        right: 70.3%;
        top: 41.8%;
    }

    #dot7 {
        right: 49.3%;
        top: 43.8%;
    }

    #dot8 {
        right: 28.3%;
        top: 43.8%;
    }

    #dot9 {
        right: 6.3%;
        top: 40%;
    }

    #dot10 {
        right: 64.9%;
        top: 57.3%;
    }

    #dot11 {
        right: 43.5%;
        top: 60.9%;
    }

    #dot12 {
        right: 21.6%;
        top: 60%;
    }

    #dot13 {
        right: 3.7%;
        top: 60%;
    }

    #dot14 {
        right: 73.8%;
        top: 75.4%;
    }

    #dot15 {
        right: 54.8%;
        top: 72.4%;
    }

    #dot16 {
        right: 31.8%;
        top: 75.3%;
    }

    #dot17 {
        right: 12.2%;
        top: 72%;
    }

    #line1 {
        left: 2.2%;
        top: 43.7%;
        width: 18%;
        transform: rotate(-83.63deg);
    }

    #line2 {
        left: 12.2%;
        top: 30.3%;
        width: 21.8%;
        transform: rotate(0.22deg);
    }

    #line3 {
        left: 33.9%;
        top: 32.8%;
        width: 21.5%;
        transform: rotate(8.91deg);
    }

    #line4 {
        left: 55%;
        top: 31.9%;
        width: 23.4%;
        transform: rotate(-11.11deg);
    }

    #line5 {
        left: 8.8%;
        top: 50.4%;
        width: 15.8%;
        transform: rotate(-34.28deg);
    }

    #line6 {
        left: 23.2%;
        top: 44.8%;
        width: 21%;
        transform: rotate(3.65deg);
    }

    #line7 {
        left: 44.2%;
        top: 45.8%;
        width: 21.1%;
        transform: rotate(0deg);
    }

    #line8 {
        left: 65.2%;
        top: 43.7%;
        width: 22.2%;
        transform: rotate(-7.13deg);
    }

    #line9 {
        left: 10.1%;
        top: 58.2%;
        width: 18.5%;
        transform: rotate(4.4deg);
    }

    #line10 {
        left: 28.5%;
        top: 61.1%;
        width: 21.6%;
        transform: rotate(6.44deg);
    }

    #line11 {
        left: 50%;
        top: 62.4%;
        width: 21.9%;
        transform: rotate(-1.5deg);
    }

    #line12 {
        left: 71.9%;
        top: 62%;
        width: 17.9%;
        transform: rotate(0deg);
    }

    #line13 {
        left: 6.7%;
        top: 67.3%;
        width: 16.6%;
        transform: rotate(54.63deg);
    }

    #line14 {
        left: 19.7%;
        top: 75.9%;
        width: 19.1%;
        transform: rotate(-6.01deg);
    }

    #line15 {
        left: 38.7%;
        top: 75.8%;
        width: 23.1%;
        transform: rotate(4.76deg);
    }

    #line16 {
        left: 61.7%;
        top: 75.6%;
        width: 19.8%;
        transform: rotate(-6.29deg);
    }
}