.dot_explorer {
    #dot1 {
        top: 40%;
        right: 70%;
    }
    #dot2 {
        top: 30%;
        right: 78%;
    }
    #dot3 {
        top: 21%;
        right: 45%;
    }
    #dot4 {
        top: 29%;
        right: 11%;
    }
    #dot5 {
        top: 46%;
        right: 24%;
    }
    #dot6 {
        top: 38%;
        right: 54.5%;
    }
    #dot7 {
        top: 65%;
        right: 55.5%;
    }
    #dot8 {
        top: 62%;
        right: 24.5%;
    }
    #dot9 {
        top: 38%;
        right: 34%;
    }

    #line1 {
        width: 10%;
        top: 37%;
        right: 75.2%;
        transform: rotate(41deg);
    }

    #line2 {
        width: 34%;
        top: 27.3%;
        right: 50%;
        transform: rotate(-10.5deg);
    }
    #line3 {
        width: 34%;
        top: 27.1%;
        right: 17.5%;
        transform: rotate(9.2deg);
    }
    #line4 {
        width: 17.5%;
        top: 38.5%;
        right: 14%;
        transform: rotate(-41.5deg);
    }
    #line5 {
        width: 16%;
        top: 41%;
        right: 60%;
        transform: rotate(-5.2deg);
    }
    #line6 {
        width: 17%;
        top: 53%;
        right: 52.7%;
        transform: rotate(-86.5deg);
    }
    #line7 {
        width: 32%;
        top: 65.6%;
        right: 31.2%;
        transform: rotate(-3.5deg);
    }
    #line8 {
        width: 11%;
        top: 58%;
        right: 25%;
        transform: rotate(-87.5deg);
    }
    #line9 {
        width: 15%;
        top: 32.1%;
        right: 38.1%;
        transform: rotate(46deg);
    }
    #line10 {
        width: 27%;
        top: 53%;
        right: 37%;
        transform: rotate(-40deg);
    }

}