.dot_forest {
    #dot1 {
        top: 54%;
        right: 75%;
    }
    #dot2 {
        top: 34%;
        right: 63%;
    }
    #dot3 {
        top: 26%;
        right: 45%;
    }
    #dot4 {
        top: 30%;
        right: 26%;
    }
    #dot5 {
        top: 23%;
        right: 8%;
    }
    #dot6 {
        top: 62%;
        right: 54%;
    }
    #dot7 {
        top: 60%;
        right: 36%;
    }
    #dot8 {
        top: 50%;
        right: 20%;
    }
    #dot9 {
        top: 45%;
        right: 42%;
    }

    #line1 {
        width: 17%;
        top: 45.5%;
        right: 66.3%;
        transform: rotate(-48deg);
    }
    #line2 {
        width: 18%;
        top: 32%;
        right: 51.3%;
        transform: rotate(-17deg);
    }
    #line3 {
        width: 19%;
        top: 30%;
        right: 32.5%;
        transform: rotate(8.5deg);
    }
    #line4 {
        width: 18%;
        top: 28.8%;
        right: 15%;
        transform: rotate(-15deg);
    }
    #line5 {
        width: 20%;
        top: 59.8%;
        right: 61%;
        transform: rotate(14.5deg);
    }
    #line6 {
        width: 18%;
        top: 62.8%;
        right: 42%;
        transform: rotate(-4.5deg);
    }
    #line7 {
        width: 18%;
        top: 57%;
        right: 25%;
        transform: rotate(-23deg);
    }
    #line8 {
        width: 22%;
        top: 38%;
        right: 9.1%;
        transform: rotate(-56deg);
    }
    #line9 {
        width: 11%;
        top: 54%;
        right: 40.3%;
        transform: rotate(58.5deg);
    }
    #line10 {
        width: 13%;
        top: 37%;
        right: 43.6%;
        transform: rotate(76.5deg);
    }
}