.dot_swamp {

    #dot1 {
        top: 46%;
        right: 83%;
    }

    #dot2 {
        top: 18%;
        right: 71%;
    }

    #dot3 {
        top: 21%;
        right: 52%;
    }

    #dot4 {
        top: 19%;
        right: 33%;
    }

    #dot5 {
        top: 20%;
        right: 14%;
    }

    #dot6 {
        top: 36%;
        right: 63%;
    }

    #dot7 {
        top: 39%;
        right: 44%;
    }

    #dot8 {
        top: 37%;
        right: 25%;
    }

    #dot9 {
        top: 38%;
        right: 6%;
    }

    #dot10 {
        top: 52%;
        right: 65%;
    }

    #dot11 {
        top: 56%;
        right: 51%;
    }

    #dot12 {
        top: 54%;
        right: 30%;
    }

    #dot13 {
        top: 53.5%;
        right: 14.5%;
    }

    #dot14 {
        top: 71%;
        right: 63.5%;
    }

    #dot15 {
        top: 68%;
        right: 39.5%;
    }

    #dot16 {
        top: 71%;
        right: 20%;
    }

    #dot17 {
        top: 68%;
        right: 3%;
    }


    #line1 {
        width: 23%;
        top: 34%;
        right: 71.6%;
        transform: rotate(-57deg);
    }

    #line2 {
        width: 19%;
        top: 21.5%;
        right: 58.2%;
        transform: rotate(6.3deg);
    }

    #line3 {
        width: 19%;
        top: 22.2%;
        right: 40%;
        transform: rotate(-4deg);
    }

    #line4 {
        width: 19%;
        top: 21.6%;
        right: 20%;
        transform: rotate(2.2deg);
    }

    #line5 {
        width: 21%;
        top: 43.2%;
        right: 69%;
        transform: rotate(-19.3deg);
    }
    #line6 {
        width: 18%;
        top: 39.8%;
        right: 50%;
        transform: rotate(6.5deg);
    }
    #line7 {
        width: 19%;
        top: 40%;
        right: 30.5%;
        transform: rotate(-4.2deg);
    }
    #line8 {
        width: 19%;
        top: 39.5%;
        right: 12%;
        transform: rotate(2deg);
    }
    #line9 {
        width: 18%;
        top: 51.2%;
        right: 71%;
        transform: rotate(12.5deg);
    }
    #line10 {
        width: 13%;
        top: 56.2%;
        right: 57%;
        transform: rotate(11deg);
    }
    #line11 {
        width: 20%;
        top: 57%;
        right: 36.5%;
        transform: rotate(-3.5deg);
    }
    #line12 {
        width: 14%;
        top: 55.8%;
        right: 21%;
        transform: rotate(-1deg);
    }
    #line13 {
        width: 25%;
        top: 61%;
        right: 66.5%;
        transform: rotate(41deg);
    }
    #line14 {
        width: 24%;
        top: 71.5%;
        right: 46.2%;
        transform: rotate(-5deg);
    }
    #line15 {
        width: 20%;
        top: 71.5%;
        right: 25.5%;
        transform: rotate(6deg);
    }
    #line16 {
        width: 16%;
        top: 71.7%;
        right: 10.5%;
        transform: rotate(-6.3deg);
    }

}