.dot_wanderer #dot1 {
  top: 45%;
  right: 61%;
}
.dot_wanderer #dot2 {
  top: 42%;
  right: 76%;
}
.dot_wanderer #dot3 {
  top: 30%;
  right: 42%;
}
.dot_wanderer #dot4 {
  top: 26%;
  right: 12%;
}
.dot_wanderer #dot5 {
  top: 43%;
  right: 14%;
}
.dot_wanderer #dot6 {
  top: 60%;
  right: 69%;
}
.dot_wanderer #dot7 {
  top: 70%;
  right: 41%;
}
.dot_wanderer #dot8 {
  top: 62%;
  right: 26%;
}
.dot_wanderer #dot9 {
  top: 53%;
  right: 46%;
}
.dot_wanderer #line1 {
  width: 14%;
  top: 45.6%;
  right: 67%;
  transform: rotate(7.5deg);
}
.dot_wanderer #line2 {
  width: 34%;
  top: 37.8%;
  right: 48%;
  transform: rotate(-13deg);
}
.dot_wanderer #line3 {
  width: 28%;
  top: 30%;
  right: 19%;
  transform: rotate(-5.2deg);
}
.dot_wanderer #line4 {
  width: 13%;
  top: 36%;
  right: 12.6%;
  transform: rotate(-80deg);
}
.dot_wanderer #line5 {
  width: 13%;
  top: 54.5%;
  right: 64.5%;
  transform: rotate(-51deg);
}
.dot_wanderer #line6 {
  width: 28%;
  top: 66.6%;
  right: 48.2%;
  transform: rotate(13.5deg);
}
.dot_wanderer #line7 {
  width: 15%;
  top: 68.4%;
  right: 33%;
  transform: rotate(-19.5deg);
}
.dot_wanderer #line8 {
  width: 16%;
  top: 53.8%;
  right: 17.7%;
  transform: rotate(-46.5deg);
}
.dot_wanderer #line9 {
  width: 15%;
  top: 44%;
  right: 42.7%;
  transform: rotate(-75deg);
}
.dot_wanderer #line10 {
  width: 12%;
  top: 64%;
  right: 43.6%;
  transform: rotate(66deg);
}
