.dot_gem {
    #dot1 {
        top: 53%;
        right: 72%;
    }
    #dot2 {
        top: 30%;
        right: 77%;
    }
    #dot3 {
        top: 32%;
        right: 46%;
    }
    #dot4 {
        top: 26%;
        right: 12%;
    }
    #dot5 {
        top: 41%;
        right: 24%;
    }
    #dot6 {
        top: 45%;
        right: 59%;
    }
    #dot7 {
        top: 54%;
        right: 45.5%;
    }
    #dot8 {
        top: 60%;
        right: 31%;
    }
    #dot9 {
        top: 70%;
        right: 80%;
    }
    #dot10 {
        top: 65%;
        right: 61%;
    }
    #dot11 {
        top: 74%;
        right: 16.5%;
    }

    #line1 {
        width:15%;
        top: 43%;
        right: 73.6%;
        transform: rotate(71.5deg);
    }

    #line2 {
        width:30%;
        top: 33%;
        right: 53%;
        transform: rotate(2.5deg);
    }
    #line3 {
        width:34%;
        top: 31%;
        right: 18%;
        transform: rotate(-6.5deg);
    }
    #line4 {
        width:15%;
        top: 35%;
        right: 16.5%;
        transform: rotate(-41deg);
    }
    #line5 {
        width:13%;
        top: 51.5%;
        right: 66.2%;
        transform: rotate(-23.5deg);
    }
    #line6 {
        width:15%;
        top: 52%;
        right: 50.5%;
        transform: rotate(24.3deg);
    }
    #line7 {
        width:14.5%;
        top: 59.4%;
        right: 37%;
        transform: rotate(16deg);
    }
    #line8 {
        width:14.5%;
        top: 53.5%;
        right: 27%;
        transform: rotate(-61deg);
    }
    #line9 {
        width:14.5%;
        top: 63.5%;
        right: 75.1%;
        transform: rotate(-55deg);
    }
    #line10 {
        width:18%;
        top: 69.6%;
        right: 68%;
        transform: rotate(-10.5deg);
    }
    #line11 {
        width:45%;
        top: 71.7%;
        right: 22%;
        transform: rotate(7.7deg);
    }
    #line12 {
        width:24%;
        top: 60.5%;
        right: 14.6%;
        transform: rotate(71.5deg);
    }

}