.dot_gold {
    #dot1 {
        top: 37%;
        right: 75%;
    }
    #dot2 {
        top: 31%;
        right: 62%;
    }
    #dot3 {
        top: 33%;
        right: 44%;
    }
    #dot4 {
        top: 29%;
        right: 26%;
    }
    #dot5 {
        top: 69%;
        right: 7%;
    }
    #dot6 {
        top: 56%;
        right: 62%;
    }
    #dot7 {
        top: 50%;
        right: 43%;
    }
    #dot8 {
        top: 47%;
        right: 27%;
    }
    #dot9 {
        top: 58%;
        right: 80%;
    }
    #dot10 {
        top: 71%;
        right: 68%;
    }
    #dot11 {
        top: 66%;
        right: 33%;
    }

    #line1 {
        width: 15%;
        top: 35.7%;
        right: 67%;
        transform: rotate(-18deg);
    }
    #line2 {
        width: 18%;
        top: 34.1%;
        right: 50%;
        transform: rotate(4.2deg);
    }
    #line3 {
        width: 18%;
        top: 33.2%;
        right: 33.1%;
        transform: rotate(-8.5deg);
    }
    #line4 {
        width: 33%;
        top: 52%;
        right: 6.1%;
        transform: rotate(54.8deg);
    }
    #line5 {
        width: 19%;
        top: 48%;
        right: 66%;
        transform: rotate(44.5deg);
    }
    #line6 {
        width: 20%;
        top: 55.2%;
        right: 49%;
        transform: rotate(-12deg);
    }
    #line7 {
        width: 16%;
        top: 50.7%;
        right: 33.6%;
        transform: rotate(-7deg);
    }
    #line8 {
        width: 24.5%;
        top:59.4%;
        right: 12%;
        transform: rotate(37deg);
    }
    #line9 {
        width: 16%;
        top: 49.8%;
        right: 76%;
        transform: rotate(-70.5deg);
    }
    #line10 {
        width: 15%;
        top: 68%;
        right: 72%;
        transform: rotate(37deg);
    }
    #line11 {
        width: 35%;
        top: 70.7%;
        right: 40%;
        transform: rotate(-5.7deg);
    }
    #line12 {
        width: 25%;
        top: 69.6%;
        right: 14%;
        transform: rotate(4.2deg);
    }

}