.dot_rock {
    #dot1 {
        top: 45%;
        right: 82%;
    }
    #dot2 {
        top: 26%;
        right:63%;
    }
    #dot3 {
        top: 29%;
        right: 46%;
    }
    #dot4 {
        top: 26%;
        right: 29%;
    }
    #dot5 {
        top: 45%;
        right: 10%;
    }
    #dot6 {
        top: 45%;
        right:63%;
    }
    #dot7 {
        top: 45%;
        right: 46%;
    }
    #dot8 {
        top: 45%;
        right:29%;
    }
    #dot9 {
        top: 64%;
        right:63%;
    }
    #dot10 {
        top: 61%;
        right: 46%;
    }
    #dot11 {
        top: 64%;
        right: 29%;
    }

    #line1 {
        width: 24%;
        top: 38.2%;
        right: 67.8%;
        transform: rotate(-34.5deg);
    }
    #line2 {
        width: 17%;
        top: 30%;
        right: 51%;
        transform: rotate(7deg);
    }
    #line3 {
        width: 17%;
        top: 30%;
        right: 36%;
        transform: rotate(-7deg);
    }
    #line4 {
        width: 24%;
        top: 38.2%;
        right: 13.3%;
        transform: rotate(34.5deg);
    }
    #line5 {
        width: 19%;
        top: 47%;
        right: 70%;
        transform: rotate(0deg);
    }
    #line6 {
        width: 17%;
        top: 47%;
        right: 53%;
        transform: rotate(0deg);
    }
    #line7 {
        width: 17%;
        top: 47%;
        right: 36%;
        transform: rotate(0deg);
    }
    #line8 {
        width: 18%;
        top: 47%;
        right: 17%;
        transform: rotate(0deg);
    }
    #line9 {
        width: 24%;
        top: 56%;
        right: 67.5%;
        transform: rotate(34deg);
    }
    #line10 {
        width: 17%;
        top: 64.3%;
        right: 51%;
        transform: rotate(-7deg);
    }
    #line11{
        width: 17%;
        top: 64.3%;
        right: 36%;
        transform: rotate(7deg);
    }
    #line12{
        width: 24%;
        top: 56%;
        right: 13.5%;
        transform: rotate(-34deg);
    }
}