.symbol_專精-IV {
    
    #brilliance {
        top: 69%;
        right: 58%;
        z-index: 1;
    }

    #vacuum {
        top: 40%;
        right: 48%;
        z-index: 1;
    }

    #waterfall {
        top: 16%;
        right: 59%;
        z-index: 1;
    }

    #pirate {
        top: 28%;
        right: 29%;
        z-index: 1;
    }

    #line1 {
        width: 17.7%;
        top: 59.2%;
        right: 48.5%;
        transform: rotate(-67deg);
    }

    #line2 {
        width: 14.8%;
        top: 32.3%;
        right: 49.7%;
        transform: rotate(61.2deg);
    }

    #line3 {
        width: 13%;
        top: 38.3%;
        right: 36.2%;
        transform: rotate(-28.5deg);
    }
}