.symbol_專精-V {
    
    #caspol {
        top: 70%;
        right: 63%;
        z-index: 1;
    }

    #regret {
        top: 45%;
        right: 48%;
        z-index: 1;
    }

    #lamp {
        top: 12%;
        right: 55%;
        z-index: 1;
    }

    #brazier {
        top: 31%;
        right: 28%;
        z-index: 1;
    }


    #line1 {
        width: 17.4%;
        top: 62.2%;
        right: 50.7%;
        transform: rotate(-54.25deg);
    }
    #line2 {
        width: 20%;
        top: 33%;
        right: 45.6%;
        transform: rotate(76deg);
    }
    #line3 {
        width: 14.5%;
        top: 42.5%;
        right: 35%;
        transform: rotate(-31.5deg);
    }
}