@charset "UTF-8";
.symbol_專精-III #darkness {
  top: 70%;
  right: 35%;
}
.symbol_專精-III #stra {
  top: 42%;
  right: 46%;
}
.symbol_專精-III #fisherman {
  top: 30%;
  right: 68%;
}
.symbol_專精-III #sailboat {
  top: 15%;
  right: 38%;
}
.symbol_專精-III #line1 {
  width: 17.5%;
  top: 60.2%;
  right: 35.6%;
  transform: rotate(64.76deg);
}
.symbol_專精-III #line2 {
  width: 16%;
  top: 40.4%;
  right: 52.65%;
  transform: rotate(24.44deg);
}
.symbol_專精-III #line3 {
  width: 15.8%;
  top: 32.7%;
  right: 37.5%;
  transform: rotate(-70.43deg);
}
