.symbol_專精-II {

    #hammer {
        top: 53.5%;
        right: 23%;
    }
    #wrath {
        top: 46%;
        right: 47%;
    }
    #bonfire {
        top: 48%;
        right: 72%;
    }
    #flame {
        top: 23%;
        right: 61%;
    }

    #line1 {
        width: 16.7%;
        top: 54%;
        right: 30.3%;
        transform: rotate(14.6deg);
    }
    #line2 {
        width: 16.5%;
        top: 51.4%;
        right: 55.5%;
        transform: rotate(-3.6deg);
    }
    #line3 {
        width: 15.7%;
        top: 38.8%;
        right: 49.9%;
        transform: rotate(53.85deg);
    }
}