@charset "UTF-8";
.symbol_專精-II #hammer {
  top: 53.5%;
  right: 23%;
}
.symbol_專精-II #wrath {
  top: 46%;
  right: 47%;
}
.symbol_專精-II #bonfire {
  top: 48%;
  right: 72%;
}
.symbol_專精-II #flame {
  top: 23%;
  right: 61%;
}
.symbol_專精-II #line1 {
  width: 16.7%;
  top: 54%;
  right: 30.3%;
  transform: rotate(14.6deg);
}
.symbol_專精-II #line2 {
  width: 16.5%;
  top: 51.4%;
  right: 55.5%;
  transform: rotate(-3.6deg);
}
.symbol_專精-II #line3 {
  width: 15.7%;
  top: 38.8%;
  right: 49.9%;
  transform: rotate(53.85deg);
}
