.symbol_專精-VI {

    #shade {
        top: 63%;
        right: 75%;
    }
    #greed {
        top: 54%;
        right: 44%;
    }
    #ganida {
        top: 18%;
        right: 40%;
    }
    #creek {
        top: 66%;
        right: 26%;
    }

    #line1 {
        width: 23.5%;
        top: 62.8%;
        right: 51.7%;
        transform: rotate(-13.6deg);
    }
    #line2 {
        width: 22%;
        top: 40.4%;
        right: 35.2%;
        transform: rotate(-83deg);
    }
    #line3 {
        width: 12.3%;
        top: 64.7%;
        right: 33%;
        transform: rotate(28.5deg);
    }
}