@charset "UTF-8";
.symbol_專精-I #steel {
  top: 53.5%;
  right: 24%;
}
.symbol_專精-I #sadness {
  top: 50%;
  right: 48%;
}
.symbol_專精-I #torch {
  top: 44%;
  right: 73%;
}
.symbol_專精-I #tipan {
  top: 22%;
  right: 53%;
}
.symbol_專精-I #line1 {
  width: 15.9%;
  top: 55.75%;
  right: 31.7%;
  transform: rotate(7deg);
}
.symbol_專精-I #line2 {
  width: 17%;
  top: 51.2%;
  right: 55.6%;
  transform: rotate(10.57deg);
}
.symbol_專精-I #line3 {
  width: 15.3%;
  top: 40.7%;
  right: 47%;
  transform: rotate(78deg);
}
