.dot_aphros {

    #dot1 {
        top: 45%;
        right: 80%;
    }
    #dot2 {
        top: 28%;
        right:63%;
    }
    #dot3 {
        top: 31%;
        right: 46%;
    }
    #dot4 {
        top: 28%;
        right: 29%;
    }
    #dot5 {
        top: 45%;
        right: 12%;
    }
    #dot6 {
        top: 62%;
        right:63%;
    }
    #dot7 {
        top: 59%;
        right: 46%;
    }
    #dot8 {
        top: 62%;
        right: 29%;
    }

    #line1 {
        width: 20%;
        top: 38.8%;
        right: 67.8%;
        transform: rotate(-34deg);
    }
    #line2 {
        width: 17%;
        top: 31.8%;
        right: 52%;
        transform: rotate(7deg);
    }
    #line3 {
        width: 17%;
        top: 32%;
        right: 36%;
        transform: rotate(-7deg);
    }
    #line4 {
        width: 20%;
        top: 38.8%;
        right: 16.5%;
        transform: rotate(34deg);
    }
    #line5 {
        width: 20%;
        top: 56%;
        right: 67.5%;
        transform: rotate(34deg);
    }
    #line6 {
        width: 17%;
        top: 62.3%;
        right: 51%;
        transform: rotate(-7deg);
    }
    #line7 {
        width: 17%;
        top: 62.3%;
        right: 36%;
        transform: rotate(7deg);
    }
    #line8 {
        width: 20%;
        top: 56%;
        right: 16.5%;
        transform: rotate(-34deg);
    }
}