.dot_cliff {
    #dot1 {
        top: 38%;
        right: 72%;
    }
    #dot2 {
        top: 48%;
        right: 60%;
    }
    #dot3 {
        top: 27%;
        right: 48%;
    }
    #dot4 {
        top: 24%;
        right: 29%;
    }
    #dot5 {
        top: 45%;
        right: 19%;
    }
    #dot6 {
        top: 65%;
        right: 79%;
    }
    #dot7 {
        top: 44%;
        right: 37%;
    }
    #dot8 {
        top: 64%;
        right: 30%;
    }

    #line1 {
        width: 14%;
        top: 46.2%;
        right: 64%;
        transform: rotate(29deg);
    }
    #line2 {
        width: 18%;
        top: 40.5%;
        right: 51.5%;
        transform: rotate(-49.5deg);
    }
    #line3 {
        width: 17.5%;
        top: 27.5%;
        right: 35.5%;
        transform: rotate(-6deg);
    }
    #line4 {
        width: 17%;
        top: 35%;
        right: 22.5%;
        transform: rotate(55.2deg);
    }
    #line5 {
        width: 18%;
        top:54%;
        right: 72.7%;
        transform: rotate(-68.5deg);
    }
    #line6 {
        width: 44%;
        top:56.6%;
        right: 42%;
        transform: rotate(-18.5deg);
    }
    #line7 {
        width: 14%;
        top:57%;
        right: 32.4%;
        transform: rotate(62.5deg);
    }
    #line8 {
        width: 15%;
        top:57%;
        right: 23.3%;
        transform: rotate(-49deg);
    }
}