.dot_plains #dot1 {
  top: 48%;
  right: 69%;
}
.dot_plains #dot2 {
  top: 25%;
  right: 75%;
}
.dot_plains #dot3 {
  top: 38%;
  right: 53%;
}
.dot_plains #dot4 {
  top: 27%;
  right: 31%;
}
.dot_plains #dot5 {
  top: 50%;
  right: 11%;
}
.dot_plains #dot6 {
  top: 65%;
  right: 83%;
}
.dot_plains #dot7 {
  top: 61%;
  right: 46%;
}
.dot_plains #dot8 {
  top: 68%;
  right: 28%;
}
.dot_plains #line1 {
  width: 17%;
  top: 38%;
  right: 69.8%;
  transform: rotate(69deg);
}
.dot_plains #line2 {
  width: 23%;
  top: 33.5%;
  right: 59%;
  transform: rotate(22deg);
}
.dot_plains #line3 {
  width: 22.5%;
  top: 34.6%;
  right: 37%;
  transform: rotate(-19.2deg);
}
.dot_plains #line4 {
  width: 24%;
  top: 41.6%;
  right: 14.6%;
  transform: rotate(37.7deg);
}
.dot_plains #line5 {
  width: 17%;
  top: 58%;
  right: 73%;
  transform: rotate(-39.6deg);
}
.dot_plains #line6 {
  width: 36%;
  top: 65%;
  right: 53%;
  transform: rotate(-4.2deg);
}
.dot_plains #line7 {
  width: 17%;
  top: 66.5%;
  right: 35%;
  transform: rotate(15.5deg);
}
.dot_plains #line8 {
  width: 20%;
  top: 60.6%;
  right: 15%;
  transform: rotate(-36deg);
}
