.instruction {
    

    img {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

    // .rwdContainer {
    //     overflow: scroll;
    // }

    .instructionText {
        z-index: 100;
        overflow: scroll;
        cursor: pointer;
        padding: 2% 20px 2% 0%;
        font-size: larger;
        position: absolute;
        width: 50%;
        max-height: 60%;
        left: 25%;
        top: 15%;
        background-color: rgb(110, 110, 110);
        border: 2px solid rgb(122, 224, 207);
        border-radius: 15px;
        color: rgb(221, 219, 219);
        text-align: start;
        font-weight: 600;


        .remark {
            color: black;
            text-align: center;
        }

        .textContainer {
            margin: 5px 0;
        }

        .sContainer {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            font-size: medium;

            .symbol {
                width: 150px;
                display: flex;
                align-items: center;

                .symbolImg {
                    border-radius: 50%;
                    padding: 3px;
                    width: 25px;
                    height: 25px;
                    margin-right: 5px;
                }

                .unavailable {
                    border: 2px solid rgb(170, 170, 170);

                    path {
                        fill: rgb(130, 130, 130);
                    }
                }

                .available {
                    border: 3px solid #a2dde2;
                }

                .chosen {
                    border: 4px solid #a2dde2;

                    path {
                        fill: #FFC847;
                    }

                }
            }
        }

        .dContainer {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-top: 5px;
            font-size: medium;

            .dot {
                width: 150px;
                display: flex;
                align-items: center;


                .dotImg {
                    border-radius: 50%;
                    padding: 3px;
                    width: 30px;
                }

                .unavailable {

                    .star {
                        fill: lightgray;
                    }

                    .insideStar {
                        fill: rgb(80, 80, 80);
                        opacity: 0.2;
                    }

                    .circle {
                        fill: rgb(80, 80, 80);
                        opacity: 0.3;
                    }
                }

                .available {

                    .star {
                        fill: #fccf67;
                        opacity: 0.7;
                    }

                    .insideStar {
                        fill: rgb(114, 114, 114);
                        opacity: 0.8;
                    }

                    .circle {
                        fill: rgb(100, 93, 55);
                        opacity: 0.8;
                    }

                    &:hover {

                        .star {
                            opacity: 1;
                        }

                        .circle,
                        .insideStar {
                            opacity: 1;
                        }

                        .insideStar {
                            fill: rgb(80, 80, 80);
                        }
                    }
                }

                .chosen {
                    transform: scale(1.1, 1.1);

                    .star {
                        fill: #FFC847;
                    }

                    .insideStar {
                        fill: rgb(80, 80, 80);
                    }

                    .circle {
                        fill: #1e7973
                    }
                }
            }
        }


    }

    .true {
        display: block;
    }

    .false {
        display: none;
    }

}