.instruction img {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.instruction img:active {
  transform: translate(1px, 2px);
}
.instruction .instructionText {
  z-index: 100;
  overflow: scroll;
  cursor: pointer;
  padding: 2% 20px 2% 0%;
  font-size: larger;
  position: absolute;
  width: 50%;
  max-height: 60%;
  left: 25%;
  top: 15%;
  background-color: rgb(110, 110, 110);
  border: 2px solid rgb(122, 224, 207);
  border-radius: 15px;
  color: rgb(221, 219, 219);
  text-align: start;
  font-weight: 600;
}
.instruction .instructionText .remark {
  color: black;
  text-align: center;
}
.instruction .instructionText .textContainer {
  margin: 5px 0;
}
.instruction .instructionText .sContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
}
.instruction .instructionText .sContainer .symbol {
  width: 150px;
  display: flex;
  align-items: center;
}
.instruction .instructionText .sContainer .symbol .symbolImg {
  border-radius: 50%;
  padding: 3px;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.instruction .instructionText .dContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  font-size: medium;
}
.instruction .instructionText .dContainer .dot {
  width: 150px;
  display: flex;
  align-items: center;
}
.instruction .instructionText .dContainer .dot .dotImg {
  border-radius: 50%;
  padding: 3px;
  width: 30px;
}
.instruction .instructionText .dContainer .dot .available .star {
  fill: #fccf67;
  opacity: 0.7;
}
.instruction .instructionText .dContainer .dot .chosen {
  transform: scale(1.1, 1.1);
}
.instruction .true {
  display: block;
}
.instruction .false {
  display: none;
}
