@media only screen and (max-width: 1800px) {
  .counter {
    top: 2%;
    left: 27%;
  }
}
@media only screen and (max-width: 1250px) {
  .counter {
    top: 0%;
    left: 3%;
  }
}
@media only screen and (max-width: 1101px) {
  .counter {
    top: 8%;
    left: 24%;
  }
}
@media only screen and (max-width: 420px) {
  .counter {
    top: 15%;
    left: 3%;
  }
}
