.dot_brilliance {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 60.1%;
        top: 58.5%;
    }

    #dot2 {
        right: 75.4%;
        top: 59%;
    }

    #dot3 {
        right: 84.5%;
        top: 47.6%;
    }

    #dot4 {
        right: 79.1%;
        top: 35.8%;
    }

    #dot5 {
        right: 66.7%;
        top: 31.3%;
    }

    #dot6 {
        right: 66.6%;
        top: 46.6%;
    }

    #dot7 {
        right: 56.1%;
        top: 35.8%;
    }

    #dot8 {
        right: 41.3%;
        top: 30.5%;
    }

    #dot9 {
        right: 29%;
        top: 32.3%;
    }

    #dot10 {
        right: 51.6%;
        top: 46.6%;
    }

    #dot11 {
        right: 35.5%;
        top: 43.9%;
    }

    #dot12 {
        right: 20.4%;
        top: 42.5%;
    }

    #dot13 {
        right: 4.9%;
        top: 45.9%;
    }

    #dot14 {
        right: 41.9%;
        top: 55.8%;
    }

    #dot15 {
        right: 29%;
        top: 55.8%;
    }

    #dot16 {
        right: 15.8%;
        top: 58.4%;
    }

    #dot17 {
        right: 1.2%;
        top: 64.6%;
    }

    #dot18 {
        right: 67.7%;
        top: 70.6%;
    }

    #dot19 {
        right: 85.8%;
        top: 68.3%;
    }

    #dot20 {
        right: 40.2%;
        top: 67.3%;
    }

    #dot21 {
        right: 23.1%;
        top: 68.4%;
    }

    #line1 {
        left: 18.1%;
        top: 60.4%;
        width: 15.3%;
        transform: rotate(-1.25deg);
    }

    #line2 {
        left: 7.6%;
        top: 54.9%;
        width: 11.8%;
        transform: rotate(39.86deg);
    }

    #line3 {
        left: 6.9%;
        top: 43.3%;
        width: 9.6%;
        transform: rotate(-55.62deg);
    }

    #line4 {
        left: 14.2%;
        top: 35.1%;
        width: 12.8%;
        transform: rotate(-13.58deg);
    }

    #line5 {
        left: 25%;
        top: 54.2%;
        width: 10.3%;
        transform: rotate(50.61deg);
    }

    #line6 {
        left: 25.8%;
        top: 42.8%;
        width: 12.8%;
        transform: rotate(-34.62deg);
    }

    #line7 {
        left: 37.2%;
        top: 34.8%;
        width: 15.2%;
        transform: rotate(-13.28deg);
    }

    #line8 {
        left: 52.2%;
        top: 33%;
        width: 12.3%;
        transform: rotate(5.44deg);
    }

    #line9 {
        left: 31.9%;
        top: 54.2%;
        width: 11.7%;
        transform: rotate(-42.96deg);
    }

    #line10 {
        left: 41.9%;
        top: 46.9%;
        width: 16.2%;
        transform: rotate(-6.5deg);
    }

    #line11 {
        left: 58%;
        top: 44.8%;
        width: 15.1%;
        transform: rotate(-3.48deg);
    }

    #line12 {
        left: 73%;
        top: 45.8%;
        width: 15.7%;
        transform: rotate(8.26deg);
    }

    #line13 {
        left: 33.4%;
        top: 58.8%;
        width: 18.3%;
        transform: rotate(-5.76deg);
    }

    #line14 {
        left: 51.6%;
        top: 57.4%;
        width: 12.9%;
        transform: rotate(0deg);
    }

    #line15 {
        left: 64.4%;
        top: 58.7%;
        width: 13.3%;
        transform: rotate(7.52deg);
    }

    #line16 {
        left: 77.5%;
        top: 63.1%;
        width: 15.2%;
        transform: rotate(15.95deg);
    }

    #line17 {
        left: 24.1%;
        top: 66.2%;
        width: 11.1%;
        transform: rotate(-46.83deg);
    }

    #line18 {
        left: 7.6%;
        top: 71.1%;
        width: 18.2%;
        transform: rotate(4.98deg);
    }

    #line19 {
        left: 33%;
        top: 64.5%;
        width: 20.8%;
        transform: rotate(16.32deg);
    }

    #line20 {
        left: 53.3%;
        top: 69.4%;
        width: 17.1%;
        transform: rotate(2.51deg);
    }
}