.dot_waterfall {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 43.5%;
        top: 48.9%;
    }

    #dot2 {
        right: 56.8%;
        top: 43.8%;
    }

    #dot3 {
        right: 68.1%;
        top: 40.3%;
    }

    #dot4 {
        right: 78.6%;
        top: 43.9%;
    }

    #dot5 {
        right: 88.7%;
        top: 35.6%;
    }

    #dot6 {
        right: 58.6%;
        top: 59.9%;
    }

    #dot7 {
        right: 68.1%;
        top: 54.4%;
    }

    #dot8 {
        right: 77.1%;
        top: 64.1%;
    }

    #dot9 {
        right: 86.8%;
        top: 57%;
    }

    #dot10 {
        right: 28.8%;
        top: 48.3%;
    }

    #dot11 {
        right: 16.8%;
        top: 45.8%;
    }

    #dot12 {
        right: 6.6%;
        top: 39.3%;
    }

    #dot13 {
        right: -1.3%;
        top: 50.5%;
    }

    #dot14 {
        right: 28.8%;
        top: 62.1%;
    }

    #dot15 {
        right: 18.2%;
        top: 66.3%;
    }

    #dot16 {
        right: 8.6%;
        top: 62.3%;
    }

    #dot17 {
        right: -1.3%;
        top: 65.3%;
    }

    #dot18 {
        right: 51%;
        top: 35.6%;
    }

    #dot19 {
        right: 36.5%;
        top: 36.6%;
    }

    #dot20 {
        right: 41.3%;
        top: 62.5%;
    }

    #dot21 {
        right: 52.9%;
        top: 69.8%;
    }

    #line1 {
        left: 36.5%;
        top: 47.9%;
        width: 13.7%;
        transform: rotate(14.46deg);
    }

    #line2 {
        left: 25.3%;
        top: 43.6%;
        width: 11.6%;
        transform: rotate(11.63deg);
    }

    #line3 {
        left: 14.8%;
        top: 43.7%;
        width: 10.8%;
        transform: rotate(-12.96deg);
    }

    #line4 {
        left: 4.1%;
        top: 41.4%;
        width: 11.5%;
        transform: rotate(28.61deg);
    }

    #line5 {
        left: 34.1%;
        top: 56%;
        width: 16.8%;
        transform: rotate(-25.93deg);
    }

    #line6 {
        left: 25.1%;
        top: 58.8%;
        width: 10.2%;
        transform: rotate(21.1deg);
    }

    #line7 {
        left: 15.4%;
        top: 60.8%;
        width: 11.1%;
        transform: rotate(-35.49deg);
    }

    #line8 {
        left: 6.2%;
        top: 62.2%;
        width: 10.8%;
        transform: rotate(26.17deg);
    }

    #line9 {
        left: 50%;
        top: 50.2%;
        width: 14.8%;
        transform: rotate(-1.62deg);
    }

    #line10 {
        left: 64.7%;
        top: 48.6%;
        width: 12%;
        transform: rotate(-7.96deg);
    }

    #line11 {
        left: 76.2%;
        top: 44.1%;
        width: 11.1%;
        transform: rotate(-22.92deg);
    }

    #line12 {
        left: 85.4%;
        top: 46.4%;
        width: 10.8%;
        transform: rotate(43.43deg);
    }

    #line13 {
        left: 48.8%;
        top: 57.3%;
        width: 17.2%;
        transform: rotate(31.5deg);
    }

    #line14 {
        left: 64.6%;
        top: 65.8%;
        width: 10.9%;
        transform: rotate(14.57deg);
    }

    #line15 {
        left: 75.2%;
        top: 65.9%;
        width: 9.9%;
        transform: rotate(-15.55deg);
    }

    #line16 {
        left: 84.8%;
        top: 65.4%;
        width: 10%;
        transform: rotate(11.5deg);
    }

    #line17 {
        left: 40.5%;
        top: 43.9%;
        width: 11.6%;
        transform: rotate(49.67deg);
    }

    #line18 {
        left: 42.5%;
        top: 37.8%;
        width: 14.5%;
        transform: rotate(2.63deg);
    }

    #line19 {
        left: 46.4%;
        top: 57.3%;
        width: 9.3%;
        transform: rotate(76.58deg);
    }

    #line20 {
        left: 40.1%;
        top: 67.8%;
        width: 12.6%;
        transform: rotate(-22.65deg);
    }
}