.dot_air {
    #dot1 {
        right: 47.6%;
        top: 52%;
    }

    #dot2 {
        right: 59.3%;
        top: 43.8%;
    }

    #dot3 {
        right: 66.5%;
        top: 34.8%;
    }

    #dot4 {
        right: 75.3%;
        top: 40%;
    }

    #dot5 {
        right: 86.3%;
        top: 36%;
    }

    #dot6 {
        right: 58.3%;
        top: 56.5%;
    }

    #dot7 {
        right: 67.4%;
        top: 51.6%;
    }

    #dot8 {
        right: 77.8%;
        top: 56.1%;
    }

    #dot9 {
        right: 88.3%;
        top: 55.3%;
    }

    #dot10 {
        right: 49.5%;
        top: 67.8%;
    }

    #dot11 {
        right: 64.1%;
        top: 67.8%;
    }

    #dot12 {
        right: 75.6%;
        top: 66.6%;
    }

    #dot13 {
        right: 85.1%;
        top: 71.9%;
    }

    #dot14 {
        right: 48.8%;
        top: 39.5%;
    }

    #dot15 {
        right: 37.8%;
        top: 33.5%;
    }

    #dot16 {
        right: 24.7%;
        top: 36.3%;
    }

    #dot17 {
        right: 10.4%;
        top: 32.1%;
    }

    #dot18 {
        right: 34.9%;
        top: 53.6%;
    }

    #dot19 {
        right: 23.4%;
        top: 48.8%;
    }

    #dot20 {
        right: 10.4%;
        top: 51.4%;
    }

    #dot21 {
        right: -1%;
        top: 43.8%;
    }

    #dot22 {
        right: 35.3%;
        top: 66.9%;
    }

    #dot23 {
        right: 23.4%;
        top: 64.1%;
    }

    #dot24 {
        right: 10.9%;
        top: 65.8%;
    }

    #dot25 {
        right: 0.5%;
        top: 62.8%;
    }


    #line1 {
        left: 33.6%;
        top: 49.5%;
        width: 13%;
        transform: rotate(25.08deg);
    }

    #line2 {
        left: 25.9%;
        top: 40.9%;
        width: 9.3%;
        transform: rotate(39.94deg);
    }

    #line3 {
        left: 17.9%;
        top: 39%;
        width: 9.4%;
        transform: rotate(-21.8deg);
    }

    #line4 {
        left: 7%;
        top: 39.6%;
        width: 11.4%;
        transform: rotate(13.53deg);
    }

    #line5 {
        left: 35%;
        top: 55.9%;
        width: 11.2%;
        transform: rotate(-15.59deg);
    }

    #line6 {
        left: 25.8%;
        top: 55.7%;
        width: 9.6%;
        transform: rotate(19.69deg);
    }

    #line7 {
        left: 15.5%;
        top: 55.5%;
        width: 10.8%;
        transform: rotate(-16.19deg);
    }

    #line8 {
        left: 5.2%;
        top: 57.3%;
        width: 10.5%;
        transform: rotate(3.18deg);
    }

    #line9 {
        left: 39.7%;
        top: 61.5%;
        width: 10.6%;
        transform: rotate(-81deg);
    }

    #line10 {
        left: 29.4%;
        top: 69.3%;
        width: 15.3%;
        transform: rotate(-0.32deg);
    }

    #line11 {
        left: 17.9%;
        top: 68.8%;
        width: 11.5%;
        transform: rotate(3.73deg);
    }

    #line12 {
        left: 8.1%;
        top: 70.9%;
        width: 10.1%;
        transform: rotate(-20.22deg);
    }

    #line13 {
        left: 41.1%;
        top: 47.4%;
        width: 8.4%;
        transform: rotate(82.03deg);
    }

    #line14 {
        left: 44.4%;
        top: 38.1%;
        width: 11.6%;
        transform: rotate(-20.12deg);
    }

    #line15 {
        left: 55.6%;
        top: 36.5%;
        width: 13.3%;
        transform: rotate(7.93deg);
    }

    #line16 {
        left: 68.7%;
        top: 35.8%;
        width: 14.5%;
        transform: rotate(-10.92deg);
    }

    #line17 {
        left: 45.9%;
        top: 55%;
        width: 12.7%;
        transform: rotate(4.89deg);
    }

    #line18 {
        left: 58.4%;
        top: 53%;
        width: 12%;
        transform: rotate(-15.78deg);
    }

    #line19 {
        left: 70%;
        top: 51.7%;
        width: 13.1%;
        transform: rotate(7.67deg);
    }

    #line20 {
        left: 82.5%;
        top: 49.2%;
        width: 12.5%;
        transform: rotate(-24deg);
    }

    #line21 {
        left: 44.2%;
        top: 61.5%;
        width: 15.8%;
        transform: rotate(40deg);
    }

    #line22 {
        left: 58.2%;
        top: 67.3%;
        width: 12%;
        transform: rotate(-8.81deg);
    }

    #line23 {
        left: 70.1%;
        top: 66.8%;
        width: 12.5%;
        transform: rotate(4.95deg);
    }

    #line24 {
        left: 82.5%;
        top: 66.3%;
        width: 10.6%;
        transform: rotate(-10.7deg);
    }

}