.dot_deadly-poison {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 47.9%;
        top: 49.1%;
    }

    #dot2 {
        right: 48.8%;
        top: 34.4%;
    }

    #dot3 {
        right: 59.1%;
        top: 37.8%;
    }

    #dot4 {
        right: 71%;
        top: 33.411%;
    }

    #dot5 {
        right: 86%;
        top: 35.8%;
    }

    #dot6 {
        right: 67.4%;
        top: 46%;
    }

    #dot7 {
        right: 79.6%;
        top: 51.8%;
    }

    #dot8 {
        right: 30.3%;
        top: 63.6%;
    }

    #dot9 {
        right: 39.5%;
        top: 68.5%;
    }

    #dot10 {
        right: 52.2%;
        top: 61%;
    }

    #dot11 {
        right: 63.1%;
        top: 56.6%;
    }

    #dot12 {
        right: 72.2%;
        top: 65.4%;
    }

    #dot13 {
        right: 88.3%;
        top: 68.9%;
    }

    #dot14 {
        right: 38.3%;
        top: 37.8%;
    }

    #dot15 {
        right: 28.4%;
        top: 32.6%;
    }

    #dot16 {
        right: 7.8%;
        top: 34.3%;
    }

    #dot17 {
        right: -1%;
        top: 27.9%;
    }

    #dot18 {
        right: 20%;
        top: 40.9%;
    }

    #dot19 {
        right: 1.4%;
        top: 43.6%;
    }

    #dot20 {
        right: 34.4%;
        top: 50.6%;
    }

    #dot21 {
        right: 23.6%;
        top: 53.9%;
    }

    #dot22 {
        right: 10%;
        top: 50.3%;
    }

    #dot23 {
        right: -0.4%;
        top: 59.1%;
    }

    #dot24 {
        right: 15.5%;
        top: 66.9%;
    }

    #dot25 {
        right: 3.3%;
        top: 74.4%;
    }

    #line1 {
        left: 40.4%;
        top: 43.4%;
        width: 9.9%;
        transform: rotate(86.61deg);
    }

    #line2 {
        left: 34.3%;
        top: 37.7%;
        width: 10.8%;
        transform: rotate(-12deg);
    }

    #line3 {
        left: 22.3%;
        top: 37.2%;
        width: 12.3%;
        transform: rotate(13.75deg);
    }

    #line4 {
        left: 7.5%;
        top: 36.2%;
        width: 15.1%;
        transform: rotate(-6.03deg);
    }

    #line5 {
        left: 25.3%;
        top: 43.5%;
        width: 10%;
        transform: rotate(-33.42deg);
    }

    #line6 {
        left: 13.6%;
        top: 50.5%;
        width: 12.8%;
        transform: rotate(-17.49deg);
    }

    #line7 {
        left: 44.3%;
        top: 58%;
        width: 20.1%;
        transform: rotate(28.8deg);
    }

    #line8 {
        left: 53.7%;
        top: 67.7%;
        width: 9.7%;
        transform: rotate(-19.52deg);
    }

    #line9 {
        left: 40.9%;
        top: 66.4%;
        width: 13.6%;
        transform: rotate(21.54deg);
    }

    #line10 {
        left: 30.2%;
        top: 60.4%;
        width: 11.3%;
        transform: rotate(14.96deg);
    }

    #line11 {
        left: 21.3%;
        top: 68.6%;
        width: 32.7%;
        transform: rotate(3.65deg);
    }

    #line12 {
        left: 5.1%;
        top: 68.8%;
        width: 16.3%;
        transform: rotate(-8.21deg);
    }

    #line13 {
        left: 44.3%;
        top: 45.1%;
        width: 12.3%;
        transform: rotate(-38.11deg);
    }

    #line14 {
        left: 55%;
        top: 36.8%;
        width: 10.4%;
        transform: rotate(-19.16deg);
    }

    #line15 {
        left: 65.1%;
        top: 35.1%;
        width: 20.6%;
        transform: rotate(3.03deg);
    }

    #line16 {
        left: 85.2%;
        top: 32.7%;
        width: 10%;
        transform: rotate(-25.07deg);
    }

    #line17 {
        left: 64.3%;
        top: 38.4%;
        width: 10.1%;
        transform: rotate(33.16deg);
    }

    #line18 {
        left: 73.5%;
        top: 43.9%;
        width: 18.7%;
        transform: rotate(5.63deg);
    }

    #line19 {
        left: 45.6%;
        top: 51.5%;
        width: 13.5%;
        transform: rotate(4.24deg);
    }

    #line20 {
        left: 59%;
        top: 53.9%;
        width: 11%;
        transform: rotate(11.31deg);
    }

    #line21 {
        left: 69.8%;
        top: 53.7%;
        width: 13.8%;
        transform: rotate(-10.09deg);
    }

    #line22 {
        left: 82.7%;
        top: 56.3%;
        width: 12%;
        transform: rotate(29.6deg);
    }

    #line23 {
        left: 68%;
        top: 62%;
        width: 11.9%;
        transform: rotate(46.99deg);
    }

    #line24 {
        left: 77.5%;
        top: 72.3%;
        width: 13.2%;
        transform: rotate(22.34deg);
    }
}