.dot_maggot {
    #dot1 {
        right: 76.8%;
        top: 47%;
    }

    #dot2 {
        right: 77.2%;
        top: 71.5%;
    }

    #dot3 {
        right: 50.2%;
        top: 70%;
    }

    #dot4 {
        right: 63.2%;
        top: 56.3%;
    }

    #dot5 {
        right: 9.8%;
        top: 70%;
    }

    #dot6 {
        right: 57.3%;
        top: 37.1%;
    }

    #dot7 {
        right: 41.4%;
        top: 44.8%;
    }

    #dot8 {
        right: 35.8%;
        top: 59.3%;
    }

    #dot9 {
        right: 16.8%;
        top: 39.1%;
    }

    #dot10 {
        right: 20.8%;
        top: 56.6%;
    }

    #line1 {
        left: 16.3%;
        top: 72.8%;
        width: 27%;
        transform: rotate(-2.12deg);
    }

    #line2 {
        left: 28.9%;
        top: 65.3%;
        width: 15.8%;
        transform: rotate(34.7deg);
    }

    #line3 {
        left: 43.3%;
        top: 72%;
        width: 40.3%;
        transform: rotate(0deg);
    }

    #line4 {
        left: 29.7%;
        top: 52.6%;
        width: 23.1%;
        transform: rotate(-19.61deg);
    }

    #line5 {
        left: 35.9%;
        top: 42.9%;
        width: 16.6%;
        transform: rotate(17.8deg);
    }

    #line6 {
        left: 49.3%;
        top: 54%;
        width: 11.2%;
        transform: rotate(59.99deg);
    }

    #line7 {
        left: 68.6%;
        top: 49.9%;
        width: 12.3%;
        transform: rotate(-71.44deg);
    }

    #line8 {
        left: 71.2%;
        top: 65.3%;
        width: 14.1%;
        transform: rotate(38.77deg);
    }

    #line9 {
        left: 57.6%;
        top: 60%;
        width: 15.2%;
        transform: rotate(-7deg);
    }

}