.dot_ortemis {
    #dot1 {
        right: 39%;
        top: 51.4%;
    }

    #dot2 {
        right: 41.6%;
        top: 38.3%;
    }

    #dot3 {
        right: 50.7%;
        top: 34.1%;
    }

    #dot4 {
        right: 68.9%;
        top: 36.5%;
    }

    #dot5 {
        right: 83.3%;
        top: 34.3%;
    }

    #dot6 {
        right: 60.1%;
        top: 47%;
    }

    #dot7 {
        right: 78.1%;
        top: 52.9%;
    }

    #dot8 {
        right: 48.9%;
        top: 54.4%;
    }

    #dot9 {
        right: 55.8%;
        top: 65.8%;
    }

    #dot10 {
        right: 69.8%;
        top: 64.4%;
    }

    #dot11 {
        right: 85.4%;
        top: 69.5%;
    }

    #dot12 {
        right: 41.2%;
        top: 67%;
    }

    #dot13 {
        right: 28.3%;
        top: 73%;
    }

    #dot14 {
        right: 29.4%;
        top: 48.4%;
    }

    #dot15 {
        right: 18.3%;
        top: 37.6%;
    }
    #dot16 {
        right: 9.8%;
        top: 47%;
    }
    #dot17 {
        right: 1.8%;
        top: 36.4%;
    }
    #dot18 {
        right: 19.6%;
        top: 62.4%;
    }
    #dot19 {
        right: 6.8%;
        top: 68.1%;
    }

    #line1 {
        left: 48.6%;
        top: 46.8%;
        width: 9.2%;
        transform: rotate(73.7deg);
    }

    #line2 {
        left: 42.6%;
        top: 38.1%;
        width: 9.5%;
        transform: rotate(17.32deg);
    }

    #line3 {
        left: 24.5%;
        top: 37.3%;
        width: 18.3%;
        transform: rotate(-4.96deg);
    }

    #line4 {
        left: 10.2%;
        top: 37.4%;
        width: 14.4%;
        transform: rotate(5.97deg);
    }

    #line5 {
        left: 31.8%;
        top: 42.6%;
        width: 12.7%;
        transform: rotate(-42.35deg);
    }

    #line6 {
        left: 15.2%;
        top: 51.9%;
        width: 18.4%;
        transform: rotate(-12.02deg);
    }

    #line7 {
        left: 44.5%;
        top: 54.9%;
        width: 10.1%;
        transform: rotate(-11.4deg);
    }

    #line8 {
        left: 36.1%;
        top: 62%;
        width: 10.1%;
        transform: rotate(-47.66deg);
    }

    #line9 {
        left: 23.7%;
        top: 67.1%;
        width: 14%;
        transform: rotate(3.75deg);
    }

    #line10 {
        left: 7.9%;
        top: 68.9%;
        width: 16%;
        transform: rotate(-12.3deg);
    }

    #line11 {
        left: 37.7%;
        top: 68.4%;
        width: 14.6%;
        transform: rotate(3.27deg);
    }

    #line12 {
        left: 52%;
        top: 72%;
        width: 13.5%;
        transform: rotate(17.21deg);
    }

    #line13 {
        left: 54.4%;
        top: 51.9%;
        width: 9.8%;
        transform: rotate(-11.79deg);
    }

    #line14 {
        left: 63%;
        top: 45%;
        width: 13.3%;
        transform: rotate(-32.69deg);
    }

    #line15 {
        left: 74.2%;
        top: 44.3%;
        width: 10.6%;
        transform: rotate(36.06deg);
    }

    #line16 {
        left: 82.4%;
        top: 43.7%;
        width: 10.6%;
        transform: rotate(-41.82deg);
    }
    #line17 {
        left: 66.3%;
        top: 52%;
        width: 16.6%;
        transform: rotate(-85.38deg);
    }
    #line18 {
        left: 73.6%;
        top: 67.3%;
        width: 13.3%;
        transform: rotate(16.73deg);
    }

}