.dot_scent #dot1 {
  right: 84.9%;
  top: 45.9%;
}
.dot_scent #dot2 {
  right: 60%;
  top: 31.9%;
}
.dot_scent #dot3 {
  right: 36.6%;
  top: 30.9%;
}
.dot_scent #dot4 {
  right: 23.3%;
  top: 30.4%;
}
.dot_scent #dot5 {
  right: 4.5%;
  top: 28.9%;
}
.dot_scent #dot6 {
  right: 70.3%;
  top: 41.1%;
}
.dot_scent #dot7 {
  right: 50%;
  top: 38.1%;
}
.dot_scent #dot8 {
  right: 29.6%;
  top: 42.6%;
}
.dot_scent #dot9 {
  right: 15.7%;
  top: 41.8%;
}
.dot_scent #dot10 {
  right: 65.8%;
  top: 54.5%;
}
.dot_scent #dot11 {
  right: 45.1%;
  top: 53.1%;
}
.dot_scent #dot12 {
  right: 28.5%;
  top: 58.3%;
}
.dot_scent #dot13 {
  right: 5.8%;
  top: 50.3%;
}
.dot_scent #dot14 {
  right: 77.8%;
  top: 68.8%;
}
.dot_scent #dot15 {
  right: 54.3%;
  top: 64.9%;
}
.dot_scent #dot16 {
  right: 18.2%;
  top: 71.5%;
}
.dot_scent #dot17 {
  right: 2.6%;
  top: 64.5%;
}
.dot_scent #line1 {
  left: 7.7%;
  top: 40.9%;
  width: 26.6%;
  transform: rotate(-20.54deg);
}
.dot_scent #line2 {
  left: 33.5%;
  top: 33.4%;
  width: 23.4%;
  transform: rotate(-1.63deg);
}
.dot_scent #line3 {
  left: 56.9%;
  top: 32.6%;
  width: 13.3%;
  transform: rotate(-1.44deg);
}
.dot_scent #line4 {
  left: 70.2%;
  top: 31.6%;
  width: 18.9%;
  transform: rotate(-3.03deg);
}
.dot_scent #line5 {
  left: 8.4%;
  top: 45.5%;
  width: 15%;
  transform: rotate(-12.18deg);
}
.dot_scent #line6 {
  left: 23.2%;
  top: 41.6%;
  width: 20.3%;
  transform: rotate(-5.41deg);
}
.dot_scent #line7 {
  left: 43.4%;
  top: 42.4%;
  width: 20.6%;
  transform: rotate(8.36deg);
}
.dot_scent #line8 {
  left: 63.9%;
  top: 44.2%;
  width: 13.9%;
  transform: rotate(-2.4deg);
}
.dot_scent #line9 {
  left: 8.2%;
  top: 52.2%;
  width: 19.9%;
  transform: rotate(16.77deg);
}
.dot_scent #line10 {
  left: 27.7%;
  top: 55.8%;
  width: 20.8%;
  transform: rotate(-2.53deg);
}
.dot_scent #line11 {
  left: 48.2%;
  top: 57.7%;
  width: 16.9%;
  transform: rotate(11.64deg);
}
.dot_scent #line12 {
  left: 64.7%;
  top: 56.3%;
  width: 23.4%;
  transform: rotate(-13.15deg);
}
.dot_scent #line13 {
  left: 3.7%;
  top: 59.3%;
  width: 16.8%;
  transform: rotate(65.09deg);
}
.dot_scent #line14 {
  left: 15.6%;
  top: 68.8%;
  width: 23.6%;
  transform: rotate(-6.27deg);
}
.dot_scent #line15 {
  left: 39%;
  top: 70.2%;
  width: 36.4%;
  transform: rotate(6.96deg);
}
.dot_scent #line16 {
  left: 75%;
  top: 70%;
  width: 16.3%;
  transform: rotate(-16.67deg);
}
