.dot_spider {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 77.1%;
        top: 35.5%;
    }

    #dot2 {
        right: 80%;
        top: 48.1%;
    }

    #dot3 {
        right: 87.8%;
        top: 61.9%;
    }

    #dot4 {
        right: 67.4%;
        top: 40.5%;
    }

    #dot5 {
        right: 68.2%;
        top: 52.5%;
    }

    #dot6 {
        right: 61.4%;
        top: 63.1%;
    }

    #dot7 {
        right: 74.3%;
        top: 63.1%;
    }

    #dot8 {
        right: 35.8%;
        top: 35.3%;
    }

    #dot9 {
        right: 51%;
        top: 37.4%;
    }

    #dot10 {
        right: 58.1%;
        top: 47.9%;
    }

    #dot11 {
        right: 34%;
        top: 50.1%;
    }

    #dot12 {
        right: 47.2%;
        top: 46.6%;
    }

    #dot13 {
        right: 36.8%;
        top: 62.9%;
    }

    #dot14 {
        right: 51.3%;
        top: 58.6%;
    }

    #dot15 {
        right: 25.6%;
        top: 44.1%;
    }
    #dot16 {
        right: 24.7%;
        top: 58.9%;
    }
    #dot17 {
        right: 12.5%;
        top: 69.1%;
    }
    #dot18 {
        right: 17.8%;
        top: 34.9%;
    }
    #dot19 {
        right: 18.3%;
        top: 51.5%;
    }
    #dot20 {
        right: 6.8%;
        top: 37.6%;
    }
    #dot21 {
        right: 7.7%;
        top: 55%;
    }
    #dot22 {
        right: -1.4%;
        top: 44.8%;
    }
    #dot23 {
        right: -0.3%;
        top: 61.4%;
    }

    #line1 {
        left: 10.7%;
        top: 43.4%;
        width: 8.9%;
        transform: rotate(-70.7deg);
    }

    #line2 {
        left: 3.6%;
        top: 56.6%;
        width: 12%;
        transform: rotate(-49.79deg);
    }

    #line3 {
        left: 21.7%;
        top: 48.1%;
        width: 8%;
        transform: rotate(-84.64deg);
    }

    #line4 {
        left: 5.3%;
        top: 58.8%;
        width: 19.3%;
        transform: rotate(-17.7deg);
    }

    #line5 {
        left: 19.3%;
        top: 64.8%;
        width: 12.8%;
        transform: rotate(0deg);
    }

    #line6 {
        left: 5.7%;
        top: 64.1%;
        width: 13.5%;
        transform: rotate(3.53deg);
    }

    #line7 {
        left: 42.5%;
        top: 37.9%;
        width: 15.0%;
        transform: rotate(-5.34deg);
    }

    #line8 {
        left: 34.1%;
        top: 44.3%;
        width: 9.9%;
        transform: rotate(-45deg);
    }

    #line9 {
        left: 45.9%;
        top: 50.1%;
        width: 13.7%;
        transform: rotate(9.12deg);
    }

    #line10 {
        left: 35.5%;
        top: 49%;
        width: 10.5%;
        transform: rotate(-3.63deg);
    }

    #line11 {
        left: 42%;
        top: 62.4%;
        width: 14.9%;
        transform: rotate(10.99deg);
    }

    #line12 {
        left: 33.9%;
        top: 54.9%;
        width: 9.8%;
        transform: rotate(47.07deg);
    }

    #line13 {
        left: 63.4%;
        top: 53.1%;
        width: 9.9%;
        transform: rotate(84.67deg);
    }

    #line14 {
        left: 67.9%;
        top: 65.6%;
        width: 14%;
        transform: rotate(29.32deg);
    }

    #line15 {
        left: 70%;
        top: 44.8%;
        width: 11.1%;
        transform: rotate(-87.42deg);
    }

    #line16 {
        left: 71.6%;
        top: 61.9%;
        width: 13.1%;
        transform: rotate(63.92deg);
    }
    #line17 {
        left: 80.4%;
        top: 47.9%;
        width: 11.6%;
        transform: rotate(-85.89deg);
    }
    #line18 {
        left: 78.1%;
        top: 63.7%;
        width: 10.6%;
        transform: rotate(-62.83deg);
    }
    #line19 {
        left: 88.8%;
        top: 54.7%;
        width: 11.1%;
        transform: rotate(-83.99deg);
    }
    #line20 {
        left: 80.5%;
        top: 66.9%;
        width: 13.8%;
        transform: rotate(-22.06deg);
    }
    
}