.dot_stench {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 43.2%;
        top: 50%;
    }

    #dot2 {
        right: 48.6%;
        top: 30.6%;
    }

    #dot3 {
        right: 58.5%;
        top: 29.5%;
    }

    #dot4 {
        right: 71.6%;
        top: 28.9%;
    }

    #dot5 {
        right: 83.9%;
        top: 23.6%;
    }

    #dot6 {
        right: 51.5%;
        top: 41.9%;
    }

    #dot7 {
        right: 62.3%;
        top: 40%;
    }

    #dot8 {
        right: 73.8%;
        top: 39.3%;
    }

    #dot9 {
        right: 87.6%;
        top: 34.5%;
    }

    #dot10 {
        right: 51.8%;
        top: 56.3%;
    }

    #dot11 {
        right: 62.5%;
        top: 55.9%;
    }

    #dot12 {
        right: 74.2%;
        top: 52.8%;
    }

    #dot13 {
        right: 89.2%;
        top: 53.4%;
    }

    #dot14 {
        right: 51.5%;
        top: 70%;
    }

    #dot15 {
        right: 62.5%;
        top: 67.5%;
    }

    #dot16 {
        right: 74.2%;
        top: 70.4%;
    }

    #dot17 {
        right: 88.8%;
        top: 68.3%;
    }

    #dot18 {
        right: 36.4%;
        top: 30.3%;
    }

    #dot19 {
        right: 24.8%;
        top: 31.3%;
    }

    #dot20 {
        right: 13.7%;
        top: 31.1%;
    }

    #dot21 {
        right: 1.7%;
        top: 27.3%;
    }

    #dot22 {
        right: 35.4%;
        top: 42%;
    }

    #dot23 {
        right: 25.1%;
        top: 43.5%;
    }

    #dot24 {
        right: 13.4%;
        top: 43.1%;
    }

    #dot25 {
        right: 0.4%;
        top: 41.9%;
    }

    #dot26 {
        right: 35%;
        top: 56.3%;
    }

    #dot27 {
        right: 22.2%;
        top: 56.6%;
    }

    #dot28 {
        right: 12.5%;
        top: 61%;
    }

    #dot29 {
        right: 1.9%;
        top: 54.9%;
    }

    #dot30 {
        right: 39.1%;
        top: 67.5%;
    }

    #dot31 {
        right: 26.4%;
        top: 68.3%;
    }

    #dot32 {
        right: 9.3%;
        top: 73.1%;
    }

    #dot33 {
        right: -2%;
        top: 69.4%;
    }

    #line1 {
        left: 40.6%;
        top: 41.9%;
        width: 14%;
        transform: rotate(67.25deg);
    }

    #line2 {
        left: 35%;
        top: 31.7%;
        width: 9.9%;
        transform: rotate(4.33deg);
    }

    #line3 {
        left: 21.9%;
        top: 30.8%;
        width: 13.1%;
        transform: rotate(1.82deg);
    }

    #line4 {
        left: 9.3%;
        top: 27.9%;
        width: 12.8%;
        transform: rotate(15.84deg);
    }

    #line5 {
        left: 41.2%;
        top: 47.6%;
        width: 9.9%;
        transform: rotate(33.02deg);
    }

    #line6 {
        left: 31.2%;
        top: 42.6%;
        width: 10.8%;
        transform: rotate(6.63deg);
    }

    #line7 {
        left: 19.7%;
        top: 41.3%;
        width: 11.5%;
        transform: rotate(2.49deg);
    }

    #line8 {
        left: 5.7%;
        top: 38.5%;
        width: 14.2%;
        transform: rotate(12.89deg);
    }

    #line9 {
        left: 41.2%;
        top: 54.8%;
        width: 9.6%;
        transform: rotate(-25.68deg);
    }

    #line10 {
        left: 31%;
        top: 57.7%;
        width: 10.7%;
        transform: rotate(1.34deg);
    }

    #line11 {
        left: 19.2%;
        top: 55.9%;
        width: 11.9%;
        transform: rotate(10.12deg);
    }

    #line12 {
        left: 4.3%;
        top: 54.7%;
        width: 15%;
        transform: rotate(-1.59deg);
    }

    #line13 {
        left: 38.3%;
        top: 61.6%;
        width: 15.7%;
        transform: rotate(-57.99deg);
    }

    #line14 {
        left: 30.9%;
        top: 70.4%;
        width: 11.1%;
        transform: rotate(8.62deg);
    }

    #line15 {
        left: 19.3%;
        top: 70.6%;
        width: 11.8%;
        transform: rotate(-9.33deg);
    }

    #line16 {
        left: 4.7%;
        top: 71%;
        width: 14.7%;
        transform: rotate(5deg);
    }

    #line17 {
        left: 46.3%;
        top: 41.8%;
        width: 14.8%;
        transform: rotate(-62.86deg);
    }

    #line18 {
        left: 57.1%;
        top: 32.4%;
        width: 11.7%;
        transform: rotate(3.27deg);
    }

    #line19 {
        left: 68.8%;
        top: 32.8%;
        width: 11.1%;
        transform: rotate(-0.43deg);
    }

    #line20 {
        left: 79.7%;
        top: 30.8%;
        width: 12.9%;
        transform: rotate(-11.53deg);
    }

    #line21 {
        left: 49.5%;
        top: 47.6%;
        width: 9.4%;
        transform: rotate(-34.53deg);
    }

    #line22 {
        left: 58.1%;
        top: 44.1%;
        width: 10.4%;
        transform: rotate(5.53deg);
    }

    #line23 {
        left: 68.4%;
        top: 44.9%;
        width: 11.7%;
        transform: rotate(-1.23deg);
    }

    #line24 {
        left: 80.1%;
        top: 44.1%;
        width: 13.5%;
        transform: rotate(-3.53deg);
    }

    #line25 {
        left: 49.8%;
        top: 54.8%;
        width: 9.2%;
        transform: rotate(27.03deg);
    }

    #line26 {
        left: 58.5%;
        top: 58.1%;
        width: 12.8%;
        transform: rotate(1.12deg);
    }

    #line27 {
        left: 71.1%;
        top: 60.4%;
        width: 10.1%;
        transform: rotate(16.79deg);
    }

    #line28 {
        left: 80.6%;
        top: 59.6%;
        width: 11.7%;
        transform: rotate(-20.37deg);
    }

    #line29 {
        left: 46.2%;
        top: 60.4%;
        width: 12.4%;
        transform: rotate(70.71deg);
    }

    #line30 {
        left: 54.4%;
        top: 69.5%;
        width: 12.8%;
        transform: rotate(2.23deg);
    }

    #line31 {
        left: 67.1%;
        top: 72.3%;
        width: 17.3%;
        transform: rotate(10.82deg);
    }

    #line32 {
        left: 84.1%;
        top: 72.9%;
        width: 11.4%;
        transform: rotate(-12.62deg);
    }

}