.dot_darkness .dotImg {
  height: 30px;
}
.dot_darkness #dot1 {
  right: 42.5%;
  top: 50.5%;
}
.dot_darkness #dot2 {
  right: 50.3%;
  top: 39.9%;
}
.dot_darkness #dot3 {
  right: 64.3%;
  top: 35.6%;
}
.dot_darkness #dot4 {
  right: 75.6%;
  top: 39.9%;
}
.dot_darkness #dot5 {
  right: 87.8%;
  top: 35.5%;
}
.dot_darkness #dot6 {
  right: 63.3%;
  top: 58.5%;
}
.dot_darkness #dot7 {
  right: 73.8%;
  top: 53.8%;
}
.dot_darkness #dot8 {
  right: 79.3%;
  top: 64.5%;
}
.dot_darkness #dot9 {
  right: 88.7%;
  top: 60.8%;
}
.dot_darkness #dot10 {
  right: 33%;
  top: 47.6%;
}
.dot_darkness #dot11 {
  right: 20.8%;
  top: 48.5%;
}
.dot_darkness #dot12 {
  right: 9.8%;
  top: 41.8%;
}
.dot_darkness #dot13 {
  right: -1.3%;
  top: 48.8%;
}
.dot_darkness #dot14 {
  right: 34.4%;
  top: 59.8%;
}
.dot_darkness #dot15 {
  right: 26.3%;
  top: 68.3%;
}
.dot_darkness #dot16 {
  right: 12.2%;
  top: 66.1%;
}
.dot_darkness #dot17 {
  right: -2.1%;
  top: 70.3%;
}
.dot_darkness #dot18 {
  right: 36.5%;
  top: 37.9%;
}
.dot_darkness #dot19 {
  right: 23.3%;
  top: 35.6%;
}
.dot_darkness #dot20 {
  right: 40.8%;
  top: 68.4%;
}
.dot_darkness #dot21 {
  right: 54.3%;
  top: 61%;
}
.dot_darkness #line1 {
  left: 41.8%;
  top: 46.8%;
  width: 10.6%;
  transform: rotate(42.12deg);
}
.dot_darkness #line2 {
  left: 29%;
  top: 39.4%;
  width: 14.3%;
  transform: rotate(11.44deg);
}
.dot_darkness #line3 {
  left: 17.7%;
  top: 39.4%;
  width: 11.6%;
  transform: rotate(-14.14deg);
}
.dot_darkness #line4 {
  left: 5.5%;
  top: 39.3%;
  width: 12.6%;
  transform: rotate(13.39deg);
}
.dot_darkness #line5 {
  left: 29.9%;
  top: 56.1%;
  width: 21.4%;
  transform: rotate(-14.41deg);
}
.dot_darkness #line6 {
  left: 19.4%;
  top: 57.8%;
  width: 11%;
  transform: rotate(16.66deg);
}
.dot_darkness #line7 {
  left: 12.4%;
  top: 60.8%;
  width: 9%;
  transform: rotate(-52.92deg);
}
.dot_darkness #line8 {
  left: 4.4%;
  top: 64.3%;
  width: 10%;
  transform: rotate(14.5deg);
}
.dot_darkness #line9 {
  left: 50.9%;
  top: 50.7%;
  width: 9.7%;
  transform: rotate(-11.41deg);
}
.dot_darkness #line10 {
  left: 60.5%;
  top: 49.6%;
  width: 12.2%;
  transform: rotate(2.35deg);
}
.dot_darkness #line11 {
  left: 72.2%;
  top: 46.8%;
  width: 12%;
  transform: rotate(-22.1deg);
}
.dot_darkness #line12 {
  left: 83.3%;
  top: 46.9%;
  width: 12%;
  transform: rotate(22.99deg);
}
.dot_darkness #line13 {
  left: 50%;
  top: 56.8%;
  width: 10.2%;
  transform: rotate(37.34deg);
}
.dot_darkness #line14 {
  left: 58.2%;
  top: 65.6%;
  width: 9.9%;
  transform: rotate(35.03deg);
}
.dot_darkness #line15 {
  left: 67.1%;
  top: 68.8%;
  width: 14.3%;
  transform: rotate(-5.71deg);
}
.dot_darkness #line16 {
  left: 81.2%;
  top: 69.8%;
  width: 14.5%;
  transform: rotate(10.92deg);
}
.dot_darkness #line17 {
  left: 48.8%;
  top: 45.8%;
  width: 10.3%;
  transform: rotate(-54.52deg);
}
.dot_darkness #line18 {
  left: 57%;
  top: 38.4%;
  width: 13.3%;
  transform: rotate(-6.5deg);
}
.dot_darkness #line19 {
  left: 45.8%;
  top: 61.1%;
  width: 12%;
  transform: rotate(82.04deg);
}
.dot_darkness #line20 {
  left: 38.8%;
  top: 66.3%;
  width: 14.3%;
  transform: rotate(20.13deg);
}
