.dot_fisherman {

    .dotImg {
        height: 30px;
    }
    #dot1 {
        right: 45.9%;
        top: 50.5%;
    }

    #dot2 {
        right: 51.1%;
        top: 39.5%;
    }

    #dot3 {
        right: 63.9%;
        top: 35.3%;
    }

    #dot4 {
        right: 75.8%;
        top: 41.9%;
    }

    #dot5 {
        right: 87.5%;
        top: 35.3%;
    }

    #dot6 {
        right: 48.1%;
        top: 66.1%;
    }

    #dot7 {
        right: 61.1%;
        top: 60.3%;
    }

    #dot8 {
        right: 74.4%;
        top: 59.8%;
    }

    #dot9 {
        right: 86.5%;
        top: 67.5%;
    }

    #dot10 {
        right: 36.8%;
        top: 39.3%;
    }

    #dot11 {
        right: 22.7%;
        top: 35.3%;
    }

    #dot12 {
        right: 9.6%;
        top: 36.3%;
    }

    #dot13 {
        right: -1.3%;
        top: 39.5%;
    }

    #dot14 {
        right: 35.4%;
        top: 65.6%;
    }

    #dot15 {
        right: 21.6%;
        top: 59.9%;
    }
    #dot16 {
        right: 8.7%;
        top: 58.9%;
    }
    #dot17 {
        right: -2.5%;
        top: 65%;
    }
    #dot18 {
        right: 54.9%;
        top: 52.1%;
    }
    #dot19 {
        right: 69.1%;
        top: 47%;
    }
    #dot20 {
        right: 29.8%;
        top: 48.1%;
    }
    #dot21 {
        right: 13.8%;
        top: 49.3%;
    }

    #line1 {
        left: 40.5%;
        top: 46.6%;
        width: 9%;
        transform: rotate(54.83deg);
    }

    #line2 {
        left: 29.4%;
        top: 39%;
        width: 13.1%;
        transform: rotate(12.45deg);
    }

    #line3 {
        left: 17.4%;
        top: 40.2%;
        width: 12.6%;
        transform: rotate(-20.47deg);
    }

    #line4 {
        left: 5.6%;
        top: 40.2%;
        width: 12.6%;
        transform: rotate(20.6deg);
    }

    #line5 {
        left: 41.2%;
        top: 59.9%;
        width: 10.6%;
        transform: rotate(-78.25deg);
    }

    #line6 {
        left: 32.1%;
        top: 64.8%;
        width: 13.6%;
        transform: rotate(16.77deg);
    }

    #line7 {
        left: 19.1%;
        top: 61.6%;
        width: 13.3%;
        transform: rotate(1.43deg);
    }

    #line8 {
        left: 6.5%;
        top: 65.3%;
        width: 13.1%;
        transform: rotate(-23.15deg);
    }

    #line9 {
        left: 46.2%;
        top: 46.5%;
        width: 11.8%;
        transform: rotate(-39.29deg);
    }

    #line10 {
        left: 56.6%;
        top: 38.8%;
        width: 14.3%;
        transform: rotate(-10.39deg);
    }

    #line11 {
        left: 70.8%;
        top: 37.4%;
        width: 13.1%;
        transform: rotate(2.92deg);
    }

    #line12 {
        left: 83.8%;
        top: 39.5%;
        width: 11%;
        transform: rotate(11.31deg);
    }

    #line13 {
        left: 45.5%;
        top: 59.8%;
        width: 14.6%;
        transform: rotate(44.08deg);
    }

    #line14 {
        left: 57.8%;
        top: 64.4%;
        width: 14.4%;
        transform: rotate(-15.49deg);
    }

    #line15 {
        left: 71.9%;
        top: 61%;
        width: 12.9%;
        transform: rotate(-2.95deg);
    }

    #line16 {
        left: 84.5%;
        top: 63.6%;
        width: 11.8%;
        transform: rotate(20.09deg);
    }
    #line17 {
        left: 38.6%;
        top: 52.9%;
        width: 9.1%;
        transform: rotate(-6.86deg);
    }
    #line18 {
        left: 24.2%;
        top: 51.2%;
        width: 14.6%;
        transform: rotate(13.56deg);
    }
    #line19 {
        left: 47.5%;
        top: 50.9%;
        width: 16.2%;
        transform: rotate(-5.59deg);
    }
    #line20 {
        left: 63.7%;
        top: 50.3%;
        width: 15.9%;
        transform: rotate(2.7deg);
    }
}