.dot_sailboat {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 43.5%;
        top: 50.5%;
    }

    #dot2 {
        right: 49.6%;
        top: 37%;
    }

    #dot3 {
        right: 62.5%;
        top: 35.4%;
    }

    #dot4 {
        right: 74.6%;
        top: 41.9%;
    }

    #dot5 {
        right: 87%;
        top: 35.8%;
    }

    #dot6 {
        right: 57.5%;
        top: 62.4%;
    }

    #dot7 {
        right: 69.6%;
        top: 68.1%;
    }

    #dot8 {
        right: 81.9%;
        top: 73.5%;
    }

    #dot9 {
        right: 89.5%;
        top: 62.3%;
    }

    #dot10 {
        right: 38.7%;
        top: 32.8%;
    }

    #dot11 {
        right: 27%;
        top: 37.9%;
    }

    #dot12 {
        right: 13.1%;
        top: 36.8%;
    }

    #dot13 {
        right: -0.4%;
        top: 37.4%;
    }

    #dot14 {
        right: 30.8%;
        top: 60.9%;
    }

    #dot15 {
        right: 12.4%;
        top: 64.4%;
    }

    #dot16 {
        right: 1.9%;
        top: 73.3%;
    }

    #dot17 {
        right: -1.7%;
        top: 60.1%;
    }

    #dot18 {
        right: 55.3%;
        top: 50.1%;
    }

    #dot19 {
        right: 70.4%;
        top: 55.4%;
    }

    #dot20 {
        right: 48.3%;
        top: 61.3%;
    }

    #dot21 {
        right: 40.2%;
        top: 65.9%;
    }

    #dot22 {
        right: 32.8%;
        top: 49.3%;
    }

    #dot23 {
        right: 7.8%;
        top: 51.9%;
    }

    #dot24 {
        right: 31.3%;
        top: 74.3%;
    }

    #dot25 {
        right: 20.4%;
        top: 69%;
    }

    #line1 {
        left: 41.5%;
        top: 45.4%;
        width: 10.9%;
        transform: rotate(55.94deg);
    }

    #line2 {
        left: 31%;
        top: 37.8%;
        width: 13%;
        transform: rotate(4.79deg);
    }

    #line3 {
        left: 18.5%;
        top: 40.3%;
        width: 12.8%;
        transform: rotate(-19.73deg);
    }

    #line4 {
        left: 6.2%;
        top: 40.4%;
        width: 13.1%;
        transform: rotate(18.2deg);
    }

    #line5 {
        left: 35%;
        top: 58.1%;
        width: 16.1%;
        transform: rotate(-29.49deg);
    }

    #line6 {
        left: 23.6%;
        top: 66.9%;
        width: 12.7%;
        transform: rotate(-17.6deg);
    }

    #line7 {
        left: 11.3%;
        top: 72.4%;
        width: 12.8%;
        transform: rotate(-16.2deg);
    }

    #line8 {
        left: 2.5%;
        top: 69.5%;
        width: 10.7%;
        transform: rotate(44.68deg);
    }

    #line9 {
        left: 46%;
        top: 43.3%;
        width: 12.8%;
        transform: rotate(-67.78deg);
    }

    #line10 {
        left: 54.6%;
        top: 36.9%;
        width: 12.2%;
        transform: rotate(16.32deg);
    }

    #line11 {
        left: 66.5%;
        top: 38.9%;
        width: 13.9%;
        transform: rotate(-3.08deg);
    }

    #line12 {
        left: 80.4%;
        top: 38.7%;
        width: 13.5%;
        transform: rotate(1.77deg);
    }

    #line13 {
        left: 49.1%;
        top: 57.3%;
        width: 14.5%;
        transform: rotate(28.48deg);
    }

    #line14 {
        left: 62.7%;
        top: 64.3%;
        width: 18.5%;
        transform: rotate(7.25deg);
    }

    #line15 {
        left: 80.3%;
        top: 70.4%;
        width: 12.1%;
        transform: rotate(29.4deg);
    }

    #line16 {
        left: 88.7%;
        top: 68.3%;
        width: 9.4%;
        transform: rotate(-66.5deg);
    }

    #line17 {
        left: 38.2%;
        top: 51.9%;
        width: 11.8%;
        transform: rotate(1.21deg);
    }

    #line18 {
        left: 22.9%;
        top: 54.4%;
        width: 15.5%;
        transform: rotate(-13.06deg);
    }

    #line19 {
        left: 43.3%;
        top: 57.5%;
        width: 8.6%;
        transform: rotate(-56deg);
    }

    #line20 {
        left: 44.9%;
        top: 65.2%;
        width: 8.7%;
        transform: rotate(20.68deg);
    }

    #line21 {
        left: 50%;
        top: 51.5%;
        width: 10.7%;
        transform: rotate(-4.47deg);
    }

    #line22 {
        left: 60.6%;
        top: 52.2%;
        width: 25.1%;
        transform: rotate(4deg);
    }

    #line23 {
        left: 46.1%;
        top: 64%;
        width: 20%;
        transform: rotate(52.27deg);
    }

    #line24 {
        left: 62%;
        top: 73.3%;
        width: 11.4%;
        transform: rotate(-17.9deg);
    }
}