.dot_stra .dotImg {
  height: 30px;
}
.dot_stra #dot1 {
  right: 43.3%;
  top: 50.5%;
}
.dot_stra #dot2 {
  right: 53.8%;
  top: 46.1%;
}
.dot_stra #dot3 {
  right: 64.3%;
  top: 43.1%;
}
.dot_stra #dot4 {
  right: 72.3%;
  top: 31.3%;
}
.dot_stra #dot5 {
  right: 84.3%;
  top: 27.6%;
}
.dot_stra #dot6 {
  right: 55.7%;
  top: 60.1%;
}
.dot_stra #dot7 {
  right: 64.3%;
  top: 66.6%;
}
.dot_stra #dot8 {
  right: 77.1%;
  top: 67.1%;
}
.dot_stra #dot9 {
  right: 78.9%;
  top: 49.5%;
}
.dot_stra #dot10 {
  right: 32.8%;
  top: 42.6%;
}
.dot_stra #dot11 {
  right: 25.2%;
  top: 31.3%;
}
.dot_stra #dot12 {
  right: 8.5%;
  top: 35%;
}
.dot_stra #dot13 {
  right: 18.9%;
  top: 44.3%;
}
.dot_stra #dot14 {
  right: 31%;
  top: 53.9%;
}
.dot_stra #dot15 {
  right: 17%;
  top: 60.3%;
}
.dot_stra #dot16 {
  right: 9.3%;
  top: 68%;
}
.dot_stra #dot17 {
  right: 2.5%;
  top: 56.9%;
}
.dot_stra #dot18 {
  right: 40.4%;
  top: 34.3%;
}
.dot_stra #dot19 {
  right: 55.9%;
  top: 34.9%;
}
.dot_stra #dot20 {
  right: 46.8%;
  top: 63.3%;
}
.dot_stra #dot21 {
  right: 33.3%;
  top: 65.9%;
}
.dot_stra #line1 {
  left: 39.6%;
  top: 49.9%;
  width: 10.9%;
  transform: rotate(15.52deg);
}
.dot_stra #line2 {
  left: 29.2%;
  top: 46.3%;
  width: 10.7%;
  transform: rotate(10.78deg);
}
.dot_stra #line3 {
  left: 19.6%;
  top: 39.2%;
  width: 11.3%;
  transform: rotate(44.7deg);
}
.dot_stra #line4 {
  left: 9.1%;
  top: 31.1%;
  width: 12.2%;
  transform: rotate(11.39deg);
}
.dot_stra #line5 {
  left: 37.1%;
  top: 56.9%;
  width: 14%;
  transform: rotate(-27.33deg);
}
.dot_stra #line6 {
  left: 28.7%;
  top: 65%;
  width: 9.7%;
  transform: rotate(-26.57deg);
}
.dot_stra #line7 {
  left: 16.4%;
  top: 68.5%;
  width: 12.8%;
  transform: rotate(-1.5deg);
}
.dot_stra #line8 {
  left: 9.6%;
  top: 59.9%;
  width: 11.9%;
  transform: rotate(81.13deg);
}
.dot_stra #line9 {
  left: 49.6%;
  top: 48.2%;
  width: 11.7%;
  transform: rotate(-26.57deg);
}
.dot_stra #line10 {
  left: 59.2%;
  top: 38.6%;
  width: 10.7%;
  transform: rotate(-45deg);
}
.dot_stra #line11 {
  left: 68.3%;
  top: 34.7%;
  width: 16.8%;
  transform: rotate(8.25deg);
}
.dot_stra #line12 {
  left: 73.7%;
  top: 41.2%;
  width: 12.1%;
  transform: rotate(-30.96deg);
}
.dot_stra #line13 {
  left: 50.1%;
  top: 53.8%;
  width: 12.5%;
  transform: rotate(10.41deg);
}
.dot_stra #line14 {
  left: 62.2%;
  top: 58.7%;
  width: 14.6%;
  transform: rotate(16.89deg);
}
.dot_stra #line15 {
  left: 75.7%;
  top: 65.8%;
  width: 9.3%;
  transform: rotate(33.69deg);
}
.dot_stra #line16 {
  left: 82.6%;
  top: 64.1%;
  width: 10%;
  transform: rotate(-47.69deg);
}
.dot_stra #line17 {
  left: 46.1%;
  top: 44%;
  width: 11.5%;
  transform: rotate(-75.34deg);
}
.dot_stra #line18 {
  left: 37.6%;
  top: 36.2%;
  width: 15.5%;
  transform: rotate(-1.54deg);
}
.dot_stra #line19 {
  left: 43.9%;
  top: 58.5%;
  width: 9.2%;
  transform: rotate(-67.62deg);
}
.dot_stra #line20 {
  left: 46.7%;
  top: 66.2%;
  width: 13.6%;
  transform: rotate(7.39deg);
}
