.dot_leaf #dot1 {
  top: 58%;
  right: 83%;
}
.dot_leaf #dot2 {
  top: 27%;
  right: 77%;
}
.dot_leaf #dot3 {
  top: 28%;
  right: 41%;
}
.dot_leaf #dot4 {
  top: 42%;
  right: 71%;
}
.dot_leaf #dot5 {
  top: 50%;
  right: 60%;
}
.dot_leaf #dot6 {
  top: 74%;
  right: 55%;
}
.dot_leaf #dot7 {
  top: 20%;
  right: 19%;
}
.dot_leaf #dot8 {
  top: 50%;
  right: 4%;
}
.dot_leaf #dot9 {
  top: 36%;
  right: 19%;
}
.dot_leaf #dot10 {
  top: 45%;
  right: 30%;
}
.dot_leaf #dot11 {
  top: 63%;
  right: 36%;
}
.dot_leaf #line1 {
  width: 22%;
  top: 45%;
  right: 75.5%;
  transform: rotate(-73.7deg);
}
.dot_leaf #line2 {
  width: 35%;
  top: 29.7%;
  right: 48%;
  transform: rotate(1.1deg);
}
.dot_leaf #line3 {
  width: 17%;
  top: 53%;
  right: 75.6%;
  transform: rotate(-42.5deg);
}
.dot_leaf #line4 {
  width: 30%;
  top: 37.5%;
  right: 48%;
  transform: rotate(-17deg);
}
.dot_leaf #line5 {
  width: 23%;
  top: 56.2%;
  right: 66.7%;
  transform: rotate(-13.5deg);
}
.dot_leaf #line6 {
  width: 24%;
  top: 41.6%;
  right: 45%;
  transform: rotate(-37.3deg);
}
.dot_leaf #line7 {
  width: 30%;
  top: 68.1%;
  right: 60.5%;
  transform: rotate(21deg);
}
.dot_leaf #line8 {
  width: 34.5%;
  top: 53%;
  right: 37.1%;
  transform: rotate(-65deg);
}
.dot_leaf #line9 {
  width: 23%;
  top: 26.2%;
  right: 25.7%;
  transform: rotate(-14deg);
}
.dot_leaf #line10 {
  width: 24%;
  top: 37.5%;
  right: 5.8%;
  transform: rotate(53.5deg);
}
.dot_leaf #line11 {
  width: 22%;
  top: 34.6%;
  right: 24.5%;
  transform: rotate(14deg);
}
.dot_leaf #line12 {
  width: 18%;
  top: 45%;
  right: 9.5%;
  transform: rotate(32.5deg);
}
.dot_leaf #line13 {
  width: 15.5%;
  top: 39.1%;
  right: 33.9%;
  transform: rotate(46.5deg);
}
.dot_leaf #line14 {
  width: 25%;
  top: 49.7%;
  right: 11%;
  transform: rotate(7.8deg);
}
.dot_leaf #line15 {
  width: 26%;
  top: 50.5%;
  right: 31.7%;
  transform: rotate(78deg);
}
.dot_leaf #line16 {
  width: 33%;
  top: 59.2%;
  right: 11%;
  transform: rotate(-15deg);
}
