.dot_leaf {
    #dot1 {
        top: 58%;
        right: 83%;
    }

    #dot2 {
        top: 27%;
        right: 77%;
    }

    #dot3 {
        top: 28%;
        right: 41%;
    }

    #dot4 {
        top: 42%;
        right: 71%;
    }

    #dot5 {
        top: 50%;
        right: 60%;
    }

    #dot6 {
        top: 74%;
        right: 55%;
    }

    #dot7 {
        top: 20%;
        right: 19%;
    }

    #dot8 {
        top: 50%;
        right: 4%;
    }
    #dot9 {
        top: 36%;
        right: 19%;
    }
    #dot10 {
        top: 45%;
        right: 30%;
    }
    #dot11 {
        top: 63%;
        right: 36%;
    }

    #line1 {
        width: 22%;
        top: 45%;
        right: 75.5%;
        transform: rotate(-73.7deg);
    }
    #line2 {
        width: 35%;
        top: 29.7%;
        right: 48%;
        transform: rotate(1.1deg);
    }
    #line3 {
        width: 17%;
        top: 53%;
        right: 75.6%;
        transform: rotate(-42.5deg);
    }
    #line4 {
        width: 30%;
        top: 37.5%;
        right: 48%;
        transform: rotate(-17deg);
    }
    #line5 {
        width: 23%;
        top: 56.2%;
        right: 66.7%;
        transform: rotate(-13.5deg);
    }
    #line6 {
        width: 24%;
        top: 41.6%;
        right: 45%;
        transform: rotate(-37.3deg);
    }
    #line7 {
        width: 30%;
        top: 68.1%;
        right: 60.5%;
        transform: rotate(21deg);
    }
    #line8 {
        width: 34.5%;
        top: 53%;
        right: 37.1%;
        transform: rotate(-65deg);
    }
    #line9 {
        width: 23%;
        top: 26.2%;
        right: 25.7%;
        transform: rotate(-14deg);
    }
    #line10 {
        width: 24%;
        top: 37.5%;
        right: 5.8%;
        transform: rotate(53.5deg);
    }
    #line11 {
        width: 22%;
        top: 34.6%;
        right: 24.5%;
        transform: rotate(14deg);
    }
    #line12 {
        width: 18%;
        top: 45%;
        right: 9.5%;
        transform: rotate(32.5deg);
    }
    #line13 {
        width: 15.5%;
        top: 39.1%;
        right: 33.9%;
        transform: rotate(46.5deg);
    }
    #line14 {
        width: 25%;
        top:49.7%;
        right: 11%;
        transform: rotate(7.8deg);
    }
    #line15 {
        width: 26%;
        top: 50.5%;
        right: 31.7%;
        transform: rotate(78deg);
    }
    #line16 {
        width: 33%;
        top:59.2%;
        right: 11%;
        transform: rotate(-15deg);
    }

}