.dot_petal {
    #dot1 {
        top: 75%;
        right: 79.1%;
    }
    #dot2 {
        top: 53.9%;
        right: 70.9%;
    }
    #dot3 {
        top: 51%;
        right: 44%;
    }
    #dot4 {
        top: 72.3%;
        right: 55.1%;
    }
    #dot5 {
        top: 74.8%;
        right: 10.5%;
    }
    #dot6  {
        top: 73.3%;
        right: 33.3%;
    }
    #dot7  {
        top: 56.1%;
        right: 20.2%;
    }
    #dot8  {
        top: 35.3%;
        right: 59.2%;
    }
    #dot9  {
        top: 25%;
        right: 43%;
    }
    #dot10  {
        top: 38.1%;
        right: 26.8%;
    }

    #line1 {
        width: 16.4%;
        top: 66.9%;
        right: 73.3%;
        transform: rotate(-60.18deg);
    }
    #line2 {
        width: 27.5%; 
        top: 55%;
        left:22.5%;
        transform: rotate(-4.17deg);
    }
    #line3 {
        width: 24.1%; 
        top: 76.3%;
        left: 14.4%;
        transform: rotate(-4.17deg);
    }
    #line4 {
        width: 18.4%; 
        top: 64.3%;
        left: 35%;
        transform: rotate(-51.06deg);
    }
    #line5 {
        width: 22.8%; 
        top: 76.3%;
        left: 60.3%;
        transform: rotate(2deg);
    }
    #line6 {
        width: 18.4%; 
        top: 64.8%;
        left: 45.9%;
        transform: rotate(56.09deg);
    }
    #line7 {
        width: 15.8%; 
        top: 67.9%;
        left: 70.3%;
        transform: rotate(51.86deg);
    }
    #line8 {
        width: 23.6%; 
        top: 55.9%;
        left: 49.9%;
        transform: rotate(8.73deg);
    }
    #line9 {
        width: 18.8%; 
        top: 45.4%;
        left: 32.8%;
        transform: rotate(33.62deg);
    }
    #line10 {
        width: 17.6%; 
        top: 32.6%;
        left: 33.6%;
        transform: rotate(-22.91deg);
    }
    #line11 {
        width: 18.8%; 
        top: 46.9%;
        left: 49%;
        transform: rotate(-26.91deg);
    }
    #line12 {
        width: 18.4%; 
        top: 34%;
        left: 49.4%;
        transform: rotate(28.07deg);
    }
}