.dot_root {
    #dot1 {
        right: 81.9%;
        top: 79.3%;
    }

    #dot2 {
        right: 73%;
        top: 56%;
    }

    #dot3 {
        right: 51.8%;
        top: 55%;
    }

    #dot4 {
        right: 60%;
        top: 79.5%;
    }

    #dot5 {
        right: 16.4%;
        top: 79.3%;
    }

    #dot6 {
        right: 39.1%;
        top: 82.6%;
    }

    #dot7 {
        right: 32%;
        top: 61%;
    }

    #dot8 {
        right: 7.2%;
        top: 50.3%;
    }

    #dot9 {
        right: 24.6%;
        top: 46.5%;
    }

    #dot10 {
        right: 43.3%;
        top: 31.8%;
    }

    #dot11 {
        right: 6.3%;
        top: 26.3%;
    }

    #dot12 {
        right: 21.9%;
        top: 32.1%;
    }

    #dot13 {
        right: 62.6%;
        top: 42.4%;
    }

    #dot14 {
        right: 80.5%;
        top: 26%;
    }

    #dot15 {
        right: 60.3%;
        top: 26.8%;
    }

    #line1 {
        width: 18%;
        left:6.8%;
        top: 71%;
        transform: rotate(-60deg);
    }

    #line2 {
        width: 20.5%;
        left: 21%;
        top: 57.5%;
        transform: rotate(-2deg);
    }

    #line3 {
        width: 21.5%;
        left: 11.6%;
        top: 81.5%;
        transform: rotate(0.5deg);
    }

    #line4 {
        width: 19%;
        left: 27.9%;
        top: 70.2%;
        transform: rotate(-63.7deg);
    }

    #line5 {
        width: 22.8%;
        left: 54.4%;
        top: 83.2%;
        transform: rotate(-5.46deg);
    }

    #line6 {
        width: 22.3%;
        left: 36.9%;
        top: 71%;
        transform: rotate(55.36deg);
    }

    #line7 {
        width: 19.8%;
        left: 59.4%;
        top: 72.3%;
        transform: rotate(37.98deg);
    }

    #line8 {
        width: 20.2%;
        left: 41.5%;
        top: 60.2%;
        transform: rotate(11.68deg);
    }

    #line9 {
        width: 13.7%;
        left: 29.5%;
        top: 50.9%;
        transform: rotate(37.84deg);
    }

    #line10 {
        width: 19.5%;
        left: 11.5%;
        top: 36%;
        transform: rotate(31.5deg);
    }

    #line11 {
        width: 17.6%;
        left: 68.8%;
        top: 50.6%;
        transform: rotate(8.17deg);
    }

    #line12 {
        width: 21.1%;
        left: 49%;
        top: 41.5%;
        transform: rotate(27.78deg);
    }

    #line13 {
        width: 16.1%;
        left: 71.4%;
        top: 31.5%;
        transform: rotate(-13.75deg);
    }

    #line14 {
        width: 21.6%;
        left: 50%;
        top: 34%;
        transform: rotate(0deg);
    }

    #line15 {
        width: 17.1%;
        left: 33%;
        top: 31.5%;
        transform: rotate(10.93deg);
    }

    #line16 {
        width: 19.2%;
        left: 14.2%;
        top: 28.5%;
        transform: rotate(1.5deg);
    }
}