.dot_seed {
    #dot1 {
        top: 33%;
        right: 80%;
    }
    #dot2 {
        top: 30%;
        right: 52%;
    }
    #dot3 {
        top: 50%;
        right: 40%;
    }
    #dot4 {
        top: 39%;
        right: 65%;
    }
    #dot5 {
        top: 56%;
        right: 58%;
    }
    #dot6 {
        top: 73%;
        right: 66%;
    }
    #dot7 {
        top: 33%;
        right: 23%;
    }
    #dot8 {
        top: 64%;
        right: 5%;
    }
    #dot9 {
        top: 49%;
        right: 19%;
    }
    #dot10 {
        top: 66%;
        right: 24%;
    }

    #line1 {
        width: 28%;
        top: 33.6%;
        right: 58.5%;
        transform: rotate(-4.2deg);
    }
    #line2 {
        width: 18%;
        top: 43%;
        right: 43%;
        transform: rotate(48.5deg);
    }
    #line3 {
        width: 15.5%;
        top: 38.3%;
        right: 70.5%;
        transform: rotate(13deg);
    }
    #line4 {
        width: 26%;
        top: 46.7%;
        right: 45.5%;
        transform: rotate(17deg);
    }
    #line5 {
        width: 27%;
        top: 46.7%;
        right: 62%;
        transform: rotate(34.5deg);
    }
    #line6 {
        width: 19%;
        top: 55.3%;
        right: 47%;
        transform: rotate(-12.5deg);
    }
    #line7 {
        width: 30%;
        top: 54%;
        right: 64.8%;
        transform: rotate(62.2deg);
    }
    #line8 {
        width: 29.5%;
        top: 64%;
        right: 45.2%;
        transform: rotate(-30deg);
    }
    #line9 {
        width: 19%;
        top: 43.8%;
        right: 28.7%;
        transform: rotate(-34deg);
    }
    #line10 {
        width: 27%;
        top: 50.5%;
        right: 6.9%;
        transform: rotate(49deg);
    }
    #line11 {
        width: 21%;
        top: 51.5%;
        right: 24.5%;
        transform: rotate(-2deg);
    }
    #line12 {
        width: 17%;
        top: 58.6%;
        right: 10%;
        transform: rotate(36.7deg);
    }
    #line13 {
        width: 19%;
        top: 60%;
        right: 29.3%;
        transform: rotate(34deg);
    }
    #line14 {
        width: 19%;
        top: 67%;
        right: 11.2%;
        transform: rotate(-4.5deg);
    }

}