.dot_sadness {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 46.7%;
        top: 47.5%;
    }

    #dot2 {
        right: 54.7%;
        top: 42%;
    }

    #dot3 {
        right: 66.3%;
        top: 41.1%;
    }

    #dot4 {
        right: 76.2%;
        top: 48.1%;
    }

    #dot5 {
        right: 88.1%;
        top: 42.1%;
    }

    #dot6 {
        right: 57%;
        top: 58.1%;
    }

    #dot7 {
        right: 66.5%;
        top: 67%;
    }

    #dot8 {
        right: 76.8%;
        top: 62.6%;
    }

    #dot9 {
        right: 87.4%;
        top: 69.9%;
    }

    #dot10 {
        right: 35.3%;
        top: 42.3%;
    }

    #dot11 {
        right: 23.2%;
        top: 46%;
    }

    #dot12 {
        right: 11.5%;
        top: 41.6%;
    }

    #dot13 {
        right: -0.6%;
        top: 46%;
    }

    #dot14 {
        right: 38.5%;
        top: 54.8%;
    }

    #dot15 {
        right: 23.2%;
        top: 58.1%;
    }

    #dot16 {
        right: 13.7%;
        top: 66.8%;
    }

    #dot17 {
        right: 0.8%;
        top: 58.1%;
    }

    #dot18 {
        right: 47.8%;
        top: 36%;
    }

    #dot19 {
        right: 39.5%;
        top: 33.4%;
    }

    #dot20 {
        right: 48.2%;
        top: 62.4%;
    }

    #dot21 {
        right: 31.1%;
        top: 62.4%;
    }

    #line1 {
        left: 38.4%;
        top: 46.4%;
        width: 8.8%;
        transform: rotate(24.62deg);
    }

    #line2 {
        left: 27.2%;
        top: 43.2%;
        width: 11.7%;
        transform: rotate(2.86deg);
    }

    #line3 {
        left: 16.8%;
        top: 46.3%;
        width: 10.8%;
        transform: rotate(-25.39deg);
    }

    #line4 {
        left: 5.1%;
        top: 46.8%;
        width: 12.5%;
        transform: rotate(18.56deg);
    }

    #line5 {
        left: 35.4%;
        top: 54.4%;
        width: 12.5%;
        transform: rotate(-34.43deg);
    }

    #line6 {
        left: 26.2%;
        top: 64.2%;
        width: 11.2%;
        transform: rotate(-31.91deg);
    }

    #line7 {
        left: 16.5%;
        top: 66.4%;
        width: 10.7%;
        transform: rotate(15.76deg);
    }

    #line8 {
        left: 5.6%;
        top: 67.9%;
        width: 11.6%;
        transform: rotate(-24.55deg);
    }

    #line9 {
        left: 46.6%;
        top: 46.5%;
        width: 11.9%;
        transform: rotate(-17.16deg);
    }

    #line10 {
        left: 58%;
        top: 45.8%;
        width: 12.4%;
        transform: rotate(11.61deg);
    }

    #line11 {
        left: 70.2%;
        top: 45.4%;
        width: 13%;
        transform: rotate(-14.04deg);
    }

    #line12 {
        left: 81.8%;
        top: 45.4%;
        width: 12.4%;
        transform: rotate(13.57deg);
    }

    #line13 {
        left: 46.2%;
        top: 52.8%;
        width: 9.5%;
        transform: rotate(30.62deg);
    }

    #line14 {
        left: 54.9%;
        top: 58.1%;
        width: 15.5%;
        transform: rotate(8.35deg);
    }

    #line15 {
        left: 69.5%;
        top: 64.1%;
        width: 11.1%;
        transform: rotate(31.18deg);
    }

    #line16 {
        left: 79.2%;
        top: 64.1%;
        width: 14.1%;
        transform: rotate(-24deg);
    }

    #line17 {
        left: 42.4%;
        top: 43.4%;
        width: 7.8%;
        transform: rotate(81.35deg);
    }

    #line18 {
        left: 45.6%;
        top: 36.3%;
        width: 8.5%;
        transform: rotate(-11.86deg);
    }

    #line19 {
        left: 41.1%;
        top: 56.6%;
        width: 10%;
        transform: rotate(-81.4deg);
    }

    #line20 {
        left: 45.3%;
        top: 64%;
        width: 17.1%;
        transform: rotate(0deg);
    }
}