.dot_steel {

    .dot .text {
        padding: 0;
    }

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 43.5%;
        top: 50%;
    }

    #dot2 {
        right: 51.3%;
        top: 39.9%;
    }

    #dot3 {
        right: 65.3%;
        top: 36.5%;
    }

    #dot4 {
        right: 76.6%;
        top: 40%;
    }

    #dot5 {
        right: 88.3%;
        top: 38.6%;
    }

    #dot6 {
        right: 63.3%;
        top: 58%;
    }

    #dot7 {
        right: 73.9%;
        top: 53.4%;
    }

    #dot8 {
        right: 80.3%;
        top: 64.1%;
    }

    #dot9 {
        right: 88.7%;
        top: 59.6%;
    }

    #dot10 {
        right: 33.2%;
        top: 47.3%;
    }

    #dot11 {
        right: 23.2%;
        top: 48.8%;
    }

    #dot12 {
        right: 11.6%;
        top: 42.3%;
    }

    #dot13 {
        right: -0.8%;
        top: 47.9%;
    }

    #dot14 {
        right: 34.9%;
        top: 57.9%;
    }

    #dot15 {
        right: 24.8%;
        top: 67%;
    }

    #dot16 {
        right: 12%;
        top: 64.3%;
    }

    #dot17 {
        right: -1.3%;
        top: 67%;
    }

    #dot18 {
        right: 38.3%;
        top: 38%;
    }

    #dot19 {
        right: 25.4%;
        top: 33.8%;
    }

    #dot20 {
        right: 42.2%;
        top: 71%;
    }

    #dot21 {
        right: 55.3%;
        top: 64.3%;
    }

    #line1 {
        left: 40.9%;
        top: 46.7%;
        width: 10.3%;
        transform: rotate(40.75deg);
    }

    #line2 {
        left: 28.1%;
        top: 39.8%;
        width: 14.2%;
        transform: rotate(9.13deg);
    }

    #line3 {
        left: 16.8%;
        top: 39.9%;
        width: 11.4%;
        transform: rotate(-11.72deg);
    }

    #line4 {
        left: 5.2%;
        top: 40.9%;
        width: 11.7%;
        transform: rotate(4.49deg);
    }

    #line5 {
        left: 29.8%;
        top: 55.6%;
        width: 20.5%;
        transform: rotate(-15.05deg);
    }

    #line6 {
        left: 19.4%;
        top: 57.3%;
        width: 11%;
        transform: rotate(16.24deg);
    }

    #line7 {
        left: 11.6%;
        top: 60.4%;
        width: 9.8%;
        transform: rotate(-48.53deg);
    }

    #line8 {
        left: 4.6%;
        top: 63.5%;
        width: 8.9%;
        transform: rotate(19.62deg);
    }

    #line9 {
        left: 49.9%;
        top: 50.3%;
        width: 10.5%;
        transform: rotate(-10.06deg);
    }

    #line10 {
        left: 60.3%;
        top: 49.6%;
        width: 10.1%;
        transform: rotate(5.71deg);
    }

    #line11 {
        left: 69.9%;
        top: 47.1%;
        width: 12.3%;
        transform: rotate(-20.51deg);
    }

    #line12 {
        left: 81.6%;
        top: 46.7%;
        width: 12.9%;
        transform: rotate(16.81deg);
    }

    #line13 {
        left: 49.3%;
        top: 55.6%;
        width: 10%;
        transform: rotate(31.45deg);
    }

    #line14 {
        left: 57.7%;
        top: 64.1%;
        width: 11.8%;
        transform: rotate(30.89deg);
    }

    #line15 {
        left: 68.7%;
        top: 67.4%;
        width: 12.9%;
        transform: rotate(-8.18deg);
    }

    #line16 {
        left: 81.4%;
        top: 67.4%;
        width: 13.4%;
        transform: rotate(7.88deg);
    }

    #line17 {
        left: 47.9%;
        top: 45.7%;
        width: 9.5%;
        transform: rotate(-56.45deg);
    }

    #line18 {
        left: 55.1%;
        top: 37.5%;
        width: 13.1%;
        transform: rotate(-12.45deg);
    }

    #line19 {
        left: 43.6%;
        top: 62.1%;
        width: 14.1%;
        transform: rotate(84.56deg);
    }

    #line20 {
        left: 37.9%;
        top: 69.3%;
        width: 13.8%;
        transform: rotate(18.98deg);
    }
}