.dot_tipan {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 45%;
        top: 51.3%;
    }

    #dot2 {
        right: 57.6%;
        top: 48.8%;
    }

    #dot3 {
        right: 66.6%;
        top: 37.8%;
    }

    #dot4 {
        right: 77.7%;
        top: 43.8%;
    }

    #dot5 {
        right: 88.7%;
        top: 37.8%;
    }

    #dot6 {
        right: 52.1%;
        top: 60.1%;
    }

    #dot7 {
        right: 64.1%;
        top: 66.1%;
    }

    #dot8 {
        right: 73.8%;
        top: 56.9%;
    }

    #dot9 {
        right: 87%;
        top: 60.4%;
    }

    #dot10 {
        right: 34.5%;
        top: 44.5%;
    }

    #dot11 {
        right: 26.6%;
        top: 35.4%;
    }

    #dot12 {
        right: 14.3%;
        top: 37.9%;
    }

    #dot13 {
        right: 3%;
        top: 33.1%;
    }

    #dot14 {
        right: 33.6%;
        top: 56.6%;
    }

    #dot15 {
        right: 23.9%;
        top: 46.9%;
    }

    #dot16 {
        right: 11.8%;
        top: 54.6%;
    }

    #dot17 {
        right: -1.7%;
        top: 56.6%;
    }

    #dot18 {
        right: 42.2%;
        top: 37.8%;
    }

    #dot19 {
        right: 54.5%;
        top: 32.9%;
    }

    #dot20 {
        right: 38.7%;
        top: 69.9%;
    }

    #dot21 {
        right: 23.9%;
        top: 60.1%;
    }

    #line1 {
        left: 35.9%;
        top: 51.6%;
        width: 12.7%;
        transform: rotate(7.54deg);
    }

    #line2 {
        left: 25.6%;
        top: 44.9%;
        width: 11.6%;
        transform: rotate(39.17deg);
    }

    #line3 {
        left: 15.5%;
        top: 42.6%;
        width: 11.8%;
        transform: rotate(-19.84deg);
    }

    #line4 {
        left: 4.5%;
        top: 42.6%;
        width: 11.7%;
        transform: rotate(19.98deg);
    }

    #line5 {
        left: 40.3%;
        top: 57.3%;
        width: 9.2%;
        transform: rotate(-39.87deg);
    }

    #line6 {
        left: 29.1%;
        top: 64.8%;
        width: 12.6%;
        transform: rotate(-18.43deg);
    }

    #line7 {
        left: 18.9%;
        top: 63.1%;
        width: 11.5%;
        transform: rotate(32.54deg);
    }

    #line8 {
        left: 6.4%;
        top: 60.3%;
        width: 13.5%;
        transform: rotate(-9.99deg);
    }

    #line9 {
        left: 48%;
        top: 49.5%;
        width: 11.4%;
        transform: rotate(-23.2deg);
    }

    #line10 {
        left: 58%;
        top: 41.6%;
        width: 10%;
        transform: rotate(-37.54deg);
    }

    #line11 {
        left: 66.9%;
        top: 38.3%;
        width: 12.4%;
        transform: rotate(7.7deg);
    }

    #line12 {
        left: 79%;
        top: 37.1%;
        width: 11.7%;
        transform: rotate(-15.72deg);
    }

    #line13 {
        left: 48.2%;
        top: 55.6%;
        width: 12%;
        transform: rotate(17.43deg);
    }

    #line14 {
        left: 58.9%;
        top: 53.4%;
        width: 11.6%;
        transform: rotate(-33.92deg);
    }

    #line15 {
        left: 69.1%;
        top: 52.4%;
        width: 13.2%;
        transform: rotate(23.01deg);
    }

    #line16 {
        left: 81.7%;
        top: 57.1%;
        width: 13.5%;
        transform: rotate(5.68deg);
    }

    #line17 {
        left: 45.2%;
        top: 46.1%;
        width: 9.4%;
        transform: rotate(-72.53deg);
    }

    #line18 {
        left: 38.8%;
        top: 36.9%;
        width: 12.8%;
        transform: rotate(15.12deg);
    }

    #line19 {
        left: 44.7%;
        top: 62.2%;
        width: 13.9%;
        transform: rotate(62.98deg);
    }

    #line20 {
        left: 54.1%;
        top: 66.6%;
        width: 16.1%;
        transform: rotate(-23.78deg);
    }
}