.dot_flame {
    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 40.3%;
        top: 50.5%;
    }

    #dot2 {
        right: 55.6%;
        top: 45.9%;
    }

    #dot3 {
        right: 68.8%;
        top: 42.3%;
    }

    #dot4 {
        right: 77.3%;
        top: 51.4%;
    }

    #dot5 {
        right: 87.6%;
        top: 37.3%;
    }

    #dot6 {
        right: 47.1%;
        top: 56.5%;
    }

    #dot7 {
        right: 59%;
        top: 57.5%;
    }

    #dot8 {
        right: 70.5%;
        top: 66.5%;
    }

    #dot9 {
        right: 84.3%;
        top: 62.3%;
    }

    #dot10 {
        right: 29.1%;
        top: 54.5%;
    }

    #dot11 {
        right: 17.3%;
        top: 55.3%;
    }

    #dot12 {
        right: 12.2%;
        top: 42.3%;
    }

    #dot13 {
        right: 1.8%;
        top: 51.4%;
    }

    #dot14 {
        right: 34.8%;
        top: 62.1%;
    }

    #dot15 {
        right: 25.5%;
        top: 66.5%;
    }

    #dot16 {
        right: 12.2%;
        top: 68.5%;
    }

    #dot17 {
        right: -0.3%;
        top: 70.5%;
    }

    #dot18 {
        right: 46.2%;
        top: 38.6%;
    }

    #dot19 {
        right: 34.6%;
        top: 40.8%;
    }

    #dot20 {
        right: 39.2%;
        top: 70.9%;
    }

    #dot21 {
        right: 53.3%;
        top: 68%;
    }

    #line1 {
        left: 37.8%;
        top: 49.8%;
        width: 15.6%;
        transform: rotate(11.37deg);
    }

    #line2 {
        left: 24.6%;
        top: 45.7%;
        width: 13.5%;
        transform: rotate(10.34deg);
    }

    #line3 {
        left: 15.3%;
        top: 48.4%;
        width: 10.4%;
        transform: rotate(-35.86deg);
    }

    #line4 {
        left: 4.4%;
        top: 45.9%;
        width: 14%;
        transform: rotate(42.34deg);
    }

    #line5 {
        left: 45.9%;
        top: 55.1%;
        width: 7.9%;
        transform: rotate(-30.34deg);
    }

    #line6 {
        left: 34.5%;
        top: 58.6%;
        width: 11.9%;
        transform: rotate(-3.2deg);
    }

    #line7 {
        left: 22.3%;
        top: 63.6%;
        width: 13%;
        transform: rotate(-27.55deg);
    }

    #line8 {
        left: 9.1%;
        top: 66%;
        width: 14%;
        transform: rotate(11.64deg);
    }

    #line9 {
        left: 53.1%;
        top: 54.1%;
        width: 11.5%;
        transform: rotate(13.43deg);
    }

    #line10 {
        left: 64.4%;
        top: 56.4%;
        width: 11.8%;
        transform: rotate(2.84deg);
    }

    #line11 {
        left: 73.7%;
        top: 50.4%;
        width: 10.1%;
        transform: rotate(-59.2deg);
    }

    #line12 {
        left: 80.5%;
        top: 48.4%;
        width: 12%;
        transform: rotate(30.49deg);
    }

    #line13 {
        left: 51.3%;
        top: 57.9%;
        width: 9.4%;
        transform: rotate(54.76deg);
    }

    #line14 {
        left: 58.4%;
        top: 65.9%;
        width: 9.8%;
        transform: rotate(17.35deg);
    }

    #line15 {
        left: 68%;
        top: 69.1%;
        width: 13.4%;
        transform: rotate(5.71deg);
    }

    #line16 {
        left: 81.3%;
        top: 71.1%;
        width: 12.5%;
        transform: rotate(6.13deg);
    }

    #line17 {
        left: 45.4%;
        top: 46.2%;
        width: 9.9%;
        transform: rotate(53.23deg);
    }

    #line18 {
        left: 47.3%;
        top: 41.3%;
        width: 11.5%;
        transform: rotate(7.07deg);
    }

    #line19 {
        left: 47%;
        top: 62.3%;
        width: 13.6%;
        transform: rotate(85.44deg);
    }

    #line20 {
        left: 40.2%;
        top: 71.1%;
        width: 14.2%;
        transform: rotate(7.75deg);
    }
}