.dot_ganida .dotImg {
  height: 30px;
}
.dot_ganida #dot1 {
  right: 41.6%;
  top: 54%;
}
.dot_ganida #dot2 {
  right: 50.4%;
  top: 43.6%;
}
.dot_ganida #dot3 {
  right: 63.2%;
  top: 40%;
}
.dot_ganida #dot4 {
  right: 75.8%;
  top: 43.6%;
}
.dot_ganida #dot5 {
  right: 88.3%;
  top: 40.3%;
}
.dot_ganida #dot6 {
  right: 63.5%;
  top: 62%;
}
.dot_ganida #dot7 {
  right: 72.4%;
  top: 56.6%;
}
.dot_ganida #dot8 {
  right: 78.3%;
  top: 67.6%;
}
.dot_ganida #dot9 {
  right: 88.5%;
  top: 63%;
}
.dot_ganida #dot10 {
  right: 31.3%;
  top: 51.1%;
}
.dot_ganida #dot11 {
  right: 20.5%;
  top: 52.1%;
}
.dot_ganida #dot12 {
  right: 9.8%;
  top: 46.1%;
}
.dot_ganida #dot13 {
  right: -0.8%;
  top: 52.1%;
}
.dot_ganida #dot14 {
  right: 33.5%;
  top: 61.9%;
}
.dot_ganida #dot15 {
  right: 25.2%;
  top: 69.1%;
}
.dot_ganida #dot16 {
  right: 12.1%;
  top: 66.1%;
}
.dot_ganida #dot17 {
  right: -1.7%;
  top: 69.1%;
}
.dot_ganida #dot18 {
  right: 35.5%;
  top: 42.5%;
}
.dot_ganida #dot19 {
  right: 23.3%;
  top: 39.3%;
}
.dot_ganida #dot20 {
  right: 40.2%;
  top: 70%;
}
.dot_ganida #dot21 {
  right: 53.1%;
  top: 62.8%;
}
.dot_ganida #line1 {
  left: 41.9%;
  top: 50.4%;
  width: 11.2%;
  transform: rotate(38.06deg);
}
.dot_ganida #line2 {
  left: 30.2%;
  top: 43.4%;
  width: 13%;
  transform: rotate(10.73deg);
}
.dot_ganida #line3 {
  left: 17.6%;
  top: 43.4%;
  width: 12.9%;
  transform: rotate(-10.8deg);
}
.dot_ganida #line4 {
  left: 4.9%;
  top: 43.6%;
  width: 12.9%;
  transform: rotate(10.07deg);
}
.dot_ganida #line5 {
  left: 29.7%;
  top: 59.6%;
  width: 22.6%;
  transform: rotate(-13.68deg);
}
.dot_ganida #line6 {
  left: 20.7%;
  top: 60.9%;
  width: 9.6%;
  transform: rotate(21.89deg);
}
.dot_ganida #line7 {
  left: 13.5%;
  top: 63.8%;
  width: 9.4%;
  transform: rotate(-51.5deg);
}
.dot_ganida #line8 {
  left: 4.8%;
  top: 66.9%;
  width: 10.7%;
  transform: rotate(16.74deg);
}
.dot_ganida #line9 {
  left: 51.8%;
  top: 54.2%;
  width: 10.4%;
  transform: rotate(-10.59deg);
}
.dot_ganida #line10 {
  left: 62.2%;
  top: 53.3%;
  width: 10.9%;
  transform: rotate(3.52deg);
}
.dot_ganida #line11 {
  left: 72.7%;
  top: 50.8%;
  width: 11.4%;
  transform: rotate(-20.16deg);
}
.dot_ganida #line12 {
  left: 83.3%;
  top: 50.8%;
  width: 11.4%;
  transform: rotate(20.16deg);
}
.dot_ganida #line13 {
  left: 51.1%;
  top: 59.6%;
  width: 9.6%;
  transform: rotate(33deg);
}
.dot_ganida #line14 {
  left: 59.4%;
  top: 67.1%;
  width: 9.6%;
  transform: rotate(30.11deg);
}
.dot_ganida #line15 {
  left: 68.3%;
  top: 69.3%;
  width: 13.2%;
  transform: rotate(-8.69deg);
}
.dot_ganida #line16 {
  left: 81.3%;
  top: 69.3%;
  width: 13.9%;
  transform: rotate(8.28deg);
}
.dot_ganida #line17 {
  left: 50.1%;
  top: 49.9%;
  width: 9.8%;
  transform: rotate(-51.57deg);
}
.dot_ganida #line18 {
  left: 57.9%;
  top: 42.5%;
  width: 12.4%;
  transform: rotate(-10.03deg);
}
.dot_ganida #line19 {
  left: 47.3%;
  top: 63.6%;
  width: 10.7%;
  transform: rotate(82.38deg);
}
.dot_ganida #line20 {
  left: 40%;
  top: 67.9%;
  width: 13.8%;
  transform: rotate(20.19deg);
}
