.dot_greed {

    .dotImg {
        height: 30px;
    }
    #dot1 {
        right: 43.5%;
        top: 54%;
    }

    #dot2 {
        right: 51.7%;
        top: 48.6%;
    }

    #dot3 {
        right: 63.1%;
        top: 47.4%;
    }

    #dot4 {
        right: 74.7%;
        top: 39%;
    }

    #dot5 {
        right: 86.5%;
        top: 47.5%;
    }

    #dot6 {
        right: 53.4%;
        top: 59.8%;
    }

    #dot7 {
        right: 62.3%;
        top: 66.4%;
    }

    #dot8 {
        right: 74.7%;
        top: 56.5%;
    }

    #dot9 {
        right: 88.8%;
        top: 60.1%;
    }

    #dot10 {
        right: 29%;
        top: 48.6%;
    }

    #dot11 {
        right: 20.8%;
        top: 41%;
    }

    #dot12 {
        right: 11.3%;
        top: 47%;
    }

    #dot13 {
        right: -0.8%;
        top: 36.8%;
    }

    #dot14 {
        right: 32.8%;
        top: 59.5%;
    }

    #dot15 {
        right: 20.9%;
        top: 59.8%;
    }
    #dot16 {
        right: 11.3%;
        top: 66.1%;
    }
    #dot17 {
        right: -0.8%;
        top: 56.4%;
    }
    #dot18 {
        right: 40.2%;
        top: 40%;
    }
    #dot19 {
        right: 57.4%;
        top: 36.5%;
    }
    #dot20 {
        right: 51.5%;
        top: 70.9%;
    }
    #dot21 {
        right: 39.4%;
        top: 67.9%;
    }

    #line1 {
        left: 41.5%;
        top: 52.9%;
        width: 8.9%;
        transform: rotate(23.69deg);
    }

    #line2 {
        left: 30.4%;
        top: 49.6%;
        width: 11.5%;
        transform: rotate(4.17deg);
    }

    #line3 {
        left: 18.2%;
        top: 44.8%;
        width: 12.9%;
        transform: rotate(25.73deg);
    }

    #line4 {
        left: 6.4%;
        top: 44.9%;
        width: 13.1%;
        transform: rotate(-25.59deg);
    }

    #line5 {
        left: 39.7%;
        top: 58.5%;
        width: 10.6%;
        transform: rotate(-21.13deg);
    }

    #line6 {
        left: 30.7%;
        top: 64.7%;
        width: 9.9%;
        transform: rotate(-26.57deg);
    }

    #line7 {
        left: 18%;
        top: 63.1%;
        width: 14.1%;
        transform: rotate(27.93deg);
    }

    #line8 {
        left: 4.7%;
        top: 59.9%;
        width: 14.3%;
        transform: rotate(-9.74deg);
    }

    #line9 {
        left: 49.8%;
        top: 52.9%;
        width: 14.9%;
        transform: rotate(-13.88deg);
    }

    #line10 {
        left: 63.8%;
        top: 46.4%;
        width: 9.7%;
        transform: rotate(-31.64deg);
    }

    #line11 {
        left: 72.3%;
        top: 45.6%;
        width: 10.2%;
        transform: rotate(23.01deg);
    }

    #line12 {
        left: 81.3%;
        top: 43.5%;
        width: 14%;
        transform: rotate(-29.32deg);
    }

    #line13 {
        left: 49.7%;
        top: 58.4%;
        width: 11.4%;
        transform: rotate(18.83deg);
    }

    #line14 {
        left: 60.8%;
        top: 61.3%;
        width: 11.8%;
        transform: rotate(0.81deg);
    }

    #line15 {
        left: 72.1%;
        top: 64.6%;
        width: 10.5%;
        transform: rotate(23.92deg);
    }

    #line16 {
        left: 81.4%;
        top: 62.9%;
        width: 13.8%;
        transform: rotate(-28.11deg);
    }
    #line17 {
        left: 46.7%;
        top: 48.6%;
        width: 9.9%;
        transform: rotate(-70.35deg);
    }
    #line18 {
        left: 36%;
        top: 39.9%;
        width: 17.4%;
        transform: rotate(7.7deg);
    }
    #line19 {
        left: 39.1%;
        top: 64.1%;
        width: 13.8%;
        transform: rotate(-54.58deg);
    }
    #line20 {
        left: 41.9%;
        top: 71%;
        width: 12.3%;
        transform: rotate(-9.4deg);
    }
}