.dot_shade {

    .dotImg {
        height: 30px;
    }
    #dot1 {
        right: 41.6%;
        top: 54%;
    }

    #dot2 {
        right: 50.3%;
        top: 43.4%;
    }

    #dot3 {
        right: 64.5%;
        top: 39%;
    }

    #dot4 {
        right: 74.6%;
        top: 43.4%;
    }

    #dot5 {
        right: 88.3%;
        top: 40.1%;
    }

    #dot6 {
        right: 63.6%;
        top: 61.1%;
    }

    #dot7 {
        right: 73.3%;
        top: 56.9%;
    }

    #dot8 {
        right: 79.7%;
        top: 67.9%;
    }

    #dot9 {
        right: 89.1%;
        top: 63.5%;
    }

    #dot10 {
        right: 31.9%;
        top: 51%;
    }

    #dot11 {
        right: 19.8%;
        top: 51.9%;
    }

    #dot12 {
        right: 9.1%;
        top: 45.9%;
    }

    #dot13 {
        right: -2.1%;
        top: 51.9%;
    }

    #dot14 {
        right: 33.6%;
        top: 61.1%;
    }

    #dot15 {
        right: 25.3%;
        top: 68.5%;
    }
    #dot16 {
        right: 11.4%;
        top: 66.1%;
    }
    #dot17 {
        right: -2.1%;
        top: 68.5%;
    }
    #dot18 {
        right: 35.9%;
        top: 42.3%;
    }
    #dot19 {
        right: 23.5%;
        top: 38.4%;
    }
    #dot20 {
        right: 37.3%;
        top: 69.6%;
    }
    #dot21 {
        right: 52%;
        top: 64.8%;
    }

    #line1 {
        left: 41.9%;
        top: 50.3%;
        width: 11.3%;
        transform: rotate(38.99deg);
    }

    #line2 {
        left: 28.9%;
        top: 42.8%;
        width: 14.5%;
        transform: rotate(11.63deg);
    }

    #line3 {
        left: 18.7%;
        top: 42.8%;
        width: 10.5%;
        transform: rotate(-16.13deg);
    }

    #line4 {
        left: 5.2%;
        top: 43.4%;
        width: 13.8%;
        transform: rotate(9.01deg);
    }

    #line5 {
        left: 29.7%;
        top: 59.2%;
        width: 22.5%;
        transform: rotate(-12.18deg);
    }

    #line6 {
        left: 20%;
        top: 60.6%;
        width: 10.2%;
        transform: rotate(16.2deg);
    }

    #line7 {
        left: 11.9%;
        top: 64%;
        width: 10.1%;
        transform: rotate(-49deg);
    }

    #line8 {
        left: 4.2%;
        top: 67.3%;
        width: 9.2%;
        transform: rotate(18.43deg);
    }

    #line9 {
        left: 52.1%;
        top: 54.1%;
        width: 9.9%;
        transform: rotate(-11.69deg);
    }

    #line10 {
        left: 61.6%;
        top: 53.1%;
        width: 12.1%;
        transform: rotate(2.76deg);
    }

    #line11 {
        left: 73.3%;
        top: 50.5%;
        width: 11.5%;
        transform: rotate(-20.41deg);
    }

    #line12 {
        left: 84.1%;
        top: 50.5%;
        width: 11.9%;
        transform: rotate(19.71deg);
    }

    #line13 {
        left: 51.3%;
        top: 59.2%;
        width: 9.3%;
        transform: rotate(30.7deg);
    }

    #line14 {
        left: 59.2%;
        top: 66.4%;
        width: 9.6%;
        transform: rotate(30.79deg);
    }

    #line15 {
        left: 68.1%;
        top: 68.9%;
        width: 14%;
        transform: rotate(-6.49deg);
    }

    #line16 {
        left: 82%;
        top: 68.9%;
        width: 13.6%;
        transform: rotate(6.69deg);
    }
    #line17 {
        left: 49.9%;
        top: 49.8%;
        width: 9.7%;
        transform: rotate(-54.12deg);
    }
    #line18 {
        left: 57.5%;
        top: 41.9%;
        width: 12.7%;
        transform: rotate(-11.75deg);
    }
    #line19 {
        left: 48.4%;
        top: 63.4%;
        width: 11.3%;
        transform: rotate(67.41deg);
    }
    #line20 {
        left: 41.3%;
        top: 69%;
        width: 15.1%;
        transform: rotate(12.5deg);
    }
}