.commonContainer {
    position: fixed;
    bottom: 2px;
    height: 40px;
    width: 80%;
    margin-left: 10%;

    .commonList {
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-image: url(../../../public/img/listBg/listBg.jpg);
        background-size: 50%;
        font-size: larger;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.5);

        div:first-child {
            border-left: 2px solid;
            border-color: black;
        }

        .commonOption {
            border-right: 2px solid;
            border-top: 2px solid;
            border-bottom: 2px solid;
            border-color: black;
            width: 11.12%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            &:active {
                transform: translate(1px, 1px);
            }
        }


        .available {
            cursor: pointer;
            color: black;

            &:hover span {
                transform: scale(1.1, 1.1);
                transition-duration: 0.1s;
                // background-color: rgb(255, 196, 196);
                // background-color: rgb(122, 224, 207);
                // background-color: #C3E6E0;
            }
        }
    }
}