.template {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/bg/bg2.webp);
  background-size: 120%;
  background-position-x: -350px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -10;
}
.template .symbolContainer,
.template .dotContainer {
  position: relative;
}
.template .symbolContainer .line,
.template .dotContainer .line {
  height: 0;
  width: 100px;
  border-top: 3px solid rgba(182, 182, 182, 0.4);
  position: absolute;
}
