.dot_brazier {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 44.8%;
        top: 54%;
    }

    #dot2 {
        right: 53.2%;
        top: 44.3%;
    }

    #dot3 {
        right: 62.9%;
        top: 40.5%;
    }

    #dot4 {
        right: 73.9%;
        top: 42.1%;
    }

    #dot5 {
        right: 85.3%;
        top: 36.9%;
    }

    #dot6 {
        right: 55.9%;
        top: 56.5%;
    }

    #dot7 {
        right: 68.1%;
        top: 52.9%;
    }

    #dot8 {
        right: 78%;
        top: 62.1%;
    }

    #dot9 {
        right: 88.3%;
        top: 63.8%;
    }

    #dot10 {
        right: 33.4%;
        top: 50.8%;
    }

    #dot11 {
        right: 22.8%;
        top: 48%;
    }

    #dot12 {
        right: 11.6%;
        top: 54%;
    }

    #dot13 {
        right: 3%;
        top: 43.8%;
    }

    #dot14 {
        right: 36.3%;
        top: 64.8%;
    }

    #dot15 {
        right: 25.4%;
        top: 67.9%;
    }

    #dot16 {
        right: 14.7%;
        top: 63.4%;
    }

    #dot17 {
        right: 2.1%;
        top: 65.5%;
    }

    #dot18 {
        right: 38.6%;
        top: 42%;
    }

    #dot19 {
        right: 18.7%;
        top: 38.4%;
    }

    #dot20 {
        right: 48.1%;
        top: 67%;
    }

    #dot21 {
        right: 62.9%;
        top: 69.6%;
    }

    #line1 {
        left: 39.2%;
        top: 50.8%;
        width: 10.6%;
        transform: rotate(37.68deg);
    }

    #line2 {
        left: 30.4%;
        top: 44%;
        width: 10%;
        transform: rotate(14.38deg);
    }

    #line3 {
        left: 19.6%;
        top: 42.9%;
        width: 11.1%;
        transform: rotate(-5.62deg);
    }

    #line4 {
        left: 8%;
        top: 41.1%;
        width: 11.9%;
        transform: rotate(17.04deg);
    }

    #line5 {
        left: 37.5%;
        top: 56.9%;
        width: 11.3%;
        transform: rotate(-8.49deg);
    }

    #line6 {
        left: 25.3%;
        top: 56.3%;
        width: 12.4%;
        transform: rotate(11.23deg);
    }

    #line7 {
        left: 14.6%;
        top: 59.1%;
        width: 11.7%;
        transform: rotate(-31.88deg);
    }

    #line8 {
        left: 5.1%;
        top: 64.6%;
        width: 10.4%;
        transform: rotate(-5.98deg);
    }

    #line9 {
        left: 48.6%;
        top: 54.1%;
        width: 11.5%;
        transform: rotate(-10deg);
    }

    #line10 {
        left: 60%;
        top: 51.1%;
        width: 10.8%;
        transform: rotate(-9.32deg);
    }

    #line11 {
        left: 70.4%;
        top: 52.6%;
        width: 11.9%;
        transform: rotate(19.71deg);
    }

    #line12 {
        left: 80.7%;
        top: 50.7%;
        width: 11%;
        transform: rotate(-38.52deg);
    }

    #line13 {
        left: 47.3%;
        top: 61%;
        width: 11.1%;
        transform: rotate(40.14deg);
    }

    #line14 {
        left: 57.2%;
        top: 67.9%;
        width: 11%;
        transform: rotate(10.89deg);
    }

    #line15 {
        left: 67.9%;
        top: 67.3%;
        width: 11.2%;
        transform: rotate(-15.59deg);
    }

    #line16 {
        left: 78.8%;
        top: 66.1%;
        width: 12.7%;
        transform: rotate(6.42deg);
    }

    #line17 {
        left: 46.8%;
        top: 49.6%;
        width: 10.1%;
        transform: rotate(-52.37deg);
    }

    #line18 {
        left: 54.8%;
        top: 41.8%;
        width: 20.1%;
        transform: rotate(-6.93deg);
    }

    #line19 {
        left: 42.4%;
        top: 62.1%;
        width: 9.3%;
        transform: rotate(-68.96deg);
    }

    #line20 {
        left: 30.5%;
        top: 69.9%;
        width: 14.9%;
        transform: rotate(-6.73deg);
    }
}