.dot_brazier .dotImg {
  height: 30px;
}
.dot_brazier #dot1 {
  right: 44.8%;
  top: 54%;
}
.dot_brazier #dot2 {
  right: 53.2%;
  top: 44.3%;
}
.dot_brazier #dot3 {
  right: 62.9%;
  top: 40.5%;
}
.dot_brazier #dot4 {
  right: 73.9%;
  top: 42.1%;
}
.dot_brazier #dot5 {
  right: 85.3%;
  top: 36.9%;
}
.dot_brazier #dot6 {
  right: 55.9%;
  top: 56.5%;
}
.dot_brazier #dot7 {
  right: 68.1%;
  top: 52.9%;
}
.dot_brazier #dot8 {
  right: 78%;
  top: 62.1%;
}
.dot_brazier #dot9 {
  right: 88.3%;
  top: 63.8%;
}
.dot_brazier #dot10 {
  right: 33.4%;
  top: 50.8%;
}
.dot_brazier #dot11 {
  right: 22.8%;
  top: 48%;
}
.dot_brazier #dot12 {
  right: 11.6%;
  top: 54%;
}
.dot_brazier #dot13 {
  right: 3%;
  top: 43.8%;
}
.dot_brazier #dot14 {
  right: 36.3%;
  top: 64.8%;
}
.dot_brazier #dot15 {
  right: 25.4%;
  top: 67.9%;
}
.dot_brazier #dot16 {
  right: 14.7%;
  top: 63.4%;
}
.dot_brazier #dot17 {
  right: 2.1%;
  top: 65.5%;
}
.dot_brazier #dot18 {
  right: 38.6%;
  top: 42%;
}
.dot_brazier #dot19 {
  right: 18.7%;
  top: 38.4%;
}
.dot_brazier #dot20 {
  right: 48.1%;
  top: 67%;
}
.dot_brazier #dot21 {
  right: 62.9%;
  top: 69.6%;
}
.dot_brazier #line1 {
  left: 39.2%;
  top: 50.8%;
  width: 10.6%;
  transform: rotate(37.68deg);
}
.dot_brazier #line2 {
  left: 30.4%;
  top: 44%;
  width: 10%;
  transform: rotate(14.38deg);
}
.dot_brazier #line3 {
  left: 19.6%;
  top: 42.9%;
  width: 11.1%;
  transform: rotate(-5.62deg);
}
.dot_brazier #line4 {
  left: 8%;
  top: 41.1%;
  width: 11.9%;
  transform: rotate(17.04deg);
}
.dot_brazier #line5 {
  left: 37.5%;
  top: 56.9%;
  width: 11.3%;
  transform: rotate(-8.49deg);
}
.dot_brazier #line6 {
  left: 25.3%;
  top: 56.3%;
  width: 12.4%;
  transform: rotate(11.23deg);
}
.dot_brazier #line7 {
  left: 14.6%;
  top: 59.1%;
  width: 11.7%;
  transform: rotate(-31.88deg);
}
.dot_brazier #line8 {
  left: 5.1%;
  top: 64.6%;
  width: 10.4%;
  transform: rotate(-5.98deg);
}
.dot_brazier #line9 {
  left: 48.6%;
  top: 54.1%;
  width: 11.5%;
  transform: rotate(-10deg);
}
.dot_brazier #line10 {
  left: 60%;
  top: 51.1%;
  width: 10.8%;
  transform: rotate(-9.32deg);
}
.dot_brazier #line11 {
  left: 70.4%;
  top: 52.6%;
  width: 11.9%;
  transform: rotate(19.71deg);
}
.dot_brazier #line12 {
  left: 80.7%;
  top: 50.7%;
  width: 11%;
  transform: rotate(-38.52deg);
}
.dot_brazier #line13 {
  left: 47.3%;
  top: 61%;
  width: 11.1%;
  transform: rotate(40.14deg);
}
.dot_brazier #line14 {
  left: 57.2%;
  top: 67.9%;
  width: 11%;
  transform: rotate(10.89deg);
}
.dot_brazier #line15 {
  left: 67.9%;
  top: 67.3%;
  width: 11.2%;
  transform: rotate(-15.59deg);
}
.dot_brazier #line16 {
  left: 78.8%;
  top: 66.1%;
  width: 12.7%;
  transform: rotate(6.42deg);
}
.dot_brazier #line17 {
  left: 46.8%;
  top: 49.6%;
  width: 10.1%;
  transform: rotate(-52.37deg);
}
.dot_brazier #line18 {
  left: 54.8%;
  top: 41.8%;
  width: 20.1%;
  transform: rotate(-6.93deg);
}
.dot_brazier #line19 {
  left: 42.4%;
  top: 62.1%;
  width: 9.3%;
  transform: rotate(-68.96deg);
}
.dot_brazier #line20 {
  left: 30.5%;
  top: 69.9%;
  width: 14.9%;
  transform: rotate(-6.73deg);
}
