.dot_caspol {

    .dotImg {
        height: 30px;
    }
    #dot1 {
        right: 41.3%;
        top: 64.9%;
    }

    #dot2 {
        right: 46.3%;
        top: 47.6%;
    }

    #dot3 {
        right: 56.7%;
        top: 39.1%;
    }

    #dot4 {
        right: 67.8%;
        top: 36.8%;
    }

    #dot5 {
        right: 81.8%;
        top: 35.5%;
    }

    #dot6 {
        right: 50.1%;
        top: 59%;
    }

    #dot7 {
        right: 60.8%;
        top: 57.5%;
    }

    #dot8 {
        right: 71.9%;
        top: 57.5%;
    }

    #dot9 {
        right: 85.2%;
        top: 61.9%;
    }

    #dot10 {
        right: 35.6%;
        top: 45.8%;
    }

    #dot11 {
        right: 27.8%;
        top: 37.8%;
    }

    #dot12 {
        right: 16.1%;
        top: 35%;
    }

    #dot13 {
        right: 5.3%;
        top: 27.4%;
    }

    #dot14 {
        right: 30.9%;
        top: 58%;
    }

    #dot15 {
        right: 19.4%;
        top: 50.6%;
    }
    #dot16 {
        right: 10.1%;
        top: 55.6%;
    }
    #dot17 {
        right: 4.7%;
        top: 44%;
    }
    #dot18 {
        right: 56%;
        top: 71.4%;
    }
    #dot19 {
        right: 74.2%;
        top: 72.4%;
    }
    #dot20 {
        right: 27.3%;
        top: 70.3%;
    }
    #dot21 {
        right: 14.8%;
        top: 68%;
    }

    #line1 {
        left: 43.4%;
        top: 57.9%;
        width: 12.6%;
        transform: rotate(66.15deg);
    }

    #line2 {
        left: 36.1%;
        top: 45%;
        width: 11.8%;
        transform: rotate(28.74deg);
    }

    #line3 {
        left: 25.7%;
        top: 39.6%;
        width: 11.2%;
        transform: rotate(8.13deg);
    }

    #line4 {
        left: 11.7%;
        top: 37.8%;
        width: 14.1%;
        transform: rotate(3.39deg);
    }

    #line5 {
        left: 43%;
        top: 63.6%;
        width: 9.6%;
        transform: rotate(23.46deg);
    }

    #line6 {
        left: 32.7%;
        top: 59.9%;
        width: 10.7%;
        transform: rotate(5.36deg);
    }

    #line7 {
        left: 21.6%;
        top: 59.1%;
        width: 11.2%;
        transform: rotate(0deg);
    }

    #line8 {
        left: 8.2%;
        top: 61.3%;
        width: 13.6%;
        transform: rotate(-12.41deg);
    }

    #line9 {
        left: 48.1%;
        top: 56.9%;
        width: 14%;
        transform: rotate(-66.04deg);
    }

    #line10 {
        left: 57.1%;
        top: 43.4%;
        width: 9.5%;
        transform: rotate(-34.25deg);
    }

    #line11 {
        left: 65.7%;
        top: 38%;
        width: 11.8%;
        transform: rotate(-8.93deg);
    }

    #line12 {
        left: 76.8%;
        top: 32.8%;
        width: 11.9%;
        transform: rotate(-25.31deg);
    }

    #line13 {
        left: 51.8%;
        top: 63.1%;
        width: 11.3%;
        transform: rotate(-23.92deg);
    }

    #line14 {
        left: 62.1%;
        top: 55.9%;
        width: 12.5%;
        transform: rotate(-23.15deg);
    }

    #line15 {
        left: 73.8%;
        top: 54.7%;
        width: 9.9%;
        transform: rotate(19.2deg);
    }

    #line16 {
        left: 81.4%;
        top: 51.4%;
        width: 9.5%;
        transform: rotate(-55.05deg);
    }
    #line17 {
        left: 37.2%;
        top: 69.8%;
        width: 15.4%;
        transform: rotate(-16.37deg);
    }
    #line18 {
        left: 19.3%;
        top: 73.5%;
        width: 18.2%;
        transform: rotate(-2.1deg);
    }
    #line19 {
        left: 52%;
        top: 69.2%;
        width: 14.5%;
        transform: rotate(14.36deg);
    }
    #line20 {
        left: 66.2%;
        top: 70.8%;
        width: 12.6%;
        transform: rotate(-6.84deg);
    }
}