.dot_regret {

    .dotImg {
        height: 30px;
    }

    #dot1 {
        right: 43.4%;
        top: 53.5%;
    }

    #dot2 {
        right: 53.7%;
        top: 47.9%;
    }

    #dot3 {
        right: 62%;
        top: 41%;
    }

    #dot4 {
        right: 72.3%;
        top: 40.5%;
    }

    #dot5 {
        right: 86.4%;
        top: 47.1%;
    }

    #dot6 {
        right: 63.5%;
        top: 55%;
    }

    #dot7 {
        right: 69.6%;
        top: 66%;
    }

    #dot8 {
        right: 77.9%;
        top: 59%;
    }

    #dot9 {
        right: 86.4%;
        top: 70.8%;
    }

    #dot10 {
        right: 33.8%;
        top: 47.9%;
    }

    #dot11 {
        right: 25.9%;
        top: 39.9%;
    }

    #dot12 {
        right: 5.9%;
        top: 36.6%;
    }

    #dot13 {
        right: 13.9%;
        top: 44.6%;
    }

    #dot14 {
        right: 33.8%;
        top: 62.4%;
    }

    #dot15 {
        right: 22.5%;
        top: 59%;
    }

    #dot16 {
        right: 11.7%;
        top: 63.8%;
    }

    #dot17 {
        right: 0.4%;
        top: 53.5%;
    }

    #dot18 {
        right: 42.1%;
        top: 44.4%;
    }

    #dot19 {
        right: 51.3%;
        top: 39.1%;
    }

    #dot20 {
        right: 46%;
        top: 64.6%;
    }

    #dot21 {
        right: 56.5%;
        top: 67.9%;
    }

    #line1 {
        left: 39.5%;
        top: 52.3%;
        width: 10.9%;
        transform: rotate(20.1deg);
    }

    #line2 {
        left: 30.9%;
        top: 46.1%;
        width: 9.5%;
        transform: rotate(28.81deg);
    }

    #line3 {
        left: 21.3%;
        top: 42.4%;
        width: 10.3%;
        transform: rotate(1.86deg);
    }

    #line4 {
        left: 6.8%;
        top: 45.4%;
        width: 14.8%;
        transform: rotate(-17.32deg);
    }

    #line5 {
        left: 30%;
        top: 55.9%;
        width: 20.1%;
        transform: rotate(-2.85deg);
    }

    #line6 {
        left: 22.2%;
        top: 62.1%;
        width: 9.5%;
        transform: rotate(-50.32deg);
    }

    #line7 {
        left: 15%;
        top: 64.1%;
        width: 9.6%;
        transform: rotate(29.25deg);
    }

    #line8 {
        left: 5.6%;
        top: 66.5%;
        width: 11.6%;
        transform: rotate(-42.66deg);
    }

    #line9 {
        left: 49.7%;
        top: 52.3%;
        width: 10.3%;
        transform: rotate(-21.37deg);
    }

    #line10 {
        left: 58.9%;
        top: 45.5%;
        width: 9.5%;
        transform: rotate(-33.97deg);
    }

    #line11 {
        left: 67.5%;
        top: 39.9%;
        width: 20.1%;
        transform: rotate(-6.18deg);
    }

    #line12 {
        left: 78.8%;
        top: 42.3%;
        width: 9.6%;
        transform: rotate(-33.69deg);
    }

    #line13 {
        left: 49.2%;
        top: 59.6%;
        width: 11.3%;
        transform: rotate(31.69deg);
    }

    #line14 {
        left: 59.6%;
        top: 62.3%;
        width: 11.6%;
        transform: rotate(-11.23eg);
    }

    #line15 {
        left: 70.8%;
        top: 63%;
        width: 11.3%;
        transform: rotate(16.29deg);
    }

    #line16 {
        left: 80.9%;
        top: 60.3%;
        width: 13.2%;
        transform: rotate(-31.27deg);
    }

    #line17 {
        left: 47.9%;
        top: 50.4%;
        width: 6%;
        transform: rotate(-77deg);
    }

    #line18 {
        left: 42%;
        top: 43.5%;
        width: 9.7%;
        transform: rotate(20.15deg);
    }

    #line19 {
        left: 44.9%;
        top: 60.7%;
        width: 7.9%;
        transform: rotate(-70.8deg);
    }

    #line20 {
        left: 36.9%;
        top: 67.9%;
        width: 10.7%;
        transform: rotate(-11.66deg);
    }
}