.symbol_I #aphros {
  top: 15%;
  right: 45%;
}
.symbol_I #cliff {
  top: 42%;
  right: 35%;
}
.symbol_I #plains {
  top: 68%;
  right: 58%;
}
.symbol_I #line1 {
  width: 16%;
  top: 32.7%;
  right: 35.8%;
  transform: rotate(66.3deg);
}
.symbol_I #line2 {
  width: 22%;
  top: 59%;
  right: 39%;
  transform: rotate(-44.73deg);
}
.symbol_I #line3 {
  width: 37%;
  top: 45.5%;
  right: 36.7%;
  transform: rotate(-73.5deg);
}
