.symbol_II {

    #explorer {
        top: 16%;
        right: 43%;
    }

    #wanderer {
        top: 36%;
        right: 66%;
    }

    #swamp {
        top: 62.5%;
        right: 52%;
    }

    #forest {
        top: 44%;
        right: 30%;
    }

    #line1 {
        width: 19.5%;
        top: 30.2%;
        right: 48.4%;
        transform: rotate(-36.8deg);
    }

    #line2 {
        width: 17.5%;
        top: 53.4%;
        right: 53.8%;
        transform: rotate(58.2deg);
    }

    #line3 {
        width: 18%;
        top: 57.4%;
        right: 35.6%;
        transform: rotate(-36.6deg);
    }

    #line4 {
        width: 18%;
        top: 34.1%;
        right: 31.2%;
        transform: rotate(61.8deg);
    }

}