.symbol_III #eunos {
  top: 34%;
  right: 66%;
}
.symbol_III #rock {
  top: 22%;
  right: 42%;
}
.symbol_III #gem {
  top: 45%;
  right: 33%;
}
.symbol_III #gold {
  top: 68%;
  right: 59%;
}
.symbol_III #line1 {
  width: 17.8%;
  top: 32%;
  right: 48.72%;
  transform: rotate(-23.6deg);
}
.symbol_III #line2 {
  width: 12.7%;
  top: 37.6%;
  right: 34.8%;
  transform: rotate(65.4deg);
}
.symbol_III #line3 {
  width: 24%;
  top: 60.5%;
  right: 37.7%;
  transform: rotate(-37.8deg);
}
.symbol_III #line4 {
  width: 21%;
  top: 55.2%;
  right: 55.7%;
  transform: rotate(76.2deg);
}
