.symbol_IV #prele {
  top: 77%;
  right: 42%;
}
.symbol_IV #seed {
  top: 55%;
  right: 46%;
}
.symbol_IV #leaf {
  top: 46.5%;
  right: 66%;
}
.symbol_IV #petal {
  top: 20%;
  right: 64%;
}
.symbol_IV #stem {
  top: 14%;
  right: 43%;
}
.symbol_IV #root {
  top: 35%;
  right: 31%;
}
.symbol_IV #line1 {
  width: 11%;
  top: 70%;
  right: 42.2%;
  transform: rotate(77.2deg);
}
.symbol_IV #line2 {
  width: 13%;
  top: 55%;
  right: 53.2%;
  transform: rotate(21deg);
}
.symbol_IV #line3 {
  width: 14%;
  top: 37.4%;
  right: 61.6%;
  transform: rotate(-83.7deg);
}
.symbol_IV #line4 {
  width: 13.4%;
  top: 20.9%;
  right: 50.4%;
  transform: rotate(-14.1deg);
}
.symbol_IV #line5 {
  width: 13%;
  top: 28.5%;
  right: 34.2%;
  transform: rotate(56.7deg);
}
.symbol_IV #line6 {
  width: 14.2%;
  top: 49.1%;
  right: 35.1%;
  transform: rotate(-48deg);
}
