.symbol_IV {
    
    #prele {
        top: 77%;
        right: 42%;
    }
    #seed {
        top: 55%;
        right: 46%;
    }
    #leaf {
        top: 46.5%;
        right: 66%;
    }
    #petal {
        top: 20%;
        right: 64%;
    }
    #stem {
        top: 14%;
        right: 43%;
    }
    #root {
        top: 35%;
        right: 31%;
    }

    #line1 {
        width: 11%;
        top: 70%;
        right: 42.2%;
        transform: rotate(77.2deg);
    }
    #line2 {
        width: 13%;
        top: 55%;
        right: 53.2%;
        transform: rotate(21deg);
    }
    #line3 {
        width: 14%;
        top: 37.4%;
        right: 61.6%;
        transform: rotate(-83.7deg);
    }
    #line4 {
        width: 13.4%;
        top: 20.9%;
        right: 50.4%;
        transform: rotate(-14.1deg);
    }
    #line5 {
        width: 13%;
        top: 28.5%;
        right: 34.2%;
        transform: rotate(56.7deg);
    }
    #line6 {
        width: 14.2%;
        top: 49.1%;
        right: 35.1%;
        transform: rotate(-48deg);
    }
}