.symbol_V {

    .symbol, .symbolImg {
        width: 35px;
        height: 35px;
    }

    #constrast {
        top: 57%;
        right: 52%;
    }

    #flash {
        top: 75.5%;
        right: 56%;
    }

    #mist {
        top: 65%;
        right: 34%;
    }

    #hira {
        top: 42%;
        right: 35%;
    }

    #dewdrop {
        top: 23%;
        right: 37%;
    }

    #fruit {
        top: 33%;
        right: 50%;
    }

    #frost {
        top: 37%;
        right: 71%;
    }

    #lightning {
        top: 19%;
        right: 65%;
    }

    #rainbow {
        top: 8%;
        right: 47%;
    }

    #mine {
        top: 81%;
        right: 41%;
    }


    #line1 {
        width: 9.7%;
        top: 69.2%;
        right: 51.9%;
        transform: rotate(-75.4deg);
    }

    #line2 {
        width: 12.5%;
        top: 64%;
        right: 39.5%;
        transform: rotate(21.8deg);
    }

    #line3 {
        width: 8.7%;
        top: 76%;
        right: 36%;
        transform: rotate(-62.8deg);
    }

    #line4 {
        width: 9.2%;
        top: 81.3%;
        right: 46.8%;
        transform: rotate(19.2deg);
    }

    #line5 {
        width: 14.6%;
        top: 52.2%;
        right: 39.1%;
        transform: rotate(-37.5deg);
    }

    #line6 {
        width: 9.5%;
        top: 35.55%;
        right: 34.1%;
        transform: rotate(83deg);
    }

    #line7 {
        width: 9%;
        top: 30.9%;
        right: 41.8%;
        transform: rotate(-35deg);
    }

    #line8 {
        width: 14.7%;
        top: 38%;
        right: 55.9%;
        transform: rotate(-8.5deg);
    }

    #line9 {
        width: 9.5%;
        top: 31.15%;
        right: 66%;
        transform: rotate(-67.2deg);
    }
    #line10 {
        width: 13.5%;
        top: 16.4%;
        right: 52.16%;
        transform: rotate(-28.2deg);
    }
}