.symbol_VI {

    #nemera {
        top: 52%;
        right: 73%;
    }
    
    #breath {
        top: 26%;
        right: 67%;
    }
    #flow {
        top: 23%;
        right: 47%;
    }
    
    #tri {
        top: 43%;
        right: 36%;
    }
    #float {
        top: 61%;
        right: 34%;
    }
    #cycle {
        top: 81%;
        right: 61%;
    }
    #convection {
        top: 45%;
        right: 17%;
    }
    #laughter {
        top: 16.5%;
        right: 20%;
    }

    #line1 {
        width: 14%;
        top: 43.5%;
        right: 67.3%;
        transform: rotate(-74deg);
    }
    #line2 {
        width: 12%;
        top: 28.25%;
        right: 54.66%;
        transform: rotate(-7.7deg);
    }
    #line3 {
        width: 11.7%;
        top: 37.1%;
        right: 39.4%;
        transform: rotate(57.5deg);
    }
    #line4 {
        width: 6.8%;
        top: 56.5%;
        right: 35.8%;
        transform: rotate(82.8deg);
    }
    #line5 {
        width: 23.3%;
        top: 75%;
        right: 39.5%;
        transform: rotate(-32.5deg);
    }
    #line6 {
        width: 10.8%;
        top: 48%;
        right: 24.8%;
        transform: rotate(5.7deg);
    }
    #line7 {
        width: 15.2%;
        top: 34.8%;
        right: 14.6%;
        transform: rotate(83deg);
    }
}