.symbol_VII {

    .symbol, .symbolImg {
        width: 35px;
        height: 35px;
    }

    #dust {
        top: 67%;
        right: 83%;
    }
    #scent {
        top: 55%;
        right: 63%;
    }
    #stench {
        top: 71%;
        right: 52%;
    }
    #ortemis {
        top: 37%;
        right: 51%;
    }
    #air {
        top: 50.5%;
        right: 41.5%;
    }
    #deadly-poison {
        top: 22%;
        right: 30%;
    }
    #spider {
        top: 33%;
        right: 17.5%;
    }
    #maggot {
        top: 62%;
        right: 27%;
    }

    #line1 {
        width: 15.8%;
        top: 64%;
        right: 67.9%;
        transform: rotate(-28.2deg);
    }
    #line2 {
        width: 12.7%;
        top: 49.1%;
        right: 53.5%;
        transform: rotate(-51.5deg);
    }
    #line3 {
        width: 17.8%;
        top: 32.5%;
        right: 34.5%;
        transform: rotate(-32deg);
    }
    #line4 {
        width: 11%;
        top: 66%;
        right: 55%;
        transform: rotate(51.5deg);
    }
    #line5 {
        width: 8.4%;
        top: 46.8%;
        right: 44.6%;
        transform: rotate(50deg);
    }
    #line6 {
        width: 8.8%;
        top: 30.4%;
        right: 22%;
        transform: rotate(37.5deg);
    }
    #line7 {
        width: 19.6%;
        top: 50.6%;
        right: 15.2%;
        transform: rotate(-68.7deg);
    }
}