.symbol_VIII .symbol, .symbol_VIII .symbolImg {
  width: 35px;
  height: 35px;
}
.symbol_VIII #decay {
  top: 45%;
  right: 14%;
}
.symbol_VIII #plague {
  top: 59%;
  right: 23%;
}
.symbol_VIII #laia {
  top: 55%;
  right: 41%;
}
.symbol_VIII #carpenter {
  top: 32%;
  right: 36%;
}
.symbol_VIII #farmer {
  top: 20.5%;
  right: 49%;
}
.symbol_VIII #hunter {
  top: 26%;
  right: 66%;
}
.symbol_VIII #shepherd {
  top: 42%;
  right: 54%;
}
.symbol_VIII #shadow {
  top: 37%;
  right: 79%;
}
.symbol_VIII #aurora {
  top: 57.5%;
  right: 75%;
}
.symbol_VIII #blacksmith {
  top: 65%;
  right: 61%;
}
.symbol_VIII #line1 {
  width: 8.4%;
  top: 55.2%;
  right: 17%;
  transform: rotate(-52.7deg);
}
.symbol_VIII #line2 {
  width: 11.9%;
  top: 60%;
  right: 28.8%;
  transform: rotate(11.4deg);
}
.symbol_VIII #line3 {
  width: 10.5%;
  top: 51.7%;
  right: 45.1%;
  transform: rotate(41deg);
}
.symbol_VIII #line4 {
  width: 13.4%;
  top: 46.7%;
  right: 34.5%;
  transform: rotate(-75.5deg);
}
.symbol_VIII #line5 {
  width: 9.9%;
  top: 29.4%;
  right: 40.4%;
  transform: rotate(38deg);
}
.symbol_VIII #line6 {
  width: 12.2%;
  top: 34.4%;
  right: 48.2%;
  transform: rotate(-74deg);
}
.symbol_VIII #line7 {
  width: 11.2%;
  top: 26.3%;
  right: 54.66%;
  transform: rotate(-16deg);
}
.symbol_VIII #line8 {
  width: 19%;
  top: 42.5%;
  right: 59.7%;
  transform: rotate(10.6deg);
}
.symbol_VIII #line9 {
  width: 11.2%;
  top: 50.4%;
  right: 74.2%;
  transform: rotate(77.52deg);
}
.symbol_VIII #line10 {
  width: 9%;
  top: 64.5%;
  right: 66.4%;
  transform: rotate(25.2deg);
}
